[2016-04-21 15:09] GaryKeeble opened #1 "Changing Log Setup doesn't refresh the graph fields"
At the moment, changing log setup to manually enter the configuration settings for rate etc does not update the graphs in the chart.

Re-loading the log file after changing the settings is a workaround at the moment.

This item is now fixed and will be in the next version

[2016-04-21 15:11] GaryKeeble opened #2 "Super Expo not used in deg/s calculation"
The Super-Expo factor is not used in the conversion of rcCommand to deg/s yet.

[2016-04-21 15:12] GaryKeeble opened #3 "How to get the analyser to display is not clear enough"
Originally raised by CptanPanic; thanks

To display the analyser for a graph field, the user must select the required graph field from the legend on the RHS of the chart;

It is not obvious that the fields can be clicked; maybe add some kind of icon next to the field.

[2016-04-21 15:14] GaryKeeble opened #4 "Add ability to hide craft and sticks"
Want to be able to hide the craft and stick position overlays from the chart area so that we can focus on the chart directly.

[2016-04-21 15:17] GaryKeeble commented on #2
I am having trouble working out when Super-Expo is active so that I can correct the rcCommand rate....
Might need to add this status to the logged fields but I was trying to minimise the log changes to reduce memory requirements for those using the in-built memory of the flight controller

[2016-04-21 15:21] GaryKeeble opened #5 "Add middle mouse button click to start/pause log playback"
The middle mouse button click is not used at the moment; might as well add this functionality in the next release.

[2016-04-22 06:13] #1 closed

[2016-04-23 06:48] GaryKeeble opened #6 "Add field button broken"
On graph setup dialog box, the add field button does not work. The only way to add new fields is to select an example graph and then change the fields.

[2016-04-23 07:00] #6 closed

[2016-04-24 16:09] #4 closed

[2016-04-24 16:09] #3 closed

[2016-04-29 12:38] GaryKeeble opened #7 "User Header Entries"
Thinking of adding customisable "Virtual" header fields to the text file once it has got onto your PC/MAC.

Idea is that a header line could be added to the log from within the viewer tool; these custom headers could allow you to:-

1. If you have a video loaded, store the name of the video and it's offset in a header line. So that next time you open the log file, it could automatically load the v

[2016-06-07 04:45] Arakon opened #8 "Maxing out CPU"
I'm sorry that this report will be fairly vague, but I have no more details than this.

- When switching between several logs (16 MB usually), leaving the BB viewer open for a while, switching between hotkey displays, etc, eventually scrolling by grabbing the trace view or throttle graph with the mouse and pulling left or right will randomly freeze first the app itself and any other chrome apps fo

[2016-06-07 06:15] GaryKeeble commented on #8
@Arakon Thanks for the feedback report, I have managed to replicate the issue on my machine and it is related to the spectrum analyser feature grabbing an audio context every-time the log file is changed (Chrome has a limit of 6 times before crashing...).

I have patched the viewer to cater for this so the problem should be resolved. If you could try it please and let me know if you still have iss

[2016-06-07 16:40] Arakon commented on #8
I just messed around with it some and it appears to be fixed. I didn't do any detailed testing, but if it occurs again during everyday use, I'll reopen this.
Thanks for the quick fix.

[2016-06-07 16:40] #8 closed

[2016-06-09 12:36] borisbstyle opened #9 "Join Betaflight group"
I will add you to betaflight group if you want you can put your blackbox repository in there?

[2016-06-09 12:46] GaryKeeble commented on #9
OK, thanks...will do...
Much better place to have it :-)

[2016-06-09 13:01] GaryKeeble commented on #9
Transfered....

Thank You.

[2016-06-09 13:01] #9 closed

[2016-07-01 11:50] GaryKeeble commented on #7
Not Required

[2016-07-01 11:50] #7 closed

[2016-07-01 11:50] GaryKeeble commented on #5
Not Required

[2016-07-01 11:50] #5 closed

[2016-08-02 23:40] borisbstyle opened #11 "Release Management"
@GaryKeeble
Keep track of versioning in manifest file. I am not putting it into chrome store.

[2016-08-03 07:43] GaryKeeble commented on #11
@borisbstyle
No problem;

I have only added a link to the welcome page that looks at github for the latest release and shows a button with the current latest release in it. User's can then click button to go to the github 'releases' page and download it if they want to. Isn't truly release management but will help users know when something new is available.

Can remove it completely if you prefer.

[2016-08-03 07:44] borisbstyle commented on #11
@GaryKeeble
Its no problem at all. I was just notifying you that its in chrome store from now :D

[2016-08-03 07:48] GaryKeeble commented on #11
Oh; right; excellent. :-)

[2016-08-13 00:31] etracer65 opened #13 "Spectrum analyzer display size on changing log entries"
Running the latest version directly from github (commit 518a636).

If the spectrum analyzer window is maximized, selecting a different log resets the display to the small window but the button stays in the maximized state.  So clicking the button doesn't do anything because the window is already small.  Just looks like the window shouldn't revert in size when selecting a new log.

[2016-08-13 06:40] GaryKeeble commented on #13
Yes; I can replicate this bug; thanks for finding it and letting me know.

As a short-term workaround; a second press of the button reverts the system to normal behaviour (until you open another log with the analyser maximised that is);

[2016-08-13 12:13] etracer65 opened #14 "Feature Request: Show frequency hover on mouse position over analyzer"
It would be really helpful to see the frequency the mouse is over to help determine cutoffs.  The analyzer is automatically finding the center of the motor noise which is good, but it's a little tough to determine the cutoff.

[2016-08-14 10:06] GaryKeeble commented on #13
This is now fixed in the development branch; It will be included in version 2.5.2

[2016-08-14 10:09] GaryKeeble commented on #14
Thanks for the suggestion...
I have added a marker line that shows the frequency of the mouse position as you move over the analyser window whilst holding down the **SHIFT** key. This is currently in the development branch only but will be part of version 2.5.2.

[2016-08-14 12:31] etracer65 commented on #14
I took a look at the current development version and it looks great!  I really like how the marker stays rather than just be a hover value - great idea.  This makes it so much easier to find the cutoff values for the notch filter.

[2016-08-14 14:42] etracer65 opened #16 "New icon suggestion"
I thought perhaps it would make sense to have a new icon to remove the "CF" and make it Betaflight.  I'm not a graphic artist, but I hacked something up quickly as an example.

http://www.etracer.net/graphics/icon-128.png

[2016-08-14 14:44] GaryKeeble commented on #16
Thank's
I'll use that one :)

[2016-08-14 14:44] #16 closed

[2016-08-14 14:49] etracer65 opened #17 "Feature Request: Adjustable frequency rang in analyzer"
Sorry, not trying to spam you :)

It would be really useful to be able to adult the min/max frequency range (horizontal axis) to allow more precise analysis of the waveform.  Often the stuff beyond 300hz is not useful but the display going all the way to half the sample frequency (I presume) causes the interesting stuff to scale quite small.

[2016-08-14 14:56] GaryKeeble commented on #17
Everyone's suggestions are always welcome :)

I must admit; i've wanted to do something like this for a while; I think, for simplicity, i'll try to add the maximum range to the user settings dialog box to make it remember your preference. And your right at the moment the scale is automatically half of the log sample frequency.

[2016-08-14 15:03] etracer65 commented on #17
Sounds good.  They only concern might be that is its a saved setting people might not be able to see any oddities in the spectrum when opening a new log.  You may be interested primarily in the lower frequency stuff, but you might miss some high frequency spike.

Alternately the display could always default to the 1/2 sample range and have some interface to adjust the end point (slider?).

It's a

[2016-08-14 15:05] GaryKeeble commented on #17
Your absolutely right, slider is the best way to go....

[2016-08-14 16:54] GaryKeeble commented on #17
I have added two additional slider controls to the fullscreen analyser window. These should allow you to zoom in the frequency range and vertical height of the data.

[2016-08-14 17:35] etracer65 commented on #17
It looks like there are some bugs.  If I move either slider, the graph disappears and simply has "undefined" in the bottom right.  Also the frequency range always jumps to 1/4 the sample rate even when moving the vertical slider.  Resizing the window restores the graph but it seems to return to the default settings (1/2 sample and default scaling) regardless of the sliders.  This is on OS X Chrome

[2016-08-14 17:47] etracer65 commented on #17
Hold on - this might be me.  On my main machine I'm still running an old version of the OS and Chrome is only on a 49.x version.  On a fully up to date machine it seems to be working fine.  So probably some compatibility issue with the older Chrome version.  Not sure if this can (or should) be addressed.

[2016-08-14 17:56] etracer65 commented on #17
Sorry - never mind!  It looks like it was a caching issue.  I deleted the old directory and re-cloned the repository but didn't remove it completely from Chrome (delete the app).  Apparently one or more of the javascript files were cached.  Completely removing the app and reinstalling the unpacked extension fixed the problem - even on the old version of Chrome.

[2016-08-14 19:14] GaryKeeble commented on #17
I'll keep a note of that one; I never realised it cached the files; but it's good to know just in case another user has an issue.

[2016-08-15 02:07] etracer65 commented on #17
Found a small bug.  If you hide the analyzer while it's maximized, the sliders don't go away and stay in the main window.

Also unrelated, another small cosmetic issue.  The tool tip for the open log file button reappears after opening the file and stays.  You can also replicate by clicking cancel in the file dialog.

[2016-08-15 05:55] GaryKeeble commented on #17
I have fixed the analyser sliders;

The tooltip issue is an odd one; I have noticed this but it uses a standard tooltip facility offered by 'bootstrap' (which all the themes for the whole app are done with). It's not only the file open etc, but many (if not all of the tooltips). The tooltip goes away if you click elsewhere on the page (or hover over another tooltip)... I'll look into this to see i

[2016-08-15 07:59] #11 closed

[2016-08-15 07:59] #13 closed

[2016-08-15 07:59] #14 closed

[2016-08-15 08:09] borisbstyle commented on #17
can 2.5.2 be released btw?

[2016-08-15 08:15] GaryKeeble commented on #17
@borisbstyle
Yes, I think it would be good to release it and push it to the store as the few extra features on the analyser would certainly be useful for people starting to setup the notch filter in particular;

[2016-08-15 08:15] borisbstyle commented on #17
@GaryKeeble
Its released! Thanks for the hard work!
https://chrome.google.com/webstore/detail/canpiagfkeefejklcojkhojdijglnghc/publish-delayed?hl=en

PS do yourself a favour and put some credits into it!

[2016-08-15 09:15] TheAngularity opened #18 "Welcome Screen not full seen"
Welcome Screen do not full fill the maximized and reduced windows ... Scrollbar hangs in the air ;-)

maximized window:
![fullscreen_welcome-50](https://cloud.githubusercontent.com/assets/20139767/17660172/db9f6d90-62d7-11e6-89d5-2831538933c2.png)

reduced window:
![minimized_welcome-50](https://cloud.githubusercontent.com/assets/20139767/17660186/ee4729a6-62d7-11e6-827c-d79269c5b00b.png)

[2016-08-15 10:42] TheAngularity opened #19 "After hide Statistics display the display are to small to show the rest"
After hide statistic display the over display are to small to see the log seek bar ... below is still enough space to show everything

maximized window:
![fullcreen_hide_statistic-50](https://cloud.githubusercontent.com/assets/20139767/17662258/985e546c-62e4-11e6-8f1d-5516f2e9c22c.png)

reduced window:
![minimized_hide_statistic-50](https://cloud.githubusercontent.com/assets/20139767/17662265/a095

[2016-08-15 10:58] GaryKeeble commented on #18
Will look into this; there seems to be some interaction with the screen size when the Viewer is run as an app from the chrome store; I think this is also related to issue #19 too.

[2016-08-15 11:06] TheAngularity opened #20 "Tooltips and two srollbars"
A few Tooltips are obscured from Navigations bar, these are
* View/hide analyser display
* Zoom Analyser Window
* Jump to end of log

and also always appears two scrollbars ... imho could be related with pr #19

![tooltip_scrollbar-50](https://cloud.githubusercontent.com/assets/20139767/17662663/746add16-62e7-11e6-8389-f5398cfcbfc5.png)
0

[2016-08-15 11:13] TheAngularity commented on #18
@GaryKeeble

yep i'm using the viewer as an app

wow, just tested ... you're right .... open the index.html and all ok

[2016-08-15 11:18] GaryKeeble opened #21 "Analyser Notch display incorrect when using default settings."
The notch filter settings on the analyser display show a filled rectangle covering the range around the notch center value. This should be hidden if the notch_cutoff value is zero (which is the default) otherwise the screen fills the analyser window either side of the notch_center with a semi-transparent rectangle; this is not how it should work when notch_cutoff is zero as this is when the filter

[2016-08-15 11:20] borisbstyle commented on #21
@GaryKeeble
No problem. We can bring out 2.5.3 ;)

[2016-08-15 11:20] GaryKeeble commented on #20
Think you are right; oddly it only happens when runnings as a chrome app...

[2016-08-15 11:21] borisbstyle commented on #21
https://chrome.google.com/webstore/detail/canpiagfkeefejklcojkhojdijglnghc/publish-delayed?hl=en

[2016-08-15 11:30] TheAngularity commented on #20
yep ... with open the index.html all is good but only the obscured tooltips appears

[2016-08-15 11:35] GaryKeeble commented on #21
Thanks :)

[2016-08-15 11:35] #21 closed

[2016-08-15 11:36] #17 closed

[2016-08-15 15:55] TheAngularity opened #23 "better place for analyser zoom slider"
can you make the zoom sliders in relativ position to the analyser screen and not to the log graph
it looks much better ;-)

so i imagine this (only quick&dirty design):
![analyserzoom-50](https://cloud.githubusercontent.com/assets/20139767/17670094/a2f739f8-6310-11e6-9004-805a7cb62bda.png)

[2016-08-15 17:50] GaryKeeble commented on #23
This will be in the next release.

[2016-08-16 08:07] TheAngularity commented on #18
much better now ... thx

[2016-08-16 08:07] #18 closed

[2016-08-16 08:09] #19 closed

[2016-08-16 08:12] TheAngularity commented on #23
so i had imagined ... thx ;)

[2016-08-16 08:12] #23 closed

[2016-08-16 09:14] #20 closed

[2016-08-16 13:42] ghost opened #25 "hidden stick display reappears"
hidden stick display reappears when you press shortcut "S", "X" or "G" ... :(

[2016-08-16 14:02] TheAngularity opened #26 "overlapped log graph"
i'm used the viewer as an chrome app in maximised window ... on first open a new logfile the log graph display is overlapped from the control panel ... but this does not always

![fullsreen-50](https://cloud.githubusercontent.com/assets/20139767/17701349/d34e328c-63c9-11e6-8eab-6e6ef5a57794.png)

[2016-08-20 07:49] TheAngularity commented on #25
@GaryKeeble ... have you a solution

[2016-08-20 07:50] TheAngularity commented on #26
@GaryKeeble ... here there is also no solution :(

[2016-08-20 08:18] GaryKeeble commented on #26
I can replicate this problem; and resizing the window after the display is shown clears the issue temporarily.
I am working on a solution at the moment as part of a cleanup of the UI code that will be part of 2.5.4

[2016-08-20 08:19] GaryKeeble commented on #25
No solution yet; this will be part of the cleanup of the User Settings mechanism that I am hoping to release as part of the v2.5.4 cleanup.

[2016-08-21 00:17] etracer65 opened #27 "RC Command selection only initially shows throttle in the graph"
If you choose the preset graph "RC Command" labels for all the items appear (roll, pitch, yaw and throttle), but the graph only shows throttle.  If you change the graph settings at all then the other graphs show up.

[2016-08-22 11:04] GaryKeeble commented on #27
I believe I have a fix for this that will be released as part of 2.5.4;

[2016-09-08 13:24] IharpI opened #28 "rcCommand and gyro graphs do not match"
The numbers in the legend match but the graphs do not although configured the same way.
This way it is impossible to compare the desired rate with the rate of the copter.

![graph mismatch settings](https://cloud.githubusercontent.com/assets/6151274/18350853/25842b7c-75d8-11e6-9a34-9474dbf499f2.png)
![graph mismatch](https://cloud.githubusercontent.com/assets/6151274/18350854/25865b22-75d8-11e6-99

[2016-09-08 13:41] GaryKeeble commented on #28
Hi,

The scaling of rcCommand[] graph is always +/-500 (raw values), the value shown in brackets on the legend is converted from this value to the real deg/s so that you can see what it represents. This is how the original log viewer worked and has been left that way for compatibility. (which makes it difficult to compare gyro and rcCommand traces as you've pointed out).

However, I have added a g

[2016-09-09 08:22] GaryKeeble commented on #27
Fixed in 2.5.5

[2016-09-09 08:22] #27 closed

[2016-09-09 08:26] borisbstyle commented on #28
Maybe rcCommands should be called commandedRate, angleRate or setpointRate?

[2016-09-09 09:01] IharpI commented on #28
Thanks for the reply and sorry that I did not find the rcCommand**s**
I just checked the CF viewer and in the latest version the rcCommand matches the behavior of rcCommand**s** in BF log viewer. At least there the rcCommand matches the trace of the gyro pretty good.
Why not just rename rcCommand to something like rcCommandRaw and rcCommand**s** to rcCommand?

[2016-09-09 09:16] GaryKeeble commented on #28
@borisbstyle Actually, I couldn't think of of a good name for them when I created them (I added 's' for 'scaled', lazy and a naming cop out for sure :-) ). As a old-school controls engineer, I like your term 'setpointRate' as that pretty much says what they are; we could go with that?

@IharpI I didn't realise the original CF viewer had any of the deg/s calculations in it; thanks for letting me kn

[2016-09-11 13:40] Edgs opened #29 "Problems reading debug_mode = NOTCH results in Blackbox Explorer"
I'm not sure where the problem lies, but the values I see in the Betaflight version of Blackbox Explorer for gyro_raw and gyro_notch don't appear correct.  They appear to be the normal gyro values mapped as follows:
gyro_raw[roll] (debug0) = gyro[roll]
gyro_notch[roll] (debug1) = gyro[pitch]
gyro_raw[pitch] (debug2) = gyro[yaw]
gyro_notch[pitch] (debug3) = 0

These were all logged using default fi

[2016-09-11 14:36] GaryKeeble commented on #29
Are you certain you are using v2.5.6 of the BB viewer; because there are no gyro_raw[roll], gyro_notch[roll] etc parameters shown anymore (was a 2.5.5 thing). The debug fields for debug mode NOTCH are gyro_preNotch[] for each of roll, pitch and yaw.

If you are using defaults for v3.0.0 of BF, then the gyro notch filter is not on by default (only dterm has the notch filter enabled); thus gyro_preN

[2016-09-11 14:59] GaryKeeble commented on #28
This issue has been resolved in v2.5.6

[2016-09-11 14:59] #28 closed

[2016-09-11 16:07] Edgs commented on #29
Yes you are correct, I was using the wrong version.  My apologies.  Plus, the version IS shown in BB viewer, I just didn't see it.  Sorry again!
It isn't very clear within Chrome whether it uses the new version or the old version.  I have just followed the same procedure I used before, click on 'Use App' in Chrome store, and now it is using 2.5.6.  So, not a problem with BB viewer.

[2016-09-11 16:07] #29 closed

[2016-09-18 08:58] apeelme opened #30 "Exporting video always Calculating"
I tried on Debian Jessie Mate, Ubuntu Mate 16.04 (now fresh install) & Chrome 53.0.2785.116 (64-bit) at all times and nothing happens, always _Calculating..._ the file size, and no rendering. Why???

update:
Here is the DeveloperTools console:
http://imgur.com/a/eypT0

[2016-09-18 12:29] GaryKeeble commented on #30
Can you confirm that you have loaded a flight video **and** log file before exporting the video ?

The export video feature only works to overlay an existing flight video; you cannot generate a video from log data only.

[2016-09-18 12:32] apeelme commented on #30
Yes, loaded video and log file before exporting.

[2016-09-18 13:29] GaryKeeble commented on #30
Looking at the error, it appears that your source video is not opening correctly....
If you look at the following developer tools for a working system, there is another flag called "has-video" which your system does not have.

<img width="251" alt="missing video" src="https://cloud.githubusercontent.com/assets/7362663/18616008/f26e89d6-7dab-11e6-8b84-4efad845a0a8.png">

It also does not seem to be

[2016-09-18 16:51] apeelme commented on #30
I remove app, reinstall nothing changes. Remove google acc, remove app, settings, extension sync, install, nothing changes. Remove (purge) Chrome, install Chromium from ubuntu 16.04 repo, no google acc adding just install BF Explorer..nothing...same error. What's this???

[2016-09-18 19:09] apeelme commented on #30
GaryKeeble: The _mode_2.png_ problem is solved. In the _user_settings_dialog.js_ file line 233 selecting valid png's with lowercase filename (_mode__), but i download from this repo the source, and go to _images/stick_modes/_ directory, the filenames uppercase (_Mode__). I'm on linux operating system...

accurate information: download this soure, rename png's, launch index.html in Chromium, load l

[2016-09-18 20:53] mikeller commented on #30
Looks like a windows (uppercase === lowercase) <-> anything else (case matters) problem. :-(

[2016-09-19 06:07] GaryKeeble commented on #30
I will file the lowercase / uppercase filename issue; thank you for finding that.

Do you think it would be possible to provide a download link to both your video and log files that have this problem so that I can investigate further ?

[2016-09-19 16:44] apeelme commented on #30
OK, attach 2 video, and 1 log file i tried yesterday.
[REC_0008.MOV](https://drive.google.com/open?id=0B3fPjU1mSNINTGFlaTA3RnBsTUE) - RAW Mobius 1080p 30fps file
[first_rolls.mp4](https://drive.google.com/open?id=0B3fPjU1mSNINUkMtdWs5eHJCWWM) - editing RAW Mobius files with KDEnlive, and export x.264 mp4 video
[bb_log5](https://drive.google.com/open?id=0B3fPjU1mSNINal9DSzRSeTVqT3M) - blackbox log

[2016-09-19 17:36] apeelme commented on #30
[https://github.com/cleanflight/blackbox-log-viewer/issues/49#issuecomment-247947247](https://github.com/cleanflight/blackbox-log-viewer/issues/49#issuecomment-247947247)

[2016-09-19 18:03] GaryKeeble commented on #30
Thanks @apeelme; I have just tried your video's and log and for me on OSX everything worked just fine; however, I will take a good look at the commit you've mentioned above; thank you for pointing it out.

[2016-09-19 21:52] mikeller commented on #30
@GaryKeeble I am surprised that this works in OSX, but this will definitely not work in linux: If the case of the filename does not exactly match the case of what is being loaded, the file will not be found. (i.e. `mode_2.png` and `Mode_2.png` are two different files in linux.)

[2016-09-20 05:48] GaryKeeble commented on #30
@mikeller; there are actually two separate issues here, the original issue about the video export just stopping at "Calculating...."; for me on OSX, the video exports fine using @apeelme's video and log files. However, there is a new webm export .js version available in the original BB viewer that has solved this issue for apeelme using linux.

The second issue is the mode_2.png, Mode_2.png that a

[2016-09-20 06:14] mikeller commented on #30
Ah I see. Just wanted to make sure this doesn't get overlooked.

[2016-09-20 15:47] apeelme commented on #30
I have a small problem, but i don't know open the new issue. After flight save whole flash from my Naze32 rev.5 (i modded to rev6. with 16MB spiflash). When i open the file in the BB no answering...nothing happens. Therefore i use small perl script for split file, and no problem.
You check my LOG what is wrong???

[bblog_tool.zip](https://github.com/betaflight/blackbox-log-viewer/files/483010/bblo

[2016-09-21 05:17] GaryKeeble commented on #30
@apeelme I have seen this problem before; if your log file has no extension, the BB viewer doesn't know what type of file you are loading; it could be a video, log or workspace backup so it guesses based upon file size; large logs are incorrectly guessed as video files which it attempts to load; and fails.

The solution is to add a **.txt** extension to your file (blackbox_log_2016-09-17_185150**.

[2016-09-21 13:07] apeelme commented on #30
Thats work.... Thanks for your help! ;)

[2016-09-21 13:44] mikeller commented on #30
@GaryKeeble: Would it make sense to set the default filename suggested by betaflight-configurator to something that is recognised by the log viewer? (Preferrably **not** *.txt, since this will cause windows to try and open it in a text editor if it gets double clicked accidentally, and this can block windows for a long time in the case of large files.)

[2016-09-21 14:06] apeelme commented on #30
I can see that the file _onboard_logging.js_ line399 accepts TXT extension...this is default extension? But why did not work? I'm on Ubuntu 16.04 Mate.

onboard_logging.js : http://imgur.com/a/w5bRk
save file window: http://imgur.com/a/hGVdl

[2016-09-21 15:32] joshuabardwell opened #31 "Feature request: ability to adjust smoothing, zoom, expo on the fly"
It'd be nice to be able to adjust smoothing, zoom, expo, on the fly. Especially zoom though, Lots of times I wish I could just shift-scroll-wheel or something and zoom a graph larger. This will require a bit of design, as I'm sure sometimes I would want to zoom all graphs and other times maybe just one graph or even one line.  I leave the details of the implementation to the wonderful coders :-)

[2016-09-21 21:35] mikeller commented on #30
This is just the list of possible extensions. The suggested file name is generated in the lines directly above, and supplied to the function call as `suggestedName'.

https://developer.chrome.com/apps/fileSystem#method-chooseEntry

[2016-09-22 06:04] GaryKeeble commented on #30
At the moment, the BB viewer recognises

1. .TXT, .CFL and .LOG as log files,
2. .AVI, .MOV, .MP4, .MPEG as video files
3. .JSON as workspace backups

If it is not one of those extensions, it takes a guess on the type by file size (if file-size < 10MB then Log file else its a video); of course I could extend the default threshold for the guess as video files are usually huge by comparison.

Person

[2016-09-22 14:01] GaryKeeble commented on #31
I'll take a look at it Joshua;

At the moment, the mousewheel just scrolls through time, \<SHIFT\>mousewheel zooms in and out (like the slider at the top) and \<ALT\>mousewheel zooms faster, _but only when the mouse pointer is over the graph_..... I'll see if i can attach an event over the graph legend to allow you to scale vertically using the mousewheel as well.

[2016-09-22 23:30] mikeller commented on #30
I like `.bfl` (no point screaming the extension ;-)) `.log` is another contentious one, since it is often assumed to be human readable log files, and users doing systems administration will probably have it associated with a log viewer on Windows (I do).

I will change the SDCard logfile writing code in the firmware to create `logXXX.bfl` log files.

[2016-09-23 05:54] GaryKeeble commented on #30
Thank's @mikeller;

[2016-09-23 06:10] mikeller commented on #30
Little update, the extension will be `.BFL` (capitals), since the fat implementation we're using only supports capitals.

[2016-09-26 12:57] haybeseret opened #34 "Feature Request : Add the option to clear all graphs"
On the 'Graph setup', add the option to remove all graphs, instead of going one by one and removing them.

[2016-09-28 06:19] GaryKeeble commented on #31
This functionality has been added to the next release (version 2.5.7).

[2016-09-28 06:21] GaryKeeble commented on #26
Just an update on this long-standing bug;

I believe (hope) the issue is now resolved in the next release v2.5.7

[2016-09-28 16:40] TheAngularity commented on #26
yep ... well seems to be resolved now ;-)

[2016-09-28 20:16] GaryKeeble commented on #34
This has been added to the next version (v2.5.7)

[2016-10-02 12:07] TheAngularity commented on #26
Ok, I guess the bug is eliminated ... closed now ;)

[2016-10-02 12:07] #26 closed

[2016-10-26 15:12] TheAngularity opened #36 "compatible with bf3.1.0 log file"
is the log viewer compatible with bf3.1.0 log files? i can't no more see the notch margins.
here is a screenshot (see top left) and the log file:
![zwischenablagebild](https://cloud.githubusercontent.com/assets/20139767/19731731/b3261972-9b9e-11e6-86b0-ae5398a91a84.jpg)

[LOG00002.TXT](https://github.com/betaflight/blackbox-log-viewer/files/553664/LOG00002.TXT)

with the old bf3.0.1 i have no prob

[2016-10-26 19:38] borisbstyle commented on #36
3.1 is not released yet. Still developed

[2016-10-26 21:03] GaryKeeble commented on #36
Yes, I can confirm this as a bug in the viewer; have fixed it in the latest commit to version 2.5.8.

[2016-11-03 10:21] #36 closed

[2016-11-10 07:39] rodgerramjet opened #37 "Feature request - highlight active graph when you mouse-over the legend"
Think most graphing programs do this... i struggle with the colours of the graphs as I'm colour blind... this sort of usability assist is useful

Example (there are tonnes out there)
http://www.highcharts.com/demo/line-basic

[2016-11-10 16:19] GaryKeeble commented on #37
Interesting; I'll look into it

[2016-12-02 15:10] borisbstyle opened #38 "Gyro Data not Readable"
See
https://github.com/betaflight/betaflight/issues/1732

@martinbudden
Blackbox issues can be created here

[2016-12-02 20:47] GaryKeeble commented on #38
Have modified master to check for gyro_scale as well as gyro.scale (to keep compatibility with old logs). Also, default gyro scaling to 1.0 for BF3.1.0 as scaling is now handled in the flight controller.

[2016-12-02 21:21] TheAngularity commented on #38
tested your new master ... the logfile i posted looks like correct ... but now old 3.1,0 log files are displayed differently ... i think this is due to the changes in the betaflight code

[2016-12-02 21:52] TheAngularity commented on #38
the one would be fixed already times ... but vbat issues is still in the room

[2016-12-03 07:18] RC-Slater opened #39 "On DSHOT, motor values do not display properly?"
Please see the attached log.  Why do the motor values show up so differently when using Dshot300?  I'm using one of the latest 3.1 builds and the latest BB viewer.
[LOG00003.BFL.zip](https://github.com/betaflight/blackbox-log-viewer/files/628744/LOG00003.BFL.zip)

The craft overlay also doesnt register motor activity until throttle goes above a certain value.  Essentially, it is logging motor valu

[2016-12-03 09:44] GaryKeeble commented on #38
@TheAngularity, Yes, the version check for the gyro scale is based on the version 3.1.0; so old 3.1.0 logs will not display correctly; only 3.1.0 logs from this point forward or logs prior to 3.1.0 will display correctly.

Still investigating vbat scaling.

[2016-12-04 07:38] GaryKeeble commented on #39
@RC-Slater Thanks for reporting this one....

@borisbstyle This appears to be related to minthrottle and maxthrottle that is logged to the blackbox; when d-shot is enabled, then there are different values for minthrottle and maxthrottle;
I think that perhaps we need to log the calculated values "motorOutputHigh, motorOutputLow" in mixer.c as minthrottle and maxthrottle as these are the actual acti

[2016-12-06 01:12] mikeller commented on #38
Could the vBat issues be related to the changeover from storing vBatLatest as raw ADC reading to storing it as voltage?

[2016-12-06 10:49] borisbstyle commented on #39
@GaryKeeble Dshot has fixed values actually. So when the log viewer knows that dshot is enabled it should know the motor outputs.

[2016-12-07 07:04] GaryKeeble commented on #39
@borisbstyle
Yes I saw the hardcoded dshot limits but unfortunately I don't think we can do this in the viewer,

The blackbox.c file uses motorConfig()->minthrottle to encode the motor[] values when writing the log; the value is unsigned so if the calculated dshot 'minthrottle' (motorOutputLow) is less than motorConfig()->minthrottle then the value is clamped to zero and the motor logged value is

[2016-12-07 07:09] GaryKeeble commented on #38
@mikeller, thanks, that makes a lot of sense, the logged values hover around 168..148 which is possibly 16.8v to 14.8v.... will take a look....

[2016-12-07 08:55] mikeller commented on #39
@GaryKeeble you don't need a full rig to test. If your FC is DShot capable, you can enable `blackbox_on_motor_test`, and then 'simulate' logging a DShot flight by having DShot enabled and using the motors tab in the configurator.

[2016-12-15 22:03] rodgerramjet opened #40 "Spec Analyser 'zoom' slider stopped working"
v 2.5.7

A few weeks ago I could zoom in but it was always temperamental - when you changed zoom slider (not talking about toolbar button) it 'lost' data till you click on the spec analyser button on the legend again.... it still seems to still have this problem except now you can't work around it by re-opening the spec analyser. Tried on 2 machines.... tried restarting app

[blackbox_log_2016-12-

[2016-12-16 06:55] GaryKeeble commented on #40
Hello @rodgerramjet, I can open your log file and zoom the analyser view without issue; I am using Macos, Chrome Version 54.0.2840.98 (64-bit);

The only time I have ever had an issue with the analyser view I had to remove and then re-install the extension, but if your having issues with both machines, then this is probably not going to help.

Can you let me know what you are using please; osx, wi

[2016-12-16 09:07] rodgerramjet commented on #40
Hi @GaryKeeble

Chrome 54.0.2840.99 m
Windows 10

I realised chrome was out of date (not sure why it stopped auto updating) - manual update to 55.x and problem gone

Should I close this?

Pity there can't be a warning saying chrome is out of date or something in bbox explorer :)

[2016-12-16 09:24] GaryKeeble commented on #40
Yeah; warning in the BB explorer would be nice; not sure if I can do it though.

Glad it's working for you now...

I'll close the issue, no worries :-)

[2016-12-16 09:24] #40 closed

[2016-12-19 10:00] martinbudden commented on #38
@GaryKeeble the betaflight PR https://github.com/betaflight/betaflight/pull/1853 now sets the scale correctly, so presumably your change to check the version number can be removed.

[2016-12-19 12:43] GaryKeeble commented on #38
@martinbudden; OK; will revert the change :-)

[2016-12-23 13:34] #34 closed

[2016-12-30 18:36] TheAngularity opened #42 "Feature Request - Log Header Information clean up"
@GaryKeeble

pls can you clean up the log header information to reflect bf 3.1.0

remove betaflight pid controller

![zwischenablagebild 1](https://cloud.githubusercontent.com/assets/20139767/21570483/bda2c08e-cec6-11e6-8854-d0ed21ab6dbd.jpg)

insert the unknown header fields and also the features osd and esc_sensor ... also remove the features oneshot125 and superexpo_rates

![zwischenablagebild]

[2016-12-30 18:45] GaryKeeble commented on #42
Yes,
I'll start to sort these things out; a clean-up has been on my list for some time now :-)

[2016-12-31 08:48] TheAngularity commented on #42
tested your latest viewer cleanup ...  looks good again 👍

[2016-12-31 09:31] TheAngularity commented on #39
@GaryKeeble
any question between dshot throttle and log-seek-bar ... it is normal that the throttle is only displayed from about 40% upwards? ... tested it, but only on the bench

[2016-12-31 10:17] TheAngularity commented on #42
new request ... you could still move the debug settings from right to left at the bottom ... shortening the log header information output ;-)

[2016-12-31 10:21] borisbstyle opened #43 "Display real values in viewer"
I was wondering why is it not possible to see real value on the right bar instead of percentages?

In my particular case where blackbox is also used for developing / testing I really have to watch the real values often and it is annoying to check the table all the time.

[2016-12-31 10:22] GaryKeeble commented on #39
The seekbar actually shows the average motor output, not rcCommand[THROTTLE], however, it is still scaled incorrectly when on DSHOT; fix on its way :-)

[2016-12-31 10:25] GaryKeeble commented on #43
I'll add a user setting toggle so that you can choose raw values / scaled values on the legend ?

[2016-12-31 11:08] borisbstyle commented on #43
Yeah that would be nice! Thanks

[2016-12-31 11:11] TheAngularity commented on #39
@GaryKeeble
yeep ... dshot scaling now fixed ... thx 👍

[2016-12-31 11:12] TheAngularity commented on #43
nice feature ... looks good ;-)

[2016-12-31 11:16] TheAngularity commented on #42
@GaryKeeble

imho this is the last request ... then everything seems to be good ;-))

[2016-12-31 11:32] GaryKeeble commented on #42
Swapped the Debug Settings over to the left; and moved the "unknown header fields" over to the right as this is usually hidden unless there is a conflict.

[2016-12-31 11:34] TheAngularity commented on #42
ok ... yeep ... looks very good now ... thx 👍

wish you a happy New Year ;-)

[2016-12-31 11:34] #42 closed

[2016-12-31 11:45] TheAngularity commented on #38
@GaryKeeble
But still a small question ... how does it look with the vbat issues?

[2016-12-31 11:46] GaryKeeble commented on #38
Will start investigating the vbat next :-)

[2016-12-31 12:52] GaryKeeble commented on #38
@TheAngularity, Just pushed a fix for the VBAT scaling; works on the bench.

Happy New Year to you too :-)

[2016-12-31 12:56] TheAngularity commented on #38
will give it a try ... here another #44

[2016-12-31 13:05] TheAngularity commented on #38
@GaryKeeble @borisbstyle
Looks good again now ... thx ... I think It can closed now ;-)

[2017-01-22 22:00] goatspoon opened #46 "Feature Request : Export to CSV"
Previously the .txt files generated by betaflight have been able to be exported to .csv by blackbox-tools. However the new files .bfl have a different format and cannot be interpreted by that tool.

It would be very handy to have a feature where the log can be saved as a CSV for analysis in other software.

[2017-01-22 22:47] goatspoon opened #47 "Incorrect Scaling of amperageLatest"
A multi layer problem. Blackbox-log-viewer displays the value "amperageLatest" which in betaflight is a value in centiamps, it is now a SIGNED int. So a value of 100 corresponds to 1A. Currently 100 is being interpreted as 10A.

Also note that due to changes in betaflight, negative values will be sent in amperageLatest, hopefully those will display correctly.

[2017-01-22 23:48] mikeller opened #48 "Adjust 'amperageLatest' data type to be 'SIGNED'"
Followup from https://github.com/betaflight/betaflight/pull/2192 .

[2017-02-17 02:14] joshuabardwell opened #49 ""Start Log Here" Log Sync text box does not work when log sync time is manually entered"
Manually entering the log sync value into the text box does not have any effect. Verified on two PCs. v2.5.9

[2017-02-17 02:20] joshuabardwell opened #50 "Feature Request: Store log file and video file and log sync time in exported workspace"
Re-loading the workspace would then re-load the files exactly as they were. Suggest trying to locate the files based on both absolute path and searching in the same folder as the .json file.

[2017-02-17 09:27] GaryKeeble commented on #50
Joshua, this is a really good idea; definitely needs adding as a feature; will add it to my todo list.

I've been thinking along the same lines for a while but in a slightly different way; I was trying to add the log file as a new track on the original video file so that you only needed to keep the video; when opened in a normal video player, it would just play normally; when opening it in the bb

[2017-02-17 16:22] barthalamu opened #51 "Question: Possible to recover truncated logs?"
Is there a way to repair a BB log file that was truncated due to a crash/battery ejection?
I have a file that looks like it has data, but is blank when loaded into BB viewer.

[2017-02-20 06:36] GaryKeeble commented on #51
Can you send the file; maybe I could take a look at it to see why it wont load ?

[2017-03-20 16:12] xlla opened #52 "Incorrect current value in bfl log exported from firmware 3.1.6"
I am use blackbox explorer v2.5.10.
FC, brf3
battery, 4s
quad, 4 motors

after flash firmware 3.1.6 and restore settings, I found current_meter_scale is missing, so I add current scale in GUI direct, then I found it was renamed to ibat_scale.

I take a test flight, export log, found a very high measured current
<img width="1170" alt="screen shot 2017-03-18 at 20 43 37" src="https://cloud.githubuse

[2017-04-06 23:32] fftunes opened #53 "Request: Add more framerate options for video export"
Especially 29.97 and 59.94 fps would be handy for easier sync'ing without having to use expensive video editors.

[2017-04-13 04:04] rodgerramjet opened #54 "Logviewer crashes when I smooth, every time"
v2.5.11
chrome 57.0.2987.133
windows 10

Steps:
* Open log
* Can click around the timeline thing
* press 's' on keyboard
* app becomes mostly unresponsive- can't click timeline.... some stuff still kinda works but no data is shown on graph
* have to restart to fix

[2017-04-13 04:09] rodgerramjet commented on #54
[BLACKBOX_LOG_QAVX_20170413_153746.zip](https://github.com/betaflight/blackbox-log-viewer/files/918486/BLACKBOX_LOG_QAVX_20170413_153746.zip)

[2017-04-13 09:19] Turismo05 commented on #52
This is the same for me on 3.16. showing over 100amps when it should be around 6.

[2017-04-13 10:45] ghost opened #55 "BF 3.2.0 - max rates not correct reading"
@GaryKeeble
pls can you see on this issue https://github.com/betaflight/betaflight/issues/2867

[2017-04-13 11:02] GaryKeeble commented on #55
@TheAngularity Can you send over your log file to allow me to debug please....

[2017-04-13 11:16] TheAngularity commented on #55
@GaryKeeble
made a new log file ... here it is

[BLACKBOX_LOG_Test_20170413_131222.TXT](https://github.com/betaflight/blackbox-log-viewer/files/919313/BLACKBOX_LOG_Test_20170413_131222.TXT)

[2017-04-17 06:19] McGiverGim commented on #54
I have tried to reproduce your problem without luck. In my computer I can activate/deactivate the smoothing without problem and continue working with your log.
Some idea of what more can I try?

[2017-04-17 09:56] McGiverGim opened #57 "Some YAW values not readed correctly for newest versions of BF/CF"
With the latest version of BF/CF some YAW values are not readed. I'am new to all of this, so I don't know what has changed between versions, but examining the code the "names" of the RATE and EXPO for YAW are not good.
In the BlackBox log file:
[code]
In the code of the log viewer, `flightlog_parser.js`:
[code]
And I can't see the `rc_rate_yaw`, but it's used, without underscore in `flightlog.js`:

[2017-04-23 04:55] nathantsoi opened #60 "mode isn't displayed correctly"
switch was actually airmode being turned on, detected as super expo:

![screen shot 2017-04-22 at 9 49 44 pm](https://cloud.githubusercontent.com/assets/399770/25310915/68bc7b62-27a6-11e7-923f-80c25416df4c.png)
![screen shot 2017-04-22 at 9 52 18 pm](https://cloud.githubusercontent.com/assets/399770/25310916/68be5856-27a6-11e7-81d1-d40501cbb6b1.png)

[2017-04-23 05:13] nathantsoi opened #61 "freezing"
after opening and closing a bunch of logs, hitting play and pause, the app freezes:

![screen shot 2017-04-22 at 10 10 20 pm](https://cloud.githubusercontent.com/assets/399770/25311000/e65e2b54-27a8-11e7-9ba1-69fc0da9712f.png)

[2017-04-24 13:37] McGiverGim commented on #60
I've observed the same. The id modes changed in the latest version.

[2017-04-25 19:01] McGiverGim commented on #60
I've opened a PR to solve the Issue, but only is the first approach https://github.com/betaflight/blackbox-log-viewer/issues/62

[2017-05-03 16:42] DerElch87 opened #63 "Compatibility to INav 1.7 RC1"
Hi there,
The viewer shows some problems with the latest INav RC.
The motors are always shown as 100% in the GUI, in the table are still the correct values shown.
The debug values are not pickable or chooseable, necessary for debug mode: gyro/ notch.

Is it possible to get compatibility here again?

BTW
Thanks to all for the great work.

[2017-05-14 21:55] mikeller commented on #63
Hi @DerElch87: Maybe you should give this a go: https://github.com/iNavFlight/blackbox-log-viewer

[2017-05-15 10:15] oksada123 commented on #54
Check for "Use hardware acceleration when available" in Chromium-browser settings.

On my workstation (Ubuntu), if this checkbox is not marked, after use of shortcuts "s" and "x" app hangs with error.
![blackbox_error](https://cloud.githubusercontent.com/assets/28703496/26053150/0661b47c-3968-11e7-83ca-8d91f3f82ae1.png)

As a workaround you can change settings for every single fields in graphs set

[2017-05-15 19:52] fftunes commented on #53
And maybe also 25 and 50fps for certain users.

But nevermind.

[2017-05-17 16:58] McGiverGim commented on #48
@mikeller I'm trying to change this in the blackbox viewer. Can you give me some more info? Seeing the PR is not enough for me.
Now, in the log viewer, for BF 3.0 or later, the value informed in the log is readed and divided into 10.
For earlier BF versions there's an ADC to millivolts conversion.
Since wich version that has changed? Seeing the data readed, now it seems that the value readed must

[2017-05-17 19:48] mikeller commented on #48
I am not an expert in blackbox log viewer myself, but I can have a look if I can find some pointers.

[2017-05-18 06:53] McGiverGim commented on #48
I'm very new into all of this, so I don't know too much about it. I only want to know what is writed from the firmware. I will search how to solve the problem in the log viewer.
In your PR you said:

So it seems that now, the `amperageLatest` must be divided into 100 (since now it was divided into 10).

If I change this in the blackbox viewer for BF 3.1.7, it seems to work. but I'm not sure becaus

[2017-05-18 06:56] McGiverGim commented on #48
In the `blackbox.c` it is written as unsigned:
[code]
[code]
So or this is wrong, or I only need to divide it into 100 and the problem will be solved.

[2017-05-18 07:12] McGiverGim commented on #48
I've created a PR https://github.com/cleanflight/blackbox-log-viewer/pull/61 to discuss about it.

[2017-05-22 03:41] rodgerramjet commented on #54
@oksada123 thanks... I'm on a laptop with a dual graphics card so could be that. I've fixed it by forcing Chrome.exe to use the nvidia card which seems to solve the problem.

Must I close the issue @McGiverGim  ?

[2017-05-22 03:59] mikeller commented on #54
@rodgerramjet: Yes please.

[2017-05-23 04:40] #54 closed

[2017-05-25 22:40] Juan-ma opened #64 "Problem setting up the graphics with debug_mode=11 (dfilter)"
I have logged a few flights with debug_mode=dfilter and I can't config any graph in blackbox. I press the Graph setup button, then graph config window appears, but nothing happen when I select any kind of graphic. If I flight debug_mode=notch (or other modes), I can config graphics with no problem.

I have noticed that log file has debug_mode=11 when debug_mode is dfilter. If I change this value w

[2017-05-26 05:26] McGiverGim commented on #64
There are some PR pending to be included that surely will solve this problem. They're included in the master branch of the Cleanflight Blackbox Explorer. Can you install manually the master branch of Cleanflight Blackbox Explorer to see if it works?

[2017-05-26 22:21] Juan-ma commented on #64
Thanks McGiverGim,

Tryed with cleanflight blackbox v0.1.6.5 from chrome web store and all of my betaflight log files and it says log file contains no data:

"Error: log is truncated, contains no data"

No idea how to manually install the master branch.

[2017-05-27 00:22] mikeller commented on #64
Either clone it with git, or download the zip and unzip on your machine. Then in Chrome 'More tools / Extensions' 'Add unpacked extension',  and point it at the top level directory of the repo / unpacked zip.

[2017-05-27 12:02] Juan-ma commented on #64
Thanks Mikeller and McGiverGim. Cleanfight Blackbox opens the log files correctly.

[2017-05-27 12:02] #64 closed

[2017-05-28 14:44] Wtcheesecakes opened #65 "analyze window wont open"

[2017-05-29 07:10] McGiverGim commented on #52
As far as I know, the value changed from 3.1.0. The correct value is the actual value divided into 10, so if you have 100 amps, the real value will be 10 amps. The master branch of Cleanflight Blackbox Low Viewer has a correction to show this correctly.

Can you install manually the master branch of Cleanflight Blackbox Log Viewer to see if the issue is solved?
https://github.com/cleanflight/black

[2017-06-28 01:19] Davhed commented on #65
I'm having the same issue. Analyzer button is clickable, but the display does not display on click.

Using Chrome Version 59.0.3071.115 (Official Build) (64-bit)

[2017-07-06 16:10] packocrayons opened #67 "Not opening log files, no error message."
Open log file button shows name of file in alt-text, but otherwise the screen does not change.
Latest pull from github and latest release on chrome store, linux mint.

[2017-07-07 14:22] playlet opened #68 "BF 3.2 - cannot setup graphs"
Hi!

I'm running the latest BF 3.2 1431.
Blackbox explorer cannot setup graphs for 3.2 logs. Buttons are unresponsive. If I set it up using 3.1.7 log, I can see graphs but that's it. I wanted to see dynamic filter debug info but no dice.

I hope you guys sort this out soon. Thanks

[2017-07-07 16:05] McGiverGim commented on #68
Can you try the latest master of cleanflight blackbox explorer? If it works betaflight can cherry pick the changes.

[2017-07-07 16:14] playlet commented on #68
Thanks man, CF BB explorer WORKS! I can now analyze my 3.2 logs. Thanks again! :)

[2017-07-09 21:55] jrussellsmyth opened #69 "Header display no longer available for Betaflight logs."
info button to view betaflight logs not visible with BetaFlight logs

[2017-07-11 16:40] xlla commented on #52
@McGiverGim yes, after install manually the master brach of Betaflight Blackbox Log Viewer, this issue was gone.

[2017-07-11 16:40] #52 closed

[2017-07-25 03:23] sgcdialler opened #76 "Can't setup graphs when using DFILTER debug_mode (3.1.7)"
I have only tried a couple different debug_modes to see whether or not the problem is specific to DFILTER or not. PIDLOOP and NOTCH debug_mode still allow graph setup in BB viewer as expected. With debug_mode set to DFILTER, graph setup displays as a box with 'Save Changes' and 'Cancel' buttons, and the normal button to add graphs (which doesn't do anything).

I saw a recent issue where BB viewer

[2017-07-25 05:48] McGiverGim commented on #76
If you want to use the Cleanflight version, you must use the latest git version, manually installing it. The chrome or the install version are far old.

[2017-07-25 13:02] sgcdialler commented on #76
I tried pulling the latest git version as you suggested and still have issues. I'm attaching the log file I've been using (just change file extension).
[BF-DFILTER.BFL.TXT](https://github.com/betaflight/blackbox-log-viewer/files/1173204/BF-DFILTER.BFL.TXT)

[2017-07-25 17:47] McGiverGim commented on #76
Yes, I've tested your log and the DEBUG MODE for DFILTER does not work correctly.

I can modify the Blackbox log, but I need this information:

- What is the unit logged by this DEBUG MODE (Hz maybe?)

I've searched the firmware for this DTERM DEBUG MODE and I can't find nothing. Only the declaration :(

I've modified the blackbox and now it shows info, but I don't know if it is correct.
![image](

[2017-07-25 18:23] sgcdialler commented on #76
That would be my guess? I assumed that the DFILTER debug mode was supposed to be for tuning the d-term filter, just like debug NOTCH is for tuning the gyro notch filters.

[2017-07-25 18:42] sgcdialler commented on #76
I figured out how to modify the log to open it like you did. It looks to me like it's writing the raw D-term data.

![2017-07-25 14_40_54-betaflight - blackbox explorer](https://user-images.githubusercontent.com/23480194/28588112-6e0bee32-7147-11e7-834c-07ac7d146611.png)

[2017-07-31 20:38] louis-test commented on #67
I am having the same issue. FC is on 3.1.7.
Notice that it seems to only act up when the black box files exceed a certain size with a single flight.

Has there been any progress on this issue?

[2017-07-31 20:46] louis-test commented on #67
I just cloned the repo, and it seems that the latest version is working just fine to open up my logs.

Apologies for the early judgement above. The comment about a single large file w/ one flight was also wrong...

[2017-08-01 21:04] marlboro commented on #67
BFLV 2.5.11 won't open large logs (say > 6MB) from BF 3.1.7.  If I manually chop up the log file into smaller pieces (say < 4 flights) the open fine.

[2017-08-01 21:28] louis-test commented on #67
I thought that was the case as well, but I have a ~16MB log that opens fine in the released v2.5.11 with my FC on 3.1.7. Attached are two examples (zip). [16mb log examples.zip](https://github.com/betaflight/blackbox-log-viewer/files/1191990/16mb.log.examples.zip)

I think there might be some interaction with how the new BF Configurator saves larger blackbox logs.

Thoughts?

Seeing as it's workin

[2017-08-01 21:34] louis-test commented on #67
Okay, I found the 'issue'. It would be nice if we could get the blackbox log viewer to pop up a message saying "unknown filetype" next time....

The new configurator saves the log files as *.BBL ; the old configurator saves the log files as *.BFL.

Here is the commit that enables opening the BBL files. https://github.com/betaflight/blackbox-log-viewer/commit/ecd1dcbc596240023393f0a46637ba74a46a040

[2017-08-03 07:10] thetobby opened #77 "[BF3.2]Crash on loading logs with uncommon sampling rate (1333,33-Hz)"
It crash on loading, I think it might be related to the sampling frequency the log is saved at.

Other logs works great, got this crash while tuning in BF.
Running github version of BF 3.2 and log-viewer.

[4pidtune.zip](https://github.com/betaflight/blackbox-log-viewer/files/1196285/4pidtune.zip)

[2017-08-03 07:37] thetobby commented on #77
Changed logging rate from 50% of 2667Hz to 100% and log works, see attached example for working. So I belive the viewer has some issues with that speed. Written to onboard  memory SPRacing F3.
[4pidtest.zip](https://github.com/betaflight/blackbox-log-viewer/files/1196350/4pidtest.zip)

[2017-08-03 22:22] spuder opened #78 "Automatically sync video with beep"
Feature request: Credit Joshua Bardwell. See [15:10 in this video](https://youtu.be/yRYbGajqehI?t=15m10s)

Syncing flight video with blackbox logs is tedious at best.

## Idea 1: audible beep on arm
What if log-viewer would automatically recognize the arm beep as the start of a flight. The log-viewer could auto line up video with the logs.

## idea 2: OSD display on arm
If using a board with built

[2017-08-15 15:48] Ozzy33 opened #80 "Right Stick Overlay not Displaying correctly (position of stick)"
I notice the right stick overlay is not showing the stick in the corner (my roll and pitch rates are 1950d/s), but the stick is shown quite a bit aways from the corner.
Picture in my rcg post here
[https://www.rcgroups.com/forums/showpost.php?p=38102177&postcount=201](url)

[2017-08-19 14:45] #69 closed

[2017-08-21 17:45] haybeseret opened #81 "Info button (user settings) is missing."
Hi
It seem that there is no more "info" button to show the PIDs and rates configured on the examined log.
(I think it was called user settings)

I have also noticed the logo is now cleanflight for some reason.

Another strange thing, when i manually install 2.5.12 the version shows as 2.5.11, and when installing from the store  it installs 2.5.13, yet stating that 2.5.12 is the latest official.

I

[2017-08-23 11:39] Vidalcris commented on #81
I got exact same problem :-/

[2017-08-25 03:56] Arakon commented on #81
Use the current version (load as unpacked extension in chrome developer mode) and it will work. This is no longer an issue in the next revision.

[2017-08-25 04:38] zytra commented on #77
Johnny already referenced my issue posted on the BF git.
I have tried multiple logging speed tonight and get the same results regardless of speed and file size.
I have no problem opening similar speed logs from 3.1.7 so I am leaning toward a BF issue; though it could be related to my specific board (BrainFPV RE1).

Cheers.

[2017-08-25 06:31] #81 closed

[2017-08-25 07:47] Vidalcris commented on #81
load as unpacked extension in chrome developer mode ? ^^
What does that mean ?? why do we have to do that to make it work now ?

[2017-08-25 07:55] Vidalcris commented on #81
I'm using the latest version and unpacked or not this is not working ..

[2017-08-25 07:58] Vidalcris commented on #81
`history.pushState is not available in packaged apps.
index.html:1 window.localStorage is not available in packaged apps. Use chrome.storage.local instead.
index.html:1 unload is not available in packaged apps.
flightlog_parser.js:684 Ignoring unsupported header "Log start datetime"
flightlog_parser.js:684 Ignoring unsupported header "P denom"
flightlog_parser.js:684 Ignoring unsupported header "v

[2017-08-25 12:42] haybeseret commented on #81
Did you commited anything ? I recall trying that. I will try again

[2017-08-27 16:54] haybeseret commented on #81
confirmed it  is working with the current (unpacked) version.

[2017-09-13 00:17] FPVlog opened #84 "Info buton is gone"
Hi guys.

I can't find the info button anymore. I'd like to see the Betaflight settings but I just can't figure out where to find them.

I used to be able to see them in the past but now I just don't find it.

Please help :)

Thx

[2017-09-13 00:23] #84 closed

[2017-09-13 00:24] FPVlog commented on #84
Ok. Found it.

I downloaded the master and now it's here.

[2017-09-16 22:30] sepal commented on #77
As mentioned in the referenced issue I had the same problems with the attached log. This one was done on a kakute F4 with 1.5kHz, the flights were about ~4 to 10 seconds long. The decompressed file has size of about 3.4MB, which seems sketchy.
I did some debugging and found out that blackbox log viewer hangs in the loop of the countIntentionallySkippedFrames() function flightlog_parser.js:1108. It

[2017-09-24 22:07] mathia53 opened #85 "No response from controller"
I use the sp racing flight controller on my racing drone, and I have got the issue that the blackbox viewer does not show my stick movements. I have got a connection between my reciever and transmitter, but neighter the drone or blackbox log viewer will give any response from my transmitter when i arm/throttle up/navigate. I have invested a lot of money and time into this project, and I'm getting

[2017-09-24 22:12] mikeller commented on #85
@mathia53: GitHub is for discussion and questions around the development of Betaflight. For questions about the configuration and use of Betaflight, please see [RCGroups](https://www.rcgroups.com/forums/search.php?searchid=62448257&query=betaflight%20connect%20configurator).

Also, for configuring your craft, you want to use the Betaflight configurator, and not the blackbox log viewer.

[2017-09-24 22:12] #85 closed

[2017-10-18 09:53] pulquero commented on #77
I'm also encountering this problem, tried various logging rates, and file sizes around 200kb. None of them would open. replacing a call to countIntentionallySkippedFrames() with 0 seems to get them to load.

[2017-10-29 19:40] dmitry64 commented on #77
I'm having this exact issue.
![bug_screenshot](https://user-images.githubusercontent.com/15170743/32147525-e0afd856-bcf9-11e7-86ae-88d729cf9a52.png)
Here is my log.
[BTFL_BLACKBOX_LOG_20171029_214918_BAD_FILE.BBL.zip](https://github.com/betaflight/blackbox-log-viewer/files/1425435/BTFL_BLACKBOX_LOG_20171029_214918_BAD_FILE.BBL.zip)

[2017-12-03 12:02] TheIsotopes opened #87 "New Window Button doesn't work"
@McGiverGim @mikeller
#86 doesn't work correctly ... if i tick the button comes this error

![zwischenablagebild 1](https://user-images.githubusercontent.com/29702171/33525146-00bed804-d82a-11e7-876c-ed0dafac9ebf.jpg)

[2017-12-03 12:11] McGiverGim commented on #87
Can you give me more info about the problem? Chrome version? Operating system?

[2017-12-03 12:58] TheIsotopes commented on #87
@McGiverGim using Chrome Version 62.0.3202.94 (64-Bit) on Windows 10 Version 1709 (64-Bit)
same issue also with the cf blackbox-log-viewer

[2017-12-03 13:15] McGiverGim commented on #87
Strange, I've tested both, BF and CF, Chrome Versión 62.0.3202.94 (64 bits) and Windows 10 1709 (all like you), and they work for me.

We need more people testing this, to see if there's a problem with your system o maybe I made something wrong.

@mikeller can you test this, please?

By the error:

https://github.com/betaflight/blackbox-log-viewer/blob/5b1bd4a58068018f4858864478360277865a178c/js/m

[2017-12-03 14:20] basdelfos commented on #87
Just tested it on macOS, works as expected.
Chrome 62.0.3202.94, macOS 10.13.1 (macOS High Sierra).

[2017-12-03 14:27] TheIsotopes commented on #87
tested now on another system ... Chrome 62.0.3202.94 (64-Bit) on Windows 10 1709 (64-Bit) ... same problem also occurs here

[2017-12-03 15:35] McGiverGim commented on #87
Maybe you load it in a strange way? Out you simply load it as an unpacked extension?

[2017-12-03 16:46] TheIsotopes commented on #87
your right ... loaded as unpacked extension and the button works now ... before i'm loaded the index.html in an chrome window ... thx @McGiverGim ... closed now

[2017-12-03 16:46] #87 closed

[2017-12-10 22:30] richard-scott commented on #77
I get issues loading log files logged at 1.5kHz, I don't know if it crashes, but the App just hangs.
See sample good/bad log files on [here](https://github.com/betaflight/betaflight/issues/4728).

[2017-12-12 22:46] ctzsnooze opened #89 "Feature request - PID_sum to show effect of pid_sum limits"
I recently was testing yaw spins and noticed that although I had PID_sum limits enabled in the CLI (as per default), the logs appeared to show no effect of those limits - as if they were not working.

Maybe it would be preferable to display PIDsum *including* the effect of the limit, ie being being capped by the limit?

Seeing the limits - and confirming they are working - will allow the user to b

[2017-12-12 23:07] mikeller commented on #89
The values after limiting are not logged by the firmware in the first place, which means that the blackbox log viewer can not just display them.
I don't think that re-implementing firmware functionality in the blackbox log viewer in order to be able to calculate derived values (and after all, pretty much all values except for raw sensor input are derived) is the right approach.
For one, this will

[2017-12-13 07:24] ctzsnooze commented on #89
I wasn't meaning to change the blackbox viewer at all, but to change what was sent to the viewer by betaflight.  Sorry if I posted in the wrong place.  If you could point me in the direction and how to say it, that would be great.  Do you agree the limited (actual working) value should be the default, not the debug option?

[2017-12-13 07:42] mikeller commented on #89
No problem: https://github.com/betaflight/betaflight/issues

Yeah, I guess having the limited value (that is actually used) reported as default makes sense.

[2018-01-08 10:34] richard-scott opened #96 "Q: Any plans for a Standalone App?"
With the demise of Chrome Extensions, what plans does this project have to migrate over to a Standalone App?

[2018-01-08 10:38] mikeller commented on #96
Already done: #88.

[2018-01-08 10:46] richard-scott commented on #96
Great, where can I download it from?

[2018-01-08 10:51] richard-scott commented on #96
I've tried building from source with the same gulp commands I use for Betaflight Configurator or BLHeli and I do not get the expected executable created. No errors, just no App.

[2018-01-08 10:58] mikeller commented on #96
https://github.com/betaflight/blackbox-log-viewer . You'll have to build it yourself for now, we have not yet done a release.

I think there might be a problem with how gulp is handling concurrent tasks in our build processes. We're currently looking into this in the betaflight-configurator (betaflight/betaflight-configurator#830). Once this is sorted, we'll apply the learnings here.

[2018-01-08 11:01] richard-scott commented on #96
ok, thanks for the info.

[2018-01-08 11:01] #96 closed

[2018-01-08 11:10] basdelfos commented on #96
Yes, I was planning to do the same fix here when betaflight/betaflight-configurator#830 is ironed out (same for BLHeli configurator)

[2018-01-17 02:41] fujin opened #98 "BF 3.3.0 DEBUG_MODE still mismatched"
Hi there!

It seems like blackbox logs generated with the current version of bf/master, with debug_mode set to say `FFT`, are coming through out-of-sync with the debug enum: https://github.com/betaflight/betaflight/blob/master/src/main/build/debug.h#L49-L77

Attached log that was recorded with `debug_mode = FFT`, but appears as `DEBUG_ALTITUDE`. I made an ineffective attempt at modifying the fligh

[2018-01-17 06:10] GateslayerFPV commented on #98
I'm getting the same thing as well... but slightly different... FFT = Stack for me. NOTCH = debug for me. Here are some logs both FFT and NOTCH for debug...

[Debug Notch and FFT.zip](https://github.com/betaflight/blackbox-log-viewer/files/1637890/Debug.Notch.and.FFT.zip)

[2018-01-17 06:12] McGiverGim commented on #98
I will look into it. Thanks! Can you confirm me on what commit of the firmware are you?

[2018-01-17 06:14] GateslayerFPV commented on #98
I'm not sure... it's from the stable branch and it's whatever @fujin cooked up for me.

[2018-01-17 06:23] fujin commented on #98
We're livin' off a branch for now: https://github.com/fujin/betaflight/commits/rs2k-stable-alpha-216mHz-OC

[2018-01-17 06:38] McGiverGim commented on #98
Fixed. You can download the code from here: https://github.com/McGiverGim/blackbox-log-viewer/tree/bf-fix_unused_debug_modes

Or wait until it is merged.

[2018-01-17 09:00] #98 closed

[2018-01-25 20:43] richard-scott opened #101 "avcodec_receive_frame could not be located in nw.dll"
I've not used the log viewer in a few days, but today's build direct from master gives me this error.

![2018-01-25 20_39_16-betaflight-blackbox-explorer exe - entry point not found](https://user-images.githubusercontent.com/5149834/35411347-5f0abdc8-0210-11e8-8c5c-f83cba39ae8d.png)

I'm using the same build process as before which is still working for the configurator.

[code]

[2018-01-25 21:21] McGiverGim commented on #101
What windows version do you have?

[2018-01-25 22:19] richard-scott commented on #101
Windows 10, 64bit.
Last time I built this looks to have been on the 18th and it all worked then.
I can't build a 64bit version as there is no option for that.

[2018-01-25 22:21] McGiverGim commented on #101
Yes, you can build 64 bits version. It was merged some days ago. Please test it.

[2018-01-25 22:33] richard-scott commented on #101
ah it seems that a "git reset --hard" doesn't clean out files created in the last build... I need to use "git clean --force" before my "git pull". All good now :-)

[2018-01-25 22:39] McGiverGim commented on #101
Is better that you let the issue open. The official version is the 32 bits one. The 64 bits is not officially supported.

[2018-01-25 22:41] richard-scott commented on #101
The issue is gone now tho... If it comes back I'll open a new case. This one was user error 😀

[2018-02-05 17:12] touchthebitum opened #102 "Can't open log on standalone explorer"
I can't open log on standalone explorer but on Chrome app it is ok.
My setup blackbox is : 500mhz
Thanks
[BTFL_BLACKBOX_LOG_Piko_F4_20180204_194406.zip](https://github.com/betaflight/blackbox-log-viewer/files/1696091/BTFL_BLACKBOX_LOG_Piko_F4_20180204_194406.zip)

[2018-02-05 18:56] McGiverGim commented on #102
I've tried with the standalone version and it has opened without problem. Can you give more info? Operating system? What does it mean "can't open"?

[2018-02-05 18:59] touchthebitum commented on #102
[image: Immagine incorporata 1]

2018-02-05 19:56 GMT+01:00 Míguel Ángel Mulero Martínez <
notifications@github.com>:

[2018-02-10 13:53] mikeller commented on #102
Looks like it's trying to load the log file as video. Update to the latest version and then try again.

[2018-02-11 10:32] touchthebitum commented on #102
Hello
I can't open this log. I'm using the 3.0.0-RC1. It hangs and I have to close it with ctrl-alt-del.
[BTFL_BLACKBOX_LOG_Kakute_F4_20180211_112324.zip](https://github.com/betaflight/blackbox-log-viewer/files/1714249/BTFL_BLACKBOX_LOG_Kakute_F4_20180211_112324.zip)

[2018-02-15 07:10] touchthebitum commented on #102
Hello. I'm still  looking for a solution but I noticed that 32khz logs (recorded at 500mhz) are impossible to open but "normal" 8/8khz (recorded at 500mhz) are ok.
The problem is known or I'm the only one with this problem ?
I tried BBE 3.0.0-RC1 and 2.5.9(2.5.12) chrome version, app crash and I have to reboot my chrome browser to load the app again.
I fly with a Kakute F4 V2 (onboard 16mb flash m

[2018-02-17 22:33] spatzengr opened #103 "Spektrum Analizer Producing Wrong Results"
see https://www.rcgroups.com/forums/showpost.php?p=39190505&postcount=53831

the recent commit has some unintended consequences.  https://github.com/betaflight/blackbox-log-viewer/commit/9da966f3334f63db3da08161f47ef61631a4b0ec

@basdelfos

[2018-02-18 04:08] spatzengr commented on #103
CF BBE 2.5.11:  Expected peak motor noise in 200hz range.
![image](https://user-images.githubusercontent.com/25570978/36348152-45696552-1437-11e8-8ed7-83d449432e48.png)

BF BBE 3.0.0-RC1: Committee merged resulted in peak motor noise being doubled.
![image](https://user-images.githubusercontent.com/25570978/36348157-67520b24-1437-11e8-8503-3042b074e17f.png)

[2018-02-18 15:33] Mechotronic opened #107 "debug_mode: for BF3.3 changed from 8 to 6 for NOTCH in blackbox logs"
The debug_mode for the notch type changed from 8 (BF3.2.5) to 6 (BF3.3RC1)in the header for BB logs. I am unable to select the chart type DEBUG_NOTCH in BBE on BF3.3RC1.

There are also some parameter changes that break the header display panel. Some PID values are blank.

Looks like the enumeration is out of order now because the options are in a new order. MIXER and AIRMODE are removed.

#3.3RC1

[2018-02-18 21:22] etracer65 opened #108 "Throttle level not represented correctly in some 3D modes"
Basically it looks like if `feature 3D` is set then the viewer displays the throttle +- the mid_rc point.  The problem is that there are switched modes that change back to normal 1000-2000us throttle ranges.

For BF3.3:

If `3d_switched_mode = OFF` then the 3D disable mode turns off 3D mode (returns to normal throttle range) when the mode is active.

If `3d_switched_mode = ON` the throttle range i

[2018-02-19 08:49] basdelfos commented on #103
Fixed with #106

[2018-02-19 08:49] #103 closed

[2018-02-19 09:05] basdelfos commented on #107
@Mechotronic: did you compile the latest master? The debug_mode is already fixed in #97 to be compatible with BF3.3, but you will need to compile the latest master or wait until the next release of the Blackbox viewer.

You are right about some fields in the header display panel, i noticed that also. The header display panel needs some extra 'love' from us as there are more fields broken.

[2018-02-19 09:41] spatzengr commented on #107
@basdelfos , i noted the header display panel is much better in CF v3.0.0-RC1.  Maybe can grab that code?

[2018-02-19 09:58] McGiverGim commented on #107
Yes, some time ago I updated the CF code (it does not have the Header at all). So maybe can be taken from there.

[2018-02-19 15:03] Mechotronic commented on #107
@basdelfos I have not. I just used the latest available chrome plugin and standalone version. If it has been fixed in a merge I will delete this.

[2018-02-19 15:16] basdelfos commented on #107
The initial issue you posted (about the debug_mode) is fixed in #97. I have tested that myself.
Can you create a separate issue about displaying the header fields? After that we can close this issue as it has already been fixed.

[2018-02-19 18:10] #107 closed

[2018-02-20 18:37] richard-scott opened #109 "[Feature Request] Set BB Log Viewer as a default application for .BFL files."
In Windows you can associate a .BFL file with the relevant application to open the file. It would be handy if you could do this for log files. This way we could double click on a BFL file to open it or pin logs to the Task Bar icon and access them that way.

[2018-02-21 18:28] joshuabardwell opened #111 "FEATURE REQUEST: Batch video export"
It would be really really helpful to have batch export of videos rather than having to load each one individually. Coming back from the field with an SD card full of logs and having to open and export each one, one at a time, is really time consuming especially given how slow the Java exporter is. Would be really good to be able to load up a queue and come back overnight and have them just done.

[2018-02-21 18:31] joshuabardwell opened #112 "Exported video text is super low-resolution and distorted"
Steps to reproduce: export video. In the resulting .webm file, the text showing the stick positions and frame number is super low-resolution and distorted. I have verified this at both 1080 and 720 export. See screen shot:

![image](https://user-images.githubusercontent.com/8303366/36498157-7aaaeb2e-170b-11e8-8aa5-bb45f438e138.png)

[2018-03-03 08:21] basdelfos opened #113 "Current is recorded as centi-Amps, but displayed as Amps"
As per PM from jflyper.

[2018-03-03 09:03] jflyper commented on #113
I'm not sure about this anymore. Older logs that I have shows reasonable numbers displayed.
Do you have any comment? @brucesdad13

[2018-03-03 09:27] McGiverGim commented on #113
Can you test the master of cleanflight blackbox? I think it was solved here: https://github.com/cleanflight/blackbox-log-viewer/pull/61

I've maintained more or less the cleanflight blackbox app in the latest months, so maybe is better to do a comparison between both codes to see how many changes are in cleanflight and not in betaflight. Now the code is more or less the same, only changes are bran

[2018-03-03 15:09] ghostface commented on #65
Same here on chromium with linux

Chromium | 64.0.3282.167 (Developer Build) (64-bit)
-- | --
Revision | bf44778c9ce98ecff1128b225a165728044bbdeb-
OS | Linux
JavaScript | V8 6.4.388.45
Flash | 22.0.0.209 /usr/lib/PepperFlash/libpepflashplayer.so
User Agent | Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/64.0.3282.167 Safari/537.36
Command Line | /usr/lib/chromium/ch

[2018-03-03 15:44] ghostface commented on #65
I feel stupid - you need to click on the data entry (legend on the right e.g. gyro[roll]) you want to see, then it will show up :)

[2018-03-04 09:03] basdelfos commented on #113
I just did a test with a recent recorded bb log (BF 3.3-RCx) and newest blackbox explorer. Values of amperageLatest do not have an issue. 8-10A on a hover test flight seems to be ok to me.

[2018-03-04 09:03] #113 closed

[2018-03-05 01:35] ctzsnooze opened #114 "Latest commit 156f7e0 won't open blackbox files in web browser any more"
Is the downloaded zip file no longer supported for running inside web browsers?

This version will open via index.html but when I try to open a blackbox file, nothing happens.  Slightly older version works perfectly for same files.

[2018-03-05 07:11] McGiverGim commented on #114
No, the structure of the files has been changed, you need to make a `gulp release --chromeos` to generate a version or download it from one of the continuous integration servers (I don't remember the URL now).

[2018-03-05 07:13] McGiverGim commented on #114
I've found one, test if it works :)
http://andwho.sytes.net:8080/job/Borisb_Blackbox_Log_Viewer/Platform=linux/

[2018-03-05 07:31] McGiverGim commented on #114
Sorry @ctzsnooze I'm wrong. I didn't remember that the Blackbox contains the old structure (is the configurator the only who has changed).
So this seems a bug.

[2018-03-05 07:37] McGiverGim commented on #114
How do you load the Blackbox Explorer? Directly opening the HTML file? You must load it as unpacked extension. I did it and it worked. If you load it as unpacked extension, can you attach one of the files that you tried to load?

[2018-03-05 09:04] ctzsnooze commented on #114
Thanks @McGiverGim  - much appreciated!

In the past I would just download the zip and run index.html in Chrome.  It wasn't essential to load it as an unpacked extension.

Yes I tried that and it worked.

Maybe the read-me file could be updated to explain this, and include the Jenkins build site, which will be very useful in future.

Sorry for troubling you!

[2018-03-10 17:44] apoc opened #116 "Probably bad frequency meassuring"
There is difference between spectrum analysis and direct measurement by M key, see attached screen shot. In spectrum analysis the motor noise is about 500Hz but if I meassure directly on D-term I get the half (cca 209Hz)

![image](https://user-images.githubusercontent.com/28888/37245061-f38f82b8-2492-11e8-83fe-01c365bebdc6.png)

Gyro 32k
PID 16k
Logging 4k

[2018-03-13 14:10] pango opened #117 "RPMs not shown correct"
with debug mode set to "ESC Sensor" Motor RPMs do not get displayed correctly in the current blackbox log viewer. I'd expect rpms go up when I give full throttle. But the log viewer is showing the oposit at the moment. Also the range is weird. It only has values from 1 to 7.
![bblog_rpm](https://user-images.githubusercontent.com/148268/37346820-aa3a176e-26d0-11e8-942c-d90652564fa8.jpg)

[2018-03-13 14:12] pango commented on #117
here is the whole bblog file:
[1.5_ESCs_auf_48khz_BTFL_BLACKBOX_LOG_-_20180311_203816.BBL.zip](https://github.com/betaflight/blackbox-log-viewer/files/1807161/1.5_ESCs_auf_48khz_BTFL_BLACKBOX_LOG_-_20180311_203816.BBL.zip)

[2018-03-13 14:15] pango opened #118 "ESC Temperature not shown correct"
analog to ESC RPMs the Temperature value is not shown correctly.
In a test flight the values were starting at 102°C and ending at 4635°C !!! Thats quite hot ;)
![bblog_temp](https://user-images.githubusercontent.com/148268/37347095-5abdaa06-26d1-11e8-87a1-20162c04ab06.jpg)

[2018-03-13 21:28] shepes opened #119 "viewer takes cpu to 100% and fails to open log"
ive tried these log files on 3 different computers with the same result now. running BF 3.3 with a Matek f722 and onboard microsd card. Any attempt to open a log file generated by this FC results in the CPU going to 100% for one core and the log file not opening. Example log file attached, any advise appreciated
[LOG00007.BFL.zip](https://github.com/betaflight/blackbox-log-viewer/files/1808712/LOG

[2018-03-17 23:39] kszere opened #120 "How open or cut large 16MB LOG file?"
I using FC `KAKUTE V2`. Flash size for LOG data is 16MB. When I try opening this file, Chrome Crasching or MSG BOX `Page Unresponsive`.

How cut this file for few smallest?

[2018-03-21 09:44] TheIsotopes opened #121 "last build shows wrong sample rate"
@basdelfos since #115 the viewer shows wrong sample rate and choppy lines
analyzer display shows also wrong sample rate ... and since some time the feature `FAILSAFE` in the status bar is displayed incorrectly (see screenshots)... pls can you check this

latest build with #115
![new_build](https://user-images.githubusercontent.com/29702171/37702744-ce104c0c-2cf3-11e8-9eae-6f0ae0d94fd9.jpg)

build

[2018-03-21 09:49] mikeller commented on #119
What version of the log viewer are you using?

[2018-03-21 09:57] shepes commented on #119
Sorry completely forgot to update this, since formatting the micro SD
card again its been fine since. Initially I was sceptical of this as it
looked like the file was created successfully, passing it through
strings showed at least the header was valid, however clearly something
was up with the formatting. Only difference this time round was I
formatted the card on a windows machine. Previous atte

[2018-03-21 10:05] mikeller commented on #119
@shepes: In general, SD cards used for streaming data (logs, video, photos) should always be formatted with the SD Card Formatter (https://www.sdcard.org/downloads/formatter_4/), and have 'format size adjustment' enabled. This will allow them to be written at the maximum possible speed.

If this is fixed, can you close the issue please?

[2018-03-21 10:13] shepes commented on #119
Yeah I used that SD Card formatter on my mac and thats what then produced the unreadable logs, after that I formatted it using the windows built in format utility and its been fine since!

[2018-03-21 10:16] mikeller commented on #119
@shepes: Ok that is weird. But I only ever used the tool on Windows, so I can't comment on there being a problem with the Mac version.

[2018-03-22 09:07] TheIsotopes opened #123 "user settings on latest build not working"
i have more tested the latest build and found the user settings is also not working since #115 was merged
you can click on preferences but user settings not popping on

@basdelfos pls can you see whats wrong

[2018-03-22 09:07] basdelfos commented on #121
Strange, didn't notice that while testing #115, but I'm not sure I really have looked at this.
Can you send the BB log you where using while creating these screenshots?

[2018-03-22 09:10] TheIsotopes commented on #121
BB log is on the way

[BTFL_BLACKBOX_LOG_Mark1_20180321_100624.TXT](https://github.com/betaflight/blackbox-log-viewer/files/1836788/BTFL_BLACKBOX_LOG_Mark1_20180321_100624.TXT)

[2018-03-22 20:12] basdelfos commented on #118
@pango I know it is a late reaction, but do you have the BB log by any chance? Could you upload it, so I can use it to solve the issue?

[2018-03-22 21:32] basdelfos commented on #118
Nevermind, you already uploaded the BB log in issue #117.
Both issues are related btw, see #117 for further comment.

[2018-03-22 21:38] pango commented on #118
:)

[2018-03-22 21:39] pango commented on #117
Let me know If I csn help somehow.

[2018-03-22 21:56] basdelfos commented on #117
You made the log with the wrong `debug` setting, in the log `debug` is set to `ESC_SENSOR`.
The strange numbers in temperature and rpm are in fact the number of cnc-errors and the data age.

The correct way to log the temperature or the rpm is to set `debug` to `DEBUG_ESC_SENSOR_RPM` or `DEBUG_ESC_SENSOR_TMP` in the CLI. Values `debug[1-4]` are then filled with the temperature or rpm of the corres

[2018-03-23 00:44] #121 closed

[2018-03-23 00:44] #117 closed

[2018-03-23 08:37] TheIsotopes commented on #123
fixed now in #124 .... thx @basdelfos

[2018-03-23 08:37] #123 closed

[2018-03-23 19:27] sygel opened #125 "Throttle logging while reversing (inverted -> normal) in 3D mode"
The throttle values while reversing form inverted to normal go to max negative just before the reversal.  Is this a logging issue or are these values actually sent to the ESCs?

more info in this thread:
https://github.com/betaflight/betaflight/issues/5455#issuecomment-374269412

<img width="1851" alt="screen shot 2018-03-19 at 16 53 39" src="https://user-images.githubusercontent.com/8384245/37849

[2018-03-28 14:00] sygel commented on #125
If I choose smooth 0% the problem goes away.
You may close this issue.

<img width="1397" alt="screen shot 2018-03-28 at 15 58 07" src="https://user-images.githubusercontent.com/8384245/38033795-1f6e49d4-32a1-11e8-9347-950d99784718.png">

[2018-03-28 14:05] #125 closed

[2018-04-03 19:19] trendab commented on #120
Same issue here, same flight controller. Can only open really small log files.

[2018-04-04 03:28] mikeller commented on #120
More of a firmware problem than a log viewer problem. Can you please close and open in https://github.com/betaflight/betaflight/issues?

[2018-04-04 17:39] trendab commented on #102
I have the same problem. KakuteF4 V2, 8/8 logging at 1khz. File is 10mb, but also smaller ones are not opening. Using 3.0.0 RC1, tried betaflight, cleanflight and the one in the butterflight explorer.
[BTFL_BLACKBOX_LOG_Dragon_#2_20180404_191311.zip](https://github.com/betaflight/blackbox-log-viewer/files/1876904/BTFL_BLACKBOX_LOG_Dragon_.2_20180404_191311.zip)

[2018-04-06 07:54] wolkesson opened #127 "Rebuild the View buttons"
The View buttons do not give a good UX, in mine opinion. I would suggest to remove the View dropdown and split it up into button groups; View and Overlay.

View group would contain:
- Header
- Graph
- Statistics

Overlay ground would contain:
- Video
- Graph
- Model
- Sticks
- Spectrum

Preferences will be moved to a Cog far right. The full-screen button for the spectrum should be moved to the upp

[2018-04-06 23:42] wolkesson commented on #109
Will need:
1) Handling of cmd line arguments (https://github.com/nwjs/nw.js/wiki/Handling-files-and-arguments)
2) Installer to associate format

Both should be possible!

[2018-04-06 23:48] wolkesson commented on #65
Could be closed with no action I guess? Add a feature request for better UX in this regard. Should the toolbar button stay hidden until a signal is analysed? Should all signals in the graph be analysed or maybe the first?

[2018-04-07 12:10] McGiverGim commented on #120
@kszere I've published a test version for this problem in this issue: https://github.com/betaflight/betaflight/issues/5625

[2018-04-09 12:45] McGiverGim commented on #120
Solved in https://github.com/betaflight/betaflight/pull/5645

I think that this can be closed.

[2018-04-09 14:52] TheIsotopes opened #130 "latest build #33 not working on win 10"
@mikeller @McGiverGim pls can anyone check  what's wrong

when i start latest` build #33` on windows 10 i will become this failure:

![zwischenablagebild](https://user-images.githubusercontent.com/29702171/38504853-1d588f0a-3c16-11e8-98e8-908159262faf.jpg)

The procedure entry point `avcodec_receive_frame` was not found in `nw.dll`

[2018-04-09 14:57] richard-scott commented on #101
Ah, this one issue is back but this time I tried with: gulp apps --win32
I'm attempting to setup a new PC to build on.

[2018-04-09 15:26] AndersHoglund commented on #130
Verified, I see the same problem when running the installer.

[2018-04-09 15:38] McGiverGim commented on #101
Yes, working in a patch. Same issue than here: https://github.com/betaflight/blackbox-log-viewer/issues/130

[2018-04-09 15:46] McGiverGim commented on #130
Fixed here https://github.com/betaflight/blackbox-log-viewer/pull/131

[2018-04-09 15:47] McGiverGim commented on #101
Fixed here: https://github.com/betaflight/blackbox-log-viewer/pull/131

[2018-04-09 15:53] #120 closed

[2018-04-09 16:00] McGiverGim commented on #102
@touchthebitum it was a firmware problem. I have uploaded a firmware that solves the problem for KAKUTEF4V2 here: https://github.com/betaflight/betaflight/issues/5625

If you want you can use it until release 3.3.2 of firmware is out.

[2018-04-09 16:27] touchthebitum commented on #102
Great!! I'll try it. Thanks

[2018-04-09 20:15] #130 closed

[2018-04-10 20:34] wolkesson commented on #127
To be fair it's actually quite good looking as is! :) So I don't want to do any big changes. But I would like to give room for new signal analyzers, for example spectograms for vibration analysis, transfer functions or step responses for PID tuning.

Here's sketch:
![new ui](https://user-images.githubusercontent.com/5307773/38581386-041aca7e-3d0d-11e8-997d-66533fa668a5.PNG)
Annotated:
![new ui ann

[2018-04-11 12:53] wolkesson commented on #127
Just realized there's a missing `small-screen` definition breaking the responsive layout. There's also a lot of `@media min/max-width`. Is this intentional or should we use bootstraps build in definitions?
[code]

The downside to using bootstrap's is that you'll have to set classes in the HTML, whereas doing it in the CSS might blow-up the number of definitions.

[2018-04-13 05:09] smasslich opened #133 "Log Viewer v3.0.0 shows a 330hz notch at 660hz"
D-Term notch filter set at 330hz is showing in log viewer at 660hz.  This is using v3.0.0.

Screenshot of the issue:
![notch set at 330 shows as 660](https://user-images.githubusercontent.com/38341366/38717687-039d5204-3eae-11e8-9924-51e69f14adbf.jpg)

Log File:
https://www.dropbox.com/s/3vhej8lwsf92gaw/LOG00007.BFL?dl=0

dump file:
https://www.dropbox.com/s/2jt7npkgbkksps3/BTFL_cli_X5_Silky_20180

[2018-04-13 07:17] McGiverGim commented on #127
I can say... if something is broken, free feel to push a correction. I'm a web developer but my knowledge about responsive layouts is minimum.

[2018-04-13 12:47] McGiverGim commented on #133
Good catch. I've found the problem/s, but I don't know which solution is best. Is a problem of the firmware, but maybe is better to fix it in the blackbox and the configurator.

[2018-04-13 14:03] flint723 commented on #133
I thought it was a configurator issue at the heart of it (not setting logging rate correctly when gyro/pid rate is unsynced) but I agree the BB Explorer should be fixed to read these type of logs correctly.  Older versions of Explorer work.

[2018-04-13 22:48] ctzsnooze opened #137 "Default smoothing should be OFF on all channels"
Most people use blackbox to help with a tune or to help investigate hot motors / assess filtering effectiveness.

Currently the default behaviour is to smooth all traces.

Hence, on power up, any new user will have a display that does not represent the true noise situation of their quadcopter.

I think it would be very, very much better for the default on all graphs to be with smoothing off.

Then

[2018-04-13 23:02] ctzsnooze opened #138 "RC Command Graph incorrectly graphs stick position, not RC_Command"
I noticed that if I put the cursor carefully at the 50% point of an RC Command input (e.g., at the point where the graph of roll is 50% of the way up), the number displayed at the right hand side is *not* as expected.  Instead of seeing 50% of the peak roll rate as commanded, I see much less.

Eventually I realised that the graph is actually showing RC stick position, not the actual commanded roll

[2018-04-13 23:10] ctzsnooze opened #139 "Default expo and zoom should be 100% for all traces"
For a long time the defaults have had expo applied in varying amounts to different traces.  And some time back, not sure if it still is so, the default zoom for some traces was not 100%.

Could I please make the strong case for setting expo to zero, by default?

For example, there is no expo to motors, yet there is expo on gyro, and there is expo on RC input.  Immediately the translation between o

[2018-04-15 19:10] wolkesson commented on #37
I'm also struggling with this when looking at logs outside in the sunlight. I've made some tests and will do a PR in a while.

[2018-04-17 16:38] wolkesson commented on #127
PR #140 has been merged meaning this issue can be closed.

[2018-04-17 16:38] #127 closed

[2018-04-17 20:13] Aileron8 commented on #139
Great idea. The first thing I do is align my expos, smoothing, and zoom if I’ve changed them or configured a new trace. This will save time and potential misguidance.

[2018-04-17 22:04] mikeller commented on #127
@wolkesson: Protip: If you add `Fixes #<issue number>` as a comment to a pull request, the merge of the pull request will cause the issue to be closed.

[2018-04-18 09:13] LosD opened #142 "Any possibility of a linux32 release?"
I know it's ancient, but I have an old netbook which would be perfect for BlackBox Explorer (and BetaFlight Configurator for that matter), except it's running on an old 32-bit Atom processor.

Is there any problems with the linux32 target, since you don't release it, or has it just been a case of "why would anyone ever want this..."? If it's the latter, I'd respectfully request linux32 added to th

[2018-04-18 10:48] LosD commented on #142
Totally works!

First try was a failure, but that was because I'm using an old Lubuntu (16.04), and I needed to update nsslib.

Thanks again, @AndersHoglund! :)

[2018-04-18 10:48] #142 closed

[2018-04-18 10:50] LosD commented on #142
(It's incredibly slow, but that's hardly a surprise :))

[2018-04-18 11:10] AndersHoglund commented on #142
Oooh, yeah. Slow is just the middle name. Sorry, should have warned about that.

[2018-04-18 11:58] LosD commented on #142
Well, it wasn't exactly unexpected. My test logs are also huuuge (full flights, notch debug, 8khz sample rate).

I expect to use shorter flights for testing filter configurations, and then lower the BB sampling frequency for the PID debugging.

The BetaFlight configurator also works very well, by the way :)

[2018-04-18 12:17] AndersHoglund commented on #142
Thanks for the reports, and the testing.
One clarification is needed though. By "Slow" I meant slow download from Jenkins. Did you also mean that, or slow execution of the apps? Or both?

[2018-04-18 12:50] LosD commented on #142
Oh, I meant the apps (only BB Explorer is slow, but that's probably netbook that's not up to the crunching  of numbers. Configurator is a liiiitle bit slow, but not problematically so)... But yeah, the Jenkins download speed isn't exactly stellar. And for some reason kept failing on my netbook's Firefox, so I downloaded it on my desktop computer and transferred it to the netbook directly.

The dow

[2018-04-19 13:37] tomidland opened #143 "Drag and Drop files to LogViewer window / open button does not work anymore"
In 3.0.0. RC3 (and earlier I believe) it was possible to drag and drop log files to the Explorer window / Open button. That is not possible with the latest 3.0.0 as far as I can see. Can we please get this back? :)

(Tested on windows 10 x64)

[2018-04-19 13:58] McGiverGim commented on #143
I don't remember that this was a feature of Betaflight never... are you sure that drag and drop worked?

[2018-04-19 13:59] tomidland commented on #143
Absolutely certain!
One dragged the file to the "Open" button :)

[2018-04-19 14:02] tomidland commented on #143
Never mind, it works now! Maybe it was my computer that had a problem! :)

[2018-04-19 14:02] #143 closed

[2018-04-22 16:38] Strangedave opened #145 "Log will not open."
I tried to open this log file on 2 different pc's and also an older version of black box viewer. I use version 3.3 on another quad and it works fine, however my flash storage on that board is only 2mb. Built a new quad a few days ago, and the board has 16mb of storage. The log files generated at 1.5khz sampling are in the 10 mb range. I have been able to open shorter files, but the larger ones are

[2018-04-22 17:09] McGiverGim commented on #145
This was a bug in the firmware, and was solved here: https://github.com/betaflight/betaflight/pull/5645
The patch will be included in Betaflight 3.3.2.

[2018-04-24 05:08] Strangedave commented on #145
Spoke too soon, Im pretty sure I need to use fpvm betaflight f7. Gonna try
that tomorrow.

Dave G

From: Míguel Ángel Mulero Martínez [mailto:notifications@github.com]
Sent: Sunday, April 22, 2018 12:10 PM
To: betaflight/blackbox-log-viewer <blackbox-log-viewer@noreply.github.com>
Cc: Strangedave <dave@dave-goddard.com>; Author <author@noreply.github.com>
Subject: Re: [betaflight/blackbox-log-vie

[2018-04-24 09:03] #109 closed

[2018-04-24 20:15] Legista opened #148 "UI setings affects Spectrum analyzer"
When i changing Zoom in Graph setup the peaks in Analyzer changing too.
I.e., i set 100% zoom - then i have small, normal peaks, when i set 1000% - i have so large peaks that i can't zoom down by vertical slider.
I have this settings on my gyro graph - Smooth 0, Expo 100, Zoom 1000% because i want to see noise RAW. So because of this i need to make another graph with zoom 100 to get normal spectru

[2018-04-25 10:43] wolkesson commented on #37
Just, wanted to say that I'm working on this and will have a PR ready in a few days.

[2018-04-25 14:15] wolkesson opened #150 "Cleaning out old and stale branches"
Do some house-keeping and delete stale and merged feature branches from back in 2016. This is from before betaflight was forked from cleanflight. These can easily be recreated should a bug be found! This applies to these branches for example:

- BB-Viewer-Cleanup
- Chart-Grids
- Custom-Graph-Setup
- draggable-graph-fields
- Mousewheel-Controls-Update
- new-layout
- Parser-update
- SpectrumAnalyser

[2018-04-27 09:28] wolkesson commented on #49
This was fixed by commit https://github.com/cleanflight/blackbox-log-viewer/commit/36c045e97a1cf3656f3a0524e9fee82c31a3a520 and later merged into betaflight. Works in 3.0.0. I guess this issue be closed?

[2018-04-27 09:29] #49 closed

[2018-04-27 14:07] wolkesson commented on #25
This is still a bug!!! I've not reached the core why options.drawSticks are not retained when for example "QuickSmooth" is used. But for some reason, the sticks are drawn in the same canvas as the graphs, but the craft and analyzer are drawn in separate ones. The separate canvases are hidden/shown with CSS styles. While the sticks are hidden with a flag in grapher.js. Is there a reason for this in

[2018-04-27 15:03] wolkesson commented on #51
This usually works fine for me as long as the header is intact. Any progress with this particular file? Otherwise, I recommend closing this.

[2018-04-27 15:35] #51 closed

[2018-04-27 15:38] McGiverGim commented on #31
I think that the shortcuts dialog is a good place for this.

[2018-04-27 15:42] McGiverGim commented on #25
@wolkesson any cleaning in the code is always welcome. If you can do the PR it will be great!

[2018-04-28 17:32] wolkesson commented on #38
Close this! ;-)

[2018-04-28 17:33] #38 closed

[2018-04-29 19:54] haplm commented on #77
The same problem here. Logged with 1.5kHz, and the viewer hangs when loading the log.

Is a solution on the horizon? I've got tons of logs with this setting, so I'm just curious if I should redo everything, or wait for a bit...

[2018-04-29 20:37] McGiverGim commented on #77
The problem was a bug in the firmware and was solved. You can use your log if you edit your file and change the p denom value, the 0 by 1.

[2018-04-29 20:59] haplm commented on #77
Thanks, but I' seeing 48 in my log file:

H P interval:0/1
H P denom:48
H minthrottle:1070

so I'm not sure what to change. Or could you perhaps point me to the issues in BF that discusses this?

[2018-04-29 21:00] McGiverGim commented on #77
Was the P interval, my fault. The zero makes an infinite loop. Change 0/1 by 1/1.

[2018-04-30 10:55] McGiverGim commented on #77
I close this issue, as I said, it was solved in firmware and will be available in the next version.

[2018-04-30 10:55] #77 closed

[2018-04-30 10:59] McGiverGim commented on #145
@Strangedave Can you confirm this problem was solved and close this issue? Thanks!

[2018-04-30 11:04] McGiverGim commented on #133
This was solved in the firmware https://github.com/betaflight/betaflight/pull/5688 so I close this.

[2018-04-30 11:04] #133 closed

[2018-04-30 11:09] McGiverGim commented on #116
There was a bug in the firmware when Gyro loop is different from PID loop. You have more info here: https://github.com/betaflight/blackbox-log-viewer/issues/133

I close this issue. If you can, test the latest master of the firmware to verify this is solved.

[2018-04-30 11:09] #116 closed

[2018-04-30 14:45] #145 closed

[2018-04-30 14:45] Strangedave commented on #145
Done. Sorry about that.

Dave Goddard
Garry Real Estate
Office (630)310-8315
Cell (630)992-3283
Email dave@dave-goddard.com
Web www.4ure.com

[2018-05-03 02:03] flint723 opened #160 "BB explorer spectrum analyzer scale reading double"
Just flashed CI build 796 (from CI build 719, before the BB fixes), and now (again) the scale in spectrum analyzer reads double what it should.  It's been fine on other new logs with synced gyro.

I know from previous logs the big spike appearing at 625hz is at ~300hz.  The visual data is correct (and it is a 4khz log based on file size), just the scale shown on the spectrum analyzer is wrong.  No

[2018-05-03 02:36] #67 closed

[2018-05-03 06:31] McGiverGim commented on #160
Strange, I will try to check it... maybe we missed something.

[2018-05-03 10:15] wolkesson commented on #30
Are there any remaining sub-issues not addessed yet? Issues above related to extensions are fixed.  and Image filename casing was fixed in 2.5.7. webm-writer version is now 0.1.1. So I guess this can be closed?

[2018-05-03 10:17] wolkesson commented on #25
I'm working on a PR for this! Will split out the sticks to separate canvas and a separate js-file. I'll take a couple of days more.

[2018-05-03 10:32] wolkesson commented on #39
This was fixed in commit 4ae98ec68bc2461202bb0668de0b9dcab8151570. This issue can be closed! (Resuming my quest on closing old issues...)

[2018-05-03 10:34] wolkesson commented on #43
Fixed by 6295f2436a167fc3168f12540dfa4567e8592ee1 by @GaryKeeble . Close this issue!

[2018-05-03 12:42] #43 closed

[2018-05-03 12:43] #39 closed

[2018-05-03 12:46] McGiverGim commented on #30
I suppose it has been solved, so I close the issue. If some bug remains it can be opened again.

[2018-05-03 12:46] #30 closed

[2018-05-03 13:10] McGiverGim commented on #160
Fixed in https://github.com/betaflight/blackbox-log-viewer/pull/135 and merged.

[2018-05-03 13:10] #160 closed

[2018-05-03 14:28] flint723 commented on #160
Thanks a lot!

[2018-05-03 21:30] wolkesson commented on #48
This doesn't seem to be merged into betaflight/blackbox-log-viewer yet? Same issue as #47.

[2018-05-04 06:56] #48 closed

[2018-05-04 07:09] McGiverGim commented on #138
After reading your text now I understand why the gyro graph is different from the rc graph :)

I'm with you that this must be fixed, but I'm not too sure if your suggested solution is the best. To me, the `RC Command` is more the position of the stick, and maybe to the rate the `setpointRate` will be better understood as `RC Rate`.

So my suggestion will be:
- Let the `RC Command` as the stick pos

[2018-05-04 07:26] McGiverGim commented on #47
Seems the same problem as https://github.com/betaflight/blackbox-log-viewer/issues/48 and has been fixed.

[2018-05-04 07:26] #47 closed

[2018-05-04 07:40] McGiverGim commented on #76
I don't know what is the actual state of this, but the DTERM debug mode was removed in latest versions of CF/BF, so maybe is better to close this.

[2018-05-04 07:42] #68 closed

[2018-05-04 07:42] McGiverGim commented on #61
@nathantsoi can you confirm if this is a problem with the latest version too? And easy way to reproduce this?

[2018-05-04 07:57] #37 closed

[2018-05-04 08:00] rodgerramjet commented on #37
Awesome- thank you @wolkesson

[2018-05-04 08:04] mikeller commented on #150
Done.

Thanks for bringing this to my attention. I personally think that creating feature branches in project repositories should be avoided unless they are needed for collaboration - the reality is that a lot of the time they end up orphaned, waiting for somebody to put them out of their misery.

[2018-05-04 08:53] mikeller commented on #138
@McGiverGim: I am with you, I think separating the two things out clearly is the way to go.

[2018-05-04 12:16] wolkesson commented on #150
Agree! The GitHub-way seems to be to fork and do your branches there. You might as well also collaborate on that fork branch.

Great clean-up today, both on branches and issues! I'm closing this too now! 8-)

[2018-05-04 12:16] #150 closed

[2018-05-04 23:57] ctzsnooze commented on #138
Yes agreed, that sounds great!

So RC Command is sticks (input), and RC Rate is the actual commanded rates.  Perfect.

Thank you!

PS yes RC Command is one of the default graphs, and yes please do change it to RC Rate.  This way users will, in the default screen, compare 'apples to apples' = the set RC rate to the actual gyro rate.

[2018-05-05 01:03] ctzsnooze commented on #148
This is intended behaviour, and useful.  It allows you to vary the vertical scale of the spectrum.

Also note that the amount of flight time included in the spectrum affects how tall the spectrum will be.  Use i and o keys to select the amount of flight time that is the same, when making comparisons.

[2018-05-05 02:15] ctzsnooze opened #165 "Show amount of vertical scaling, expo and smoothing on-screen"
It would be helpful if the amount of the zoom, expo and smoothing settings was present on the screen somewhere.

The reason is that people are always making screen images but I don't know what these settings are, so I can't interpret the image.

It is difficult because these settings can vary trace by trace, and the amount of info is not trivial.

Eg smooth 50% / expo 40%/ zoom 200% might be repre

[2018-05-05 02:21] ctzsnooze opened #166 "Change the key for zoom in/out in time to t, use z for vertical scale zoom 100% vs Set"
It would be very useful to be able to toggle, using a keystroke, from the vertical zoom of the graphics from as set in Graph Setup to 100%.

This would allow the user to, for instance, set gyro zoom in the graph setup to say 800%, and toggle this detail view on or off.

Even better, if this state could be defaulted under the saved user settings, then the default behaviour could be all zooms at 100

[2018-05-05 08:01] wolkesson commented on #165
Great idea! It's important info when trying to help out using screenshots. If we show the smooth, expo and zoom per trace, the magic mouse wheel scroll interactions and overrides would be a lot easier to understand. I would suggest squeezing it in the legend anyway.

We could move the log number selection dropdown to the empty space below the legend. The header "Legend" could go away. That should

[2018-05-05 09:49] McGiverGim opened #167 "Expo, Smooth and Grid buttons hide when enough space"
If I made the window small enough, the zoom is converted into a menu and some "new" options appear:

![image](https://user-images.githubusercontent.com/2673520/39661857-4d2638ca-5059-11e8-822b-bb3ac2be4515.png)

These options are not available when the window has space enough. This can be fixed adding the buttons in the expanded form, in the same way than there are in the view menu.

I've done it,

[2018-05-05 11:45] wolkesson commented on #167
That would be a great change! I noticed this when I rebuilt the toolbar but decided to leave it just to keep the change small. But it definitely should expand into buttons when there is space enough.

Question is if it should be on the zoom menu at all, since the zoom is time-wise not in amplitude? I'll create some icons (smooth, expo, scale, grid) and put them on this thread for discussion. I can

[2018-05-05 12:13] McGiverGim commented on #167
Yes, any change in the UX that you can do will help a lot .The functionality is there, the actual menu items work. I can add later the "store" in the chrome storage without problem.

Thanks again for your help!!

[2018-05-05 12:46] apoc commented on #116
Cool, thank You.

[2018-05-07 15:34] McGiverGim opened #169 "Blackbox/Video desync"
I don't know if maybe is a problem with my video (Runcam Split 2), but I have observed that the video is slightly faster than the blackbox log.

If I sync the video with the log, and I advance the log, the video is faster. Maybe others had notice the same?

I don't know where the problem can be. First, is better to see if I'm the only one (is a problem of mine) or is a bug.

[2018-05-09 00:16] wolkesson commented on #167
We suddenly go very nice flying weather! Ergo the time in front of the computer has been very limited... I've started it but will require more time to get the responsiveness right.

I think we should also add a button for overriding Vertical Zoom as #166 suggests? I'd like to call this "scale" to not confuse it with a horizontal/time "zoom". I'll prepare this PR with commented out stuff, but the i

[2018-05-09 06:13] McGiverGim commented on #167
Hi! Great images! I think they will do the job.

Don't worry about the time. When you have time, it will be enough.

I think is better to ignore https://github.com/betaflight/blackbox-log-viewer/issues/166 by the moment. The problems, one by one. There is no actually a way to do this, and I'm not sure if it will be useful enough: the vertical zoom is defined by two things, the zoom desired and a c

[2018-05-11 17:39] wolkesson commented on #167
Hi again!
You're right, always solve one problem at a time!

I've come up with two alternative placements for the buttons; one is on the toolbar, the other is in the legend. Of course, we shouldn't have both. Since the setting only affects the graph I figured it might as well be in the legend. Also this way it doesn't have to collapse into the other dropdown when the screen width gets too small.

[2018-05-11 18:06] McGiverGim commented on #167
Hi! I like more in the toolbar, I don't like have to search in the screen where is the button. But is not my decision only. @mikeller what do you think?

The result is great in both places, good work!

[2018-05-11 23:37] mikeller commented on #167
I think both placements are good. If I had to decide I would go for putting them into the legend, because that solves the problem of the toolbar being overloaded, and makes sure that the information about the grid mode is included when users take screenshots of graphs, which is a nice side effect.

[2018-05-12 00:07] #53 closed

[2018-05-12 13:39] #138 closed

[2018-05-12 20:41] wolkesson commented on #80
I guess this is already solved by #164?

[2018-05-12 20:47] McGiverGim commented on #80
I think that yes.

[2018-05-12 21:43] #118 closed

[2018-05-12 23:58] ctzsnooze commented on #89
bump
should be fixed.
if PIDsum is actually limited, what appears in blackbox should be limited.  It should be the actual value the FC is working with.3

[2018-05-13 05:56] McGiverGim commented on #89
The Blackbox only shows what is in the logs. If the value is not correct, is the firmware who is sending the bad value and must be fixed there. At least this is my opinion.

[2018-05-13 09:05] McGiverGim commented on #169
I think that this problem is a bug in the Runcam Split 2.

I've recorded a video with the Runcam Split 2. At the start of the video I've shown a chronometer, and the same chronometer at the end. The result is like this:
- The chronometer has advanced 7 minutes 14 seconds
- The runcam split has recorded, while this time, a video of 7 minutes 25 seconds

This 11 seconds of difference are not noticea

[2018-05-13 09:05] McGiverGim commented on #169
@azolyoung can you confirm this problem with Runcam Split 2?

[2018-05-13 09:06] McGiverGim commented on #80
I close this issue, because it seems to be fixed. If not it can be opened again.

[2018-05-13 09:06] #80 closed

[2018-05-13 09:49] wolkesson commented on #165
Here's a paint mock-up! Either;
A) we do as on the first graph and put it between the name and value, but that means that we might have to increase the width of the legend a bit to fit the longest names. And maybe find another solution for the "analyze button".
B) we do as on the last field and put it on a wider line below the field name and value.
C) we put it on as cryptic numbers on the actual

[2018-05-13 10:09] McGiverGim commented on #165
The idea es very good, but I don't know where to place it to fit perfectly.

About this, I've pushed a PR to "give more user friendly names" to the legend, and thus they are a bit longer, so less space to this info.

About A the good notice is that the legend adjusts the size automatically to the contents, so it will fit.

I like your B idea to put them in the line, but this width of line I think

[2018-05-14 01:49] azolyoung commented on #169
OK, got it, I'll test it with split in tomorrow:)

[2018-05-14 03:07] ctzsnooze commented on #165
To be honest I am thinking that the legend might get too wide with the numbers next to the name.

So I think on the far left looks good and gets the job done!

Thank you!

[2018-05-14 06:07] McGiverGim commented on #169
Thanks! Waiting for your conclusions!

[2018-05-14 06:30] wolkesson commented on #165
@mikeller: With A, I think you mean C (in the actual plot not the legend)? :)

[2018-05-14 06:32] mikeller commented on #165
@wolkesson: Yes, that's correct. ;-)

[2018-05-16 09:52] McGiverGim commented on #31
Closed. Fixed in https://github.com/betaflight/blackbox-log-viewer/pull/155

[2018-05-16 09:52] #31 closed

[2018-05-17 06:05] flint723 opened #177 "RC command traces (RPY) do not display correctly in newest master"
Newest master 1564f98 (probably older ones too) has the issue, RPY traces are off the bottom of the chart.  I think it's just an BBE error because the values (1000-2000 scale) appear correctly in the legend area.  Throttle works fine.

Edit: Adjusting zoom on throttle graph does make RPY traces appear correctly.
![image](https://user-images.githubusercontent.com/30608240/40159513-41ebb31c-596f-11e

[2018-05-17 06:34] flint723 commented on #169
I've seen the same with Fatshark DVR loaded into BBE.  Slight video desync by the end of the log.  I don't have exact numbers but I've noticed it a few times now.

[2018-05-17 06:40] McGiverGim commented on #169
If you can, make the same test than me: record a clock at the beginning and at the end and see if the time in any video player is correct with the clock difference. In my case it seems a problem with the Split, maybe in yours is with the Fatshark DVR ;)

[2018-05-17 11:03] Legista commented on #148
Thanks for reply.
I understand - it's  intended behaviour.
So this issue can be closed :)

[2018-05-17 11:03] #148 closed

[2018-05-18 04:57] 19Gerhard85 commented on #169
@flint723
The Fatshark DVR is dropping frames if the reception is too bad (static).

[2018-05-18 05:00] flint723 commented on #169
OK thanks, makes sense.

[2018-05-19 17:40] #50 closed

[2018-05-19 17:40] #55 closed

[2018-05-19 17:40] #63 closed

[2018-05-19 17:40] #114 closed

[2018-05-23 09:18] #167 closed

[2018-05-23 09:57] McGiverGim commented on #169
@azolyoung did you test the problem? Can you confirm it?

[2018-05-24 01:03] spatzengr opened #185 "Gyro and Debug Misaligned"
In the master, as of 5/23 it appears the scaling of the gyro vs. debug modes is off.  See below images from 5/11 master vs. 5/23 master.

![image](https://user-images.githubusercontent.com/25570978/40458951-c28017d6-5ecc-11e8-9165-5bc1a88eb902.png)

![image](https://user-images.githubusercontent.com/25570978/40458964-c8fc00c0-5ecc-11e8-9ed6-e063e0d208e7.png)

[2018-05-24 06:12] McGiverGim commented on #185
Can you attach our blackbox file? Thanks!

[2018-05-24 09:09] #139 closed

[2018-05-24 11:59] McGiverGim commented on #177
I have done some tests:
- This only happens when the "RC Commands" group is selected if the Graph setup.
- If after that, you enter in the graph setup again, the group has disappeared and shows the individual graphs. Pressing saving fixes the issue.
- Another option is to select each of the graphs individually, then the bug does not happen.

I suppose some value to adjust the individual graphs is

[2018-05-24 13:13] spatzengr commented on #185
Yes, I should have done that.  Apologies.

[2018.05.18-BF 3.4.0-Build 793_PT1=90+DyN+PT1=300_Dt=PT1-100,200-FIRST LOS.txt](https://github.com/betaflight/blackbox-log-viewer/files/2035448/2018.05.18-BF.3.4.0-Build.793_PT1.90.DyN.PT1.300_Dt.PT1-100.200-FIRST.LOS.txt)

[2018-05-24 18:33] McGiverGim commented on #185
Tested and works with the https://github.com/betaflight/blackbox-log-viewer/pull/186

[2018-05-24 22:41] #65 closed

[2018-05-24 22:42] #185 closed

[2018-05-25 16:42] wolkesson commented on #166
I agree on zoom meaning two different things are confusing! I would suggest to call vertical zoom "scale" or "gain" and let horizontal / timewise zoom remain as just "zoom". That way keeping 'z' as the soft key won't force the few power users that actually use it to change.

Also, I don't think overriding vertical zoom will have the intended effect. I guess you want to press this button and everyt

[2018-05-26 11:42] #177 closed

[2018-05-27 22:12] #25 closed

[2018-05-28 10:54] hermanblarsen opened #192 "Cannot open video .AVI files produced by Eachine VTx + DVR"
Link to Eachine VTx+DVR see [https://www.banggood.com/Eachine-DTX03-DVR-5_8G-72CH-025mW50mW200mW-Switchable-VTX-w-Audio-NTSCPAL-p-1141123.html?gmcCountry=GB&currency=GBP&createTmp=1&utm_source=googleshopping&utm_medium=cpc_ods&utm_content=heath&utm_campaign=pla-fpv-gb-pc&gclid=EAIaIQobChMIq93m5p2o2wIVibTtCh1lGgI8EAQYASABEgJzHfD_BwE&cur_warehouse=CN](url)

Produced file by the VTx for testing, ie o

[2018-05-28 11:14] mikeller commented on #192
@hermanblarsen: The problem with 'supporting AVI' is that AVI is what is called a 'container format'. This means that it just describes how data blocks are arranged in the media stream, but the format that is used to encode the data is not specified by the AVI format - it can be pretty much anything. So without knowing what video format a particular device that records AVI files uses, it is imposs

[2018-05-28 11:14] McGiverGim commented on #192
AVI is only a container and is supported by the Blackbox (it supports AVI, MOV, MP4, MPEG). The container includes inside the video in different codec formats. If something is wrong while loading the video then the error is thrown.

[2018-05-28 11:18] McGiverGim commented on #192
mikeller was fastest than me :)

What is a little strange is the error message. The latest part (Try Google Chrome instead) has no sense. Maybe is better to remove it and change it by a more generic codec video error.

[2018-05-28 11:35] mikeller commented on #192
Yeah, that message is weird - and we are generating it. Should definitely change this.

[2018-05-28 12:13] McGiverGim commented on #192
@hermanblarsen I've tested your AVI sample attached, and the error is a CODE 4: MEDIA_ERR_SRC_NOT_SUPPORTED.

So it seems chrome does not support your coded. At least by the moment we can't fix this.

[2018-05-28 12:18] #192 closed

[2018-05-28 16:13] wolkesson commented on #112
I've recently made some changes to the stick rendering and at least it now works on my log files. @joshuabardwell: Could you please check if the latest version has fixed the problem? You'll have to compile from code. Or if you like, you could post some files here and specify your user and export settings and I'll test it for you.

[2018-05-28 16:27] McGiverGim commented on #112
You can grab the latest version from here too http://andwho.sytes.net:8080

I think remember this only happens when you have no video, only log. Have you tested it without video @wolkesson ?

[2018-05-28 21:07] wolkesson commented on #112
The bug is still present when exporting just the log. I’ll look into it!

[2018-05-28 21:09] McGiverGim commented on #112
This does not seem easy... Good luck! 😊

[2018-05-28 23:16] wolkesson commented on #112
Hum, it had nothing to do with the canvas size, render quality or resolution (devicePixelRatio nor backingStorePixelRatio). The "export canvas" looked good if added to the visible DOM. Also the resolution of for example the mode text inside the sticks is good. So I suspect it has something to do with webm-writer not liking transperency.

Since my knowledge of webm is limited, I've created a work-a

[2018-05-29 06:13] #112 closed

[2018-05-29 07:07] McGiverGim commented on #108
@etracer65 I never used a 3D quad so I don't understand exactly the problem, but if you attach a blackbox log maybe I can look into it.

[2018-05-29 07:11] #76 closed

[2018-05-29 21:17] ctzsnooze commented on #89
Unfortunately I an not a good enough coder to know how to fix it within betaflight code, if you know what should be done, I'd be very grateful if you could generate the PR.

[2018-05-29 21:22] McGiverGim commented on #89
If I'm not wrong, you are saying that the limits are ignored. The blackbox shows what the firmware writes, so or the limit is really not working, or the firmware is writing erroneous values. Can you attach a log with the problem? But I think we will need to write the issue in the betaflight firmware github.

[2018-05-29 23:36] ctzsnooze commented on #89
I don't have a log now, I'll make one.  I just recall making a test where I set a limit to a low value, made a log, and found that the log showed the value exceeding the limit.  It could be that the limit didn't work at all, but I think more likely it depended where blackbox got the value from - the value that went into the log.  And that I couldn't figure out.  :-)  But I think everyone is too bu

[2018-05-30 06:41] McGiverGim commented on #89
If it serves at you, in one test with flint, we add a limit to the iterm and it worked. And in the blackbox the iterm graph was limited by this iterm. I don't know if the bug can be in others.

[2018-05-31 09:21] McGiverGim commented on #165
@wolkesson some advance with this? I think is the latest "great" feature left for the release of Betaflight 3.4. It seems that B will be enough by the moment.

[2018-05-31 09:29] McGiverGim commented on #137
I think that now this is more or less fixed.
- It is not off by default, I'm not too sure if this must be. @mikeller what do you think? I prefer to see the traces with smooth but I understand the sense of smooth off. I think that the novice user can prefer smooth activated, it is simpler to see the things. But an advanced user, that looks for spike, noise, and other advanced features can prefer sm

[2018-05-31 11:00] mikeller commented on #137
I think the remembering of the settings is the important part - a user will set it to whatever they want it to be, and it stays that way.

[2018-05-31 13:07] McGiverGim commented on #137
True. The default will only happen the first time the user installs the app. So I close this issue. Thanks!

[2018-05-31 13:07] #137 closed

[2018-05-31 14:42] etracer65 commented on #108
@McGiverGim I'm not a 3D pilot either but noticed the behavior in the logs while working on a 3D related issue.

A little background first (I'm leaving out the 3D deadzones for simplicity).

When ESC's are in 3D mode they apply positive thrust from 50-100% throttle input and negative (reversed) thrust for 50-0% throttle input.

In 3D mode the center throttle position (mid_rc defaulting to 1500) is

[2018-05-31 14:53] McGiverGim commented on #108
Too much info for my brain!!!! :-P

I will try to test all of them and see if it is a Blackbox or a Firmware issue. The value (1000-2000) is been written by the Firmware, so we can't do too much with it here, and represents the sticks position. The correct is that they always be in the 1000-2000 range, if not I'm pretty sure that the Firmware has wrote it bad (I will check with your files).

But t

[2018-06-01 09:20] mikeller commented on #108
@McGiverGim: Sorry to blow your brain even more.

@etracer65: Yes, in principle, but this is not complete:

This is wrong. At 1500 in 3D mode the ESC output is off (the same as 1000 in non-3D). The jump from idling at 1500 + 3D-deadband / idling forward to 3D-deadband / idling reverse is entirely done in the firmware, when the stick crosses the 1500 line (there's no way to ever go to 'props are st

[2018-06-02 23:09] wolkesson commented on #165
I’ve come about halfway with option B, but won’t be able to continue for some days... Will skip scrollwheel handling for now, and add it in later because it would be neat to scroll on the number to change that property.

[2018-06-03 07:03] McGiverGim commented on #165
As always, don't worry, when you have time. It's not a critical feature. Thanks for the update!

[2018-06-03 19:02] Lord-Quake opened #195 "Stick Display - Top is cut off (tested with build 72)"
It doesn't matter where it is positioned and what size it has.
![stick_window](https://user-images.githubusercontent.com/29223282/40890104-10c227ac-6771-11e8-984f-cee46e6814ea.png)

[2018-06-03 19:06] McGiverGim commented on #195
@wolkesson maybe something here https://github.com/betaflight/blackbox-log-viewer/pull/188 can have this secondary effect?

[2018-06-03 19:10] Lord-Quake commented on #195
Maybe this is also related?
![time_stamp](https://user-images.githubusercontent.com/29223282/40890192-793cf5a4-6772-11e8-9e67-cb309dbea76a.png)

[2018-06-03 19:28] McGiverGim commented on #195
Strange. The time is not cut in my screen.

[2018-06-03 21:18] etracer65 opened #196 "Debug field graphs display with seemingly random scaling and position"
When comparing some debug fields to other normal fields in logs it's common that the scaling or position of the debug data seems to be chosen at random.  Take this example:

![screen shot 2018-06-03 at 5 06 26 pm](https://user-images.githubusercontent.com/17088539/40891298-a90c2354-6772-11e8-8953-1aa530af7391.png)

In this case the data in debug[0] is exactly the same scale and range as the data i

[2018-06-04 09:21] McGiverGim commented on #196
The Debug values must be added, one by one by each debug mode. If not, the blackbox explorer ignores what this debug value contains, so it shows the raw value but ignores the max or min, offset, etc.

To any debug mode, the "names" for the fields can be added in `flightlog_fields_presenter.js` and the scale, etc. in `graph_config.js`.

Take a look to it, or if you prefer, please give here the info

[2018-06-04 10:33] Lord-Quake commented on #195
This is on a different computer. It seems to be placing itself randomly.
![time_shift](https://user-images.githubusercontent.com/29223282/40912960-5c88db0e-67f3-11e8-971c-d7a6d807d322.png)

[2018-06-04 12:38] etracer65 commented on #196
I can do that, but perhaps we need a fallback for unknown debug_mode values?  I run into this all the time when testing new code and add a debug_mode to see what's going on.  Being able to able to align the data to other fields (even between debug 0 and debug 1 for example).  In the end these fields may not ever make it into a PR.

[2018-06-04 12:41] etracer65 commented on #196
Or maybe an option in the graph setup to "match" the offset/scaling of some other known field - just an idea.  So if I know that I want to compare debug[0] to rcCommand[roll] I can match the scaling/offset because I know they have the same raw values.

[2018-06-04 13:03] etracer65 opened #197 "Opening a different log with the same name fails to load"
I'm sure this is some artifact of the file open handler and this problem has been around forwever, but the scenarios is this:

It's common to log to an SD card and have the file named LOG00001.BFL.  Then open that log in BBE directly from the SD card.  Delete the file from the SD card, eject and go capture another log.  The new log's name is also LOG00001.BFL.  When trying to subsequently open the

[2018-06-04 13:50] McGiverGim commented on #197
Some questions:
- Are you using the latest master?
- Are you opening the log from the "open" button, double clicking the log file or with drag and drop to the window?

Thanks!

[2018-06-04 13:58] etracer65 commented on #197
Yes, latest master.

Opening the log via the "open" button.  Just tested with drag-drop and that seems okay.  So it's just with the file dialog.  Testing on OS X if that matters.

[2018-06-04 14:01] etracer65 commented on #197
Unrelated, but displaying some kind of "Loading..." status like is happening on the startup window would be helpful (the "Trying to load..." message).  When loading another large log after one is already open the viewer just freezes while it's loading with no indication of what's going on.  Sometimes big logs take a moment to open.

[2018-06-04 14:14] McGiverGim commented on #197
Yes, that will be useful. And when loading the spectrum analyzer too. This two tasks are slow.

[2018-06-04 23:16] wolkesson commented on #195
Sorry, I won't have time to look at this in the nearest days. There might be some side effect to my changes.

The Square behide sticks and white axis are drawn with a side of 2*R, where R = Math.min(width/4 - 8, height/2 - 8). Stick position is in range [-1,1] is scaled with the same R. So it's not a simple scaling error. There could be a problem with the lookup table pitchStickCurve.lookup(), if

[2018-06-05 06:00] Lord-Quake commented on #195
No worries. This is only a cosmetical problem.
Here another screen shot of what I mean when I say the top is cut off.
It looks like a resizing issue. Example:
![resize_1](https://user-images.githubusercontent.com/29223282/40957190-36c45a3c-6894-11e8-94b9-995d388346a4.png)
![resize_2](https://user-images.githubusercontent.com/29223282/40957618-3e40ba1a-6896-11e8-8977-1516469118db.png)

I cannot alw

[2018-06-05 11:54] McGiverGim commented on #195
Changing the height of the canvas seems to fix the issue.
I will check the code to see where this height is calculated.

[2018-06-06 06:27] Lord-Quake commented on #195
Today it showed up at this position:
![timestamp](https://user-images.githubusercontent.com/29223282/41020480-5677324e-6963-11e8-9055-f2fd602b1cfb.png)

[2018-06-06 07:43] #195 closed

[2018-06-06 08:08] McGiverGim commented on #195
@Lord-Quake can you open a new issue with the "time" problem? This issue with the sticks has been fixed and closed, if the other still remains, please open a new issue and I will try to reproduce it and fix.

[2018-06-06 09:34] Lord-Quake opened #200 "Resizing window to minimum causes program to 'crash'"
Window closed to min:
![crash_small_window](https://user-images.githubusercontent.com/29223282/41029937-63fbdc66-697d-11e8-9f31-b812b48424c9.png)

Window resized. Program no longer running correctly:
![crash_window](https://user-images.githubusercontent.com/29223282/41029968-795ded1a-697d-11e8-9efe-e0aab2b4f9f2.png)

Tested on build 75

[2018-06-06 10:27] Lord-Quake opened #201 "Time stamp is positioned randomly near legend."
E.g. can occur when window is resized to full screen (full screen button).

See example screen shots.
![time_shift](https://user-images.githubusercontent.com/29223282/41032596-2fa5362c-6984-11e8-9a01-d9a49759a142.png)
![time_shift_1](https://user-images.githubusercontent.com/29223282/41032597-309ab2b4-6984-11e8-813f-4c7be70d814f.png)
![time_shift_2](https://user-images.githubusercontent.com/292232

[2018-06-06 15:07] McGiverGim commented on #200
Good catch!! ;)

[2018-06-06 15:35] Lord-Quake commented on #169
Tested with build 75:
Loading a BT Log and a video from a Mobius Mini the log will gradually lag behind.
Example screen shot of a full roll:
![log_lag](https://user-images.githubusercontent.com/29223282/41048732-b27976be-69af-11e8-9b51-441ce026505d.png)

[2018-06-07 02:32] #200 closed

[2018-06-07 05:48] McGiverGim commented on #169
@Lord-Quake please record a watch to see if this is problem of the cam. The same length as your sample, about 7 minutes.

[2018-06-07 06:18] Lord-Quake commented on #169
According to the test my 7 min video is off by 00;00;00;04 (hr;min;sec;msec). Checked using PowerDirector 14.

[2018-06-07 10:22] Lord-Quake commented on #201
OK, I can now replicate the positioning error.
(I open the program by double clicking on a log file)

- Open the program and set it to full screen.
- Close the program.
- Open the program once again -> The time stamp is positioned correctly.
- Resize the program to e.g. half screen size -> The time stamp is positioned incorrectly.
- Close the program.
- Reopen the program -> The time stamp is posi

[2018-06-07 15:06] McGiverGim commented on #201
Thanks! It was easier than that:
- Open the program
- Make it half size
- Open a log
- Maximize

Now it is fixed ;)

[2018-06-07 15:28] McGiverGim commented on #197
Sorry, it was the inverse, the live is deprecated. I will try to search the solution, but as I say, is no our code, is the JQuery on change default behaviour.

[2018-06-07 15:40] McGiverGim commented on #197
Workaround found ;)

[2018-06-07 21:56] Lord-Quake commented on #201
Yes, I know but you devs always are picky and want lots of details ;-)

[2018-06-08 07:49] Lord-Quake commented on #169
@McGiverGim
I've uploaded a 5min video for you to use as a test object:
http://www.leo.nutz.de/leo/tmp/5min_Video_Test.MP4
Let me know when you have downloaded it so I can remove it from the server.

[2018-06-08 08:05] #201 closed

[2018-06-08 08:05] #197 closed

[2018-06-09 07:33] Lord-Quake commented on #169
@McGiverGim  Fixed. Sorry about that!

[2018-06-09 08:07] McGiverGim commented on #169
Yes, the time in your video seems right. Can you upload some real video with some real log? But if it desync I suspect maybe something is wrong in the firmware.

[2018-06-09 08:11] Lord-Quake commented on #169
How do you want the video to be made?
Log overlapping the video using the BF viewer and saved as webm?

[2018-06-09 08:36] McGiverGim commented on #169
No, no. Two independent files, in this way I can play with it. One file with the video and other with the log.

[2018-06-09 08:38] Lord-Quake commented on #169
OK will do. Will do more testing this afternoon and then upload the files.

[2018-06-10 08:40] #61 closed

[2018-06-11 12:06] Lord-Quake commented on #169
I have a zip file. It's 1 gig in size. It's best you send me your email to leo@nutz.de
I will then send you a link to download. I don't want the video to be made avail to the public.

[2018-06-11 12:44] McGiverGim commented on #169
Thanks! Send it to mcgivergim@gmail.com

[2018-06-11 15:10] McGiverGim commented on #169
@Lord-Quake I've been studying your video/log, there is a little of desync, about 600ms in 5 minutes 30 seconds of video. Is not the same case than mine (mine was about 20 times yours) but I will study it.

I don't know if the culprit is the video parser of the blackbox or the firmware clock writing the time into the log that is not perfect. I will try to get to some conclusion. Thanks for your vi

[2018-06-11 15:28] Lord-Quake commented on #169
Yes, I'm seeing about 700ms @ 5:27.446. While that doesn't seem much it is very much noticeable when looking at the video playback. Good luck!

[2018-06-12 22:38] wolkesson opened #207 "Duplicated function getManifestVersion"
`getManifestVersion` is duplicated in both main.js:1991 and index.js:56. Logically it belongs more in index.js that does the actual checking for updates, but because of the order the files are included in index.html it need to also be available in main.js. Where does it belong? Maybe in tools.js? Any other or new js-file?

[2018-06-13 06:27] McGiverGim commented on #207
I suppose that the ideal will be to have a new file only for chrome manifest and other related functions... but I suspect we only have this one. So maybe in the `tools.js` is a good place. There are others "unrelated" functions there, that check for versions (firmware version).

[2018-06-13 09:30] mikeller commented on #207
Yeah, sorry, that mess is entirely mine. A lot of the GitHub API / version check code was written / copy pasted last year when I was under the pump to get a standalone version of the configurator to the users before Google shut down the Chrome Web Store for non-Chromebooks (which they then didn't do when it had been announced. Later on it got copied into the blackbox log viewer.

Any refactoring i

[2018-06-15 21:39] wolkesson commented on #196
What about creating a general "match function" that you can use to visually match scale of any two fields? Match the min and max value using the full length data of the two fields. Maybe this can also be extended to matching expo? Sure, you may match completely unrelated signals, but I just guess you'll have to use it with care.

[2018-06-17 01:03] blackmennewstyle opened #209 "Blackbox-log-viewer disappears after any system upgrade (GNU/Linux Debian)"
Everytime i upgrade my GNU/Linux Debian system (aptitude update && aptitude safe-upgrade), the blackbox-log-viewer disappears from my list of installed programs or packages.

It does actually the same with the Betaflight Configurator.

`hostnamectl
Static hostname: debianmsi
Icon name: computer-laptop
Chassis: laptop
Operating System: Debian GNU/Linux 9 (stretch)
Kernel: Linux 4.9.0-4-amd64
Archit

[2018-06-19 10:35] wolkesson commented on #165
I'm still working on this and I'm getting close now. I still have hover-highlight and mousewheel interaction to do. **Comments please!** Is it to large, unreadable, nice or just plain ugly?
![image](https://user-images.githubusercontent.com/5307773/41592550-3a528488-73bd-11e8-8f81-e6352adb266a.png)

The idea is to have this on by default so that novice users (unknowingly) will provide the data nee

[2018-06-19 10:43] McGiverGim commented on #165
I don't see a need to disable this. Let it on for all users.

What I see ugly is the text, I think is better `Z100 E25 S30` with some space between values than `z100e25s30` that seems a product code...

I see you have aligned text of the legend left, I think that is right. Maybe the zoom, expo and smooth are better in the left too?

For the rest, I see is good for a first version. If we find a bet

[2018-06-19 11:49] mikeller commented on #165
@wolkesson: This looks good to me too. And I agree with @McGiverGim, unless somebody comes up with a specific use case for disabling it, leaving it on permanently is fine. And I think adding spaces between the values is a good idea too, it will make it easier to read the small font.

[2018-06-19 18:45] wolkesson commented on #207
It would most certain be nice with reusable components between the betaflight projects! I'm also looking int using a framework for components like [Vue](https://vuejs.org/) or Angular. I think we should open a ticket about that to spawn the discussion. This can be closed in the light of #208

[2018-06-19 18:45] #207 closed

[2018-06-20 01:00] ctzsnooze commented on #165
Agree, having it on always is great; the most visually nice way of doing it I leave to you guys :-)

[2018-06-20 01:43] #165 closed

[2018-06-23 16:51] Bradw-17 opened #213 "Mac-OSX legend scrolling"
Scrolling down in the legend does not work, leaving some fields unreachable.

[2018-06-29 19:58] binlan commented on #209
see betaflight/betaflight-configurator#1064

[2018-07-01 17:49] #166 closed

[2018-07-01 18:11] binlan opened #214 "cant open bfl's from btf 3.4"
i am recording to sd card with 500 Hz on my omnibusf4sd. the result i cant open with the latest master of blackbox-viewer. error message is just:
Error opening log: No logs in this file could be parsed successfully
i attached some logs from today.

[bfl.zip](https://github.com/betaflight/blackbox-log-viewer/files/2153028/bfl.zip)

[2018-07-01 18:34] McGiverGim commented on #214
The log files are corrupt. This does not seem a blackbox problem. Something is wrong with your sdcard or with the firmware.

[2018-07-01 20:34] binlan commented on #214
tried another smaller sd-card (4GB) and it works. the former 8GB is still working fine on my pc. maybe i will use it in the goggles.
i will close this issue. thx.

[2018-07-01 20:34] #214 closed

[2018-07-03 13:37] etracer65 commented on #213
I tested with the current release on Mac OS X and the scrolling works fine. Maybe you're referring to using the scroll wheel on your mouse?  That doesn't seem to work but might be a limitation in the application framework.  You can scroll with the scroll bar.

[2018-07-03 14:02] McGiverGim commented on #213
The scroll with the mouse in the legend is used to change the zoom, expo and smooth of each of the graphs. You can look at the help dialog to see exactly the combinations.

[2018-07-03 20:36] Bradw-17 commented on #213
I'm using the latest Jenkins build, v3.1.0. I have no scroll bar to use, the only way I can access the lower fields is by clicking in a very specific location (circled in red in the screenshot)
![screen shot 2018-07-03 at 4 27 33 pm](https://user-images.githubusercontent.com/31972543/42243411-3e37ec5a-7edf-11e8-8cd0-ca293fa3e247.png)

[2018-07-04 10:06] McGiverGim commented on #213
@Bradw-17 can you export the workspace (top button) and attach it here? what resolution/size are you using?

[2018-07-04 18:18] Bradw-17 commented on #213
Here's the workspace file, and sorry are you referring to my Macbook screen or a setting on the explorer?
[workspaces.json.zip](https://github.com/betaflight/blackbox-log-viewer/files/2164100/workspaces.json.zip)

[2018-07-04 18:54] McGiverGim commented on #213
Your screen to know more it less the size of the explorer

[2018-07-04 18:56] Bradw-17 commented on #213
1280X800

[2018-07-06 02:45] etracer65 commented on #213
@Bradw-17 Check your System Preferences/General.  Do you have your scroll bar settings like this?

![screen shot 2018-07-05 at 10 31 28 pm](https://user-images.githubusercontent.com/17088539/42357269-9e5bc384-80c6-11e8-9c12-e43d28145422.png)

If so, try changing to one of the other settings and test again.

[2018-07-06 02:49] etracer65 commented on #213
@McGiverGim The problem is when OS X is set to the "When scolling" setting the scroll bars only show up when the scrolling using the mouse wheel or trackpad.  The problem I think is that BBE is capturing the scrolling in the legends pane to adjust smoothing.  Also I thing the "When scrolling" option is the default in OS X so this presents a problem.  I would suggest we disable the scroll wheel smo

[2018-07-06 05:54] McGiverGim commented on #213
It seems there are tons of solutions, for example here are some: https://stackoverflow.com/questions/7855590/preventing-scroll-bars-from-being-hidden-for-macos-trackpad-users-in-webkit-blin

But I don't have a Mac to check which is the best.

[2018-07-06 07:31] mikeller commented on #213
@McGiverGim: I think the correct solution here is to remove the binding of the scroll wheel to smoothing when in the legends pane. Even in other environments that show scroll bars, I think it is irritating for most users if, when the mouse pointer is in a panel that can scroll, the mouse wheel action is not scrolling. This is a default metaphor (it's called 'scroll wheel' for a reason), and breaki

[2018-07-06 07:37] #89 closed

[2018-07-06 08:02] McGiverGim commented on #213
Some of the operations that can be done with the scroll are joined with `alt` or `shift` key. Maybe we can try to add a key to the smooth too and if no key pressed then act as normal scroll and don't intercept it. I think this will work. I will look into this, maybe today.

[2018-07-06 08:55] McGiverGim commented on #213
Done, @etracer65 @ctzsnooze @Bradw-17 can you test it?

[2018-07-06 19:40] Bradw-17 commented on #213
I don't know how to download different builds unless they're up on the Jenkins site unfortunately.

[2018-07-06 20:23] McGiverGim commented on #213
Don't worry, etracer had tested it. It works but it seems it need some adjust.

[2018-07-07 08:02] McGiverGim opened #222 "Sliders not updated when value changed with shortcut"
The new sliders for zoom and speed are great, but if I change the zoom with a shortcut, pressing Z, for example, the number in the slider changes but the slider itself don't, it remains in the center.

[2018-07-07 15:59] wolkesson commented on #46
I guess this can be closed with #218 ?

[2018-07-07 22:47] McGiverGim commented on #46
True. Closing it 😁

[2018-07-07 22:47] #46 closed

[2018-07-07 23:55] #222 closed

[2018-07-08 00:54] #213 closed

[2018-07-08 18:13] Lord-Quake opened #226 "Not all debug options showing in Log Header Information tab"
e.g. "RC_SMOOTHING" is being shown as "None".

Software used BF 3.4 and BFLV Build #93.

[2018-07-08 18:31] McGiverGim commented on #226
Yes. There are always new fields that need to be added. If I have time I will add them at some time.

[2018-07-09 15:34] grizewald opened #227 "Cannot see everything on low resolution display."
A small problem, but a problem none the less.

I use a small laptop with a 12" screen for my multirotor stuff. The screen resolution is only 1366x768 and the Welcome page overflows the screen without presenting a scroll bar to see vaguely important things like the version of the Black box Explorer. (This is the very latest 3.1.0 version which I installed earlier today from the amd64.deb stand-alon

[2018-07-12 14:33] wolkesson opened #228 "Feature Request / WIP: Spectrogram"
I'm working on a spectrogram for analysing vibrations (for example)! There's lot of info about it on the net, but a quick explanation would be; vertical is frequency, horizontal is time, color is amplitude. This allows you to, for example, see how the motor output affects the vibration and if the dynamic filter catches it. This would reveal if there are problematic resonance bands or if the one en

[2018-07-13 06:30] McGiverGim commented on #228
It is spectacular, but my knowledge about this is very reduced so at this moment I can't interpret it. I will need to look at some tutorials after you finished that. Thanks for the work!!! Seems very interesting.

[2018-07-13 06:48] McGiverGim commented on #227
Fixed, thanks for let us know ;)

[2018-07-13 09:00] grizewald commented on #227
Lovely!
I tested the fix on a local installation and it works just fine. Many thanks!

[2018-07-13 09:00] #227 closed

[2018-07-15 23:55] ghden opened #231 "Player freeze after changing any graph setting"
I recorder a video to show how it works but after changing something and try to play again, does not play the log.... link to 29 seconds video https://www.youtube.com/watch?v=RF7Q96vc2n4.

Attached one of the logs that makes that behavior..

I switched back to the 3.0 and no problem at all... it does this with at least 4 logs files I have generated with BF 3.4 released..  I didn't test with older

[2018-07-16 07:21] McGiverGim commented on #231
I'm not sure how to reproduce it.
I have downloaded your log, opened it in blackbox, pressed play and the log was reproduced without problem. I need to make something more?

[2018-07-16 15:29] ghden commented on #231
ok, I only do what I put on the video (I hope you watched it), was the simplest way I found to reproduce consistently, other ways I do is to add or remove more graph parameters, etc. I running the standalone version on Mac OS-X, I installed back the 3.0 and keeping the new version I can open it with 3.0 and no problem... and closing and opening on the 3.1 I have the issues...

[2018-07-16 15:48] ghden commented on #231
I installed on my mac mini and no problems I will reinstall on macbook pro to see if works....

[2018-07-16 16:58] McGiverGim commented on #228
Without knowing how to use it is difficult to say. I suppose that you will always take it from an actual graph, so maybe have an arrow next to each graph that shows a menu can be useful and in a future more options can be added.
But you know more about the use cases for this.

[2018-07-17 02:14] ghden commented on #231
I did a clean installation again in the macbook pro and the same issue with this version 3.1, 3.0 works fine.... weird....

[2018-07-17 06:55] McGiverGim commented on #231
I don't have a Mac. Maybe is a Mac issue only. I don't know if you can test it @wolkesson to see if you can reproduce it.

[2018-07-17 09:11] #226 closed

[2018-07-17 15:48] ghden commented on #231
Both macs have the same OS version, differences are in graphics and resolutions, i using standalone verion of the app. If I play and do not change anything it does correctly... I will try to do more tests tonight to get you more information... BTW the expo, smooth and grid icons right there is an awesome feature... I would like it more if I can change the % value right there... @wolkesson  if you

[2018-07-17 17:22] wolkesson commented on #231
Unfortunately, I don't have a mac either. :( I couldn't reproduce it on my windows 10 with neither 3.0 nor 3.1.
What I meant with storage was that at main.js:1556 there's a function called saveOneUserSetting. This saves settings to a file or database somewhere on your computer. If this fails I see no error handling. Maybe it fails because of some invalid file in one of the versions but for the oth

[2018-07-18 16:52] #169 closed

[2018-07-18 17:03] ghden commented on #231
Well Show/Hide sticks or craft does not affect the behavior it works... is anything I do with the graph, adding/removing, etc.. changing stuff on the graph... I can change speed, zoom and still continue working fine...

Thanks, I didn't read the manual, my bad... yes the scrolling works on Mac...

[2018-07-18 18:03] ghden commented on #231
I found the blackbox explorer stuff at /Users/myuserid/Library/Application Support/betaflight-blackbox-explorer, there is a lot of stuff there, including default directory that there is a local storage underneath I deleted the whole betaflight blackbox explorer folder and opening the application again, recreate everything with no problem and still the exact same issue when I modify anything on the

[2018-07-19 09:34] McGiverGim commented on #231
The only thing that maybe can help, is to use a debug build, and see if there are some errors in the console. But I can't build it because I don't have a Mac. Are you able to build the app by yourself?

[2018-07-19 17:19] ghden commented on #231
I haven't but I can do it... Granted Im not a java guy but I should be able to build it...

[2018-07-20 06:26] McGiverGim commented on #231
Perfect, if you finally are able, start the program with `gulp debug` and you will be able to press the mouse right button and open the developers tools, and see if some error appears in the console that can point us in the right direction.

[2018-07-22 20:27] ianrmurphy opened #236 "RC Rates do not update after rateprofile switch"
When switching rate values using rateprofile mapped to an Aux switch, the RC Rates graphs do not update to show the correct values for the new rates.
RC Rates appear to be calculated internal to blackbox-log-viewer (`flightlog.js/calculateSetpointRate()`) from the header data, which is not refreshed upon the rateprofile change. Only an event marker is inserted.
This is likely known behaviour but I

[2018-07-22 20:30] McGiverGim commented on #236
Yes. It is calculated at the beginning ignoring rate changes. Attach a log and I will try to check it when I have time.

[2018-07-22 21:03] ianrmurphy commented on #236
Will do, I need to take a log with stock 3.4.0 firmware as I'm currently flying versions related to https://github.com/betaflight/betaflight/pull/6402 that won't show correct behaviour (or reproduce the issue accurately) unless viewed with https://github.com/betaflight/blackbox-log-viewer/pull/237 .

[2018-07-26 12:50] salem83 commented on #231
I got the same problem on windows.
The graphs (top an bottom) will disappear if i go past the middle of the logs

![image](https://user-images.githubusercontent.com/453737/43263167-bf5b071c-90e2-11e8-899e-42d469121b0f.png)

Doesn't matter which log i use. its the same issue if the log is 25Kb or 7MB.

[2018-07-30 04:19] flint723 opened #239 "debug mode "fft_freq" change"
Since roll gyro_scaled is now included as debug 3 in `debug mode = fft_freq`, maybe BBE should reflect this in debug labeling/scaling.

![bbe debug fft_freq problem](https://user-images.githubusercontent.com/30608240/43377165-dd9f9004-9384-11e8-994d-1e2b2780a902.png)

[2018-07-30 04:21] flint723 commented on #239
Sorry if this is already outdated, I might not be on latest master, I am downloading it now.

[2018-07-30 04:32] flint723 commented on #239
Please tag me and uavtech on slack if looking at this and wondering "WTF"

[2018-08-08 10:57] #239 closed

[2018-08-12 08:32] supiiik opened #245 "Analyser not working for a BB logs from BF 3.5RC2"
Hi,
analyser is not working in 3.2.0 for a data from BF 3.5RC2. Data from version BF3.4 are working properly.
I can see only blank analyser window there
![bb_analyzer](https://user-images.githubusercontent.com/12251616/44000149-0624c350-9e1b-11e8-8588-37dfdac804a2.JPG)

[2018-08-12 08:42] mikeller commented on #245
Testing with a 3.5.0-RC2 log file on Blackbox Log Viewer 3.2.0, works fine for me. Can you please post a log file that does not work?

[2018-08-12 08:46] supiiik commented on #245
[LOG00022.ZIP](https://github.com/betaflight/blackbox-log-viewer/files/2280836/LOG00022.ZIP)

[2018-08-12 09:40] mikeller commented on #245
@supiiik: Your log has got some missing frames, and one of them is triggering a bug when trying to open the analyser. It is fixed in #246. If you let me know what platform you are on I can build you a version to test.

[2018-08-12 09:50] supiiik commented on #245
I'm on Windows. Thanks

[2018-08-12 09:56] mikeller commented on #245
Here you go:
https://drive.google.com/file/d/1OAi5FE3JBXQA5qiUYyZUAc9YbqKr81AQ/view?usp=sharing

[2018-08-12 10:41] supiiik commented on #245
It's working now. Thanks :D

[2018-08-12 19:58] ljfh001 opened #247 "3.2 MacOS binary broken"
Please see attached:
![image](https://user-images.githubusercontent.com/378514/44005880-540c914c-9e2f-11e8-80f4-386781702bf0.png)

[2018-08-12 20:37] etracer65 commented on #247
Can you provide more details like your OS version?

I just tested with OS X versions 10.10, 10.12 and 10.13 and all worked just fine.  Possibly just download it again or maybe use Safari to download instead.

[2018-08-12 21:13] ljfh001 commented on #247
10.13.6. Tried downloading it again. Still the same error.
It works perfectly fine when I launch from CMD:
/Applications/Betaflight\ Blackbox\ Explorer.app/Contents/MacOS/nwjs

[2018-08-12 21:17] ljfh001 commented on #247
sudo spctl --master-disable worked
I could do option right click to open it before. weird...

[2018-08-15 01:12] mikeller commented on #196
@etracer65: Marked as 'bug' to keep it open.

[2018-08-15 23:29] yorb commented on #247
Same issue here, macOS 10.13.6. Tried with Chrome 68.0.3440.106 (current) and Safari 11.1.2 (13605.3.8) (also current).

This is definitely a new issue with 3.2.0, never seen it before. Let me know how else I can help troubleshoot!

[2018-09-04 08:38] ctzsnooze commented on #236
Here's an example, rates were changed twice, we can see the RC Rate calculation not changing after the rate profile change in the log.
[YawTesting.BBL.zip](https://github.com/betaflight/blackbox-log-viewer/files/2347844/YawTesting.BBL.zip)

[2018-09-04 08:40] ctzsnooze commented on #236
![rate profile change](https://user-images.githubusercontent.com/11737748/45020325-01566680-b072-11e8-9988-8870c6f8ba5e.jpg)
that's the first rate profile change

[2018-09-12 14:22] jorgecam opened #253 "Application hangs when opening BT 3.5.0 logs"
Hi,

the application hangs when trying to open logs registered with BT 3.5.0 on a SP F3 board.

Here is an example log to check if somebody can open it.

Thanks !!!!
Jorge
[BTFL_BLACKBOX_LOG_20180910_233219.zip](https://github.com/betaflight/blackbox-log-viewer/files/2375550/BTFL_BLACKBOX_LOG_20180910_233219.zip)

[2018-09-13 21:07] mikeller commented on #253
@jorgecam: It looks like either your log has a malformed header, or else the configuration of your flight controller is corrupted: `frameIntervalPDenom: 0`

Can you please post a `diff` of the configuration of the flight controller that produced this log?

[2018-09-17 18:19] jorgecam commented on #253
Thanks mikeller, this is the diff:

diff
# Betaflight / SPRACINGF3 (SRF3) 3.5.1 Sep  8 2018 / 05:52:39 (d9fb5ca13) MSP API: 1.40

feature -RX_PPM
feature -TELEMETRY
feature -RSSI_ADC
feature MOTOR_STOP
feature RX_PARALLEL_PWM
feature AIRMODE
map TAER1234
serial 2 0 57600 57600 0 115200
aux 0 0 1 1200 2100 0 0
aux 1 1 1 1200 1400 0 0
aux 2 2 1 1400 1600 0 0
set acc_calibration = 11,40,55
set mag_ha

[2018-09-17 18:27] jorgecam commented on #253
Hi, problem solved.

In the Betaflight configurator Blackbox window, I leaved blank the "blackbox logging rate", and then save and reboot. Selecting 500 Hz everything works great.

thanks !!!!!

[2018-09-17 18:27] #253 closed

[2018-09-18 12:04] #245 closed

[2018-09-20 15:28] mixMugz opened #254 "3.2 BBLV stop working. No analyzer window."
File open in BBLV, playin' 10 second, then stop working.

There is BB file from BF 3.5.0
https://www.dropbox.com/s/gsprk3j11ycysr3/BTFL_BLACKBOX_LOG_ncu%5Bx%5D_20180917_213451.BBL.zip?dl=0

[2018-09-22 01:09] #247 closed

[2018-10-06 22:14] etracer65 opened #255 "Graph ordering resets when opening a new log"
To replicate, open a log and add some graphs.  Then rearrange the order of the graphs by dragging them in the Legend pane.  Finally open a new log and once loaded the graph order will reset to the pre-reordered setting.

[2018-10-11 10:07] McGiverGim commented on #236
I reopen this. I had no time to look into it but perhaps...

[2018-10-22 11:10] McGiverGim commented on #254
The fix was included some time ago, so I close this issue.

[2018-10-22 11:10] #254 closed

[2018-11-20 14:31] etracer65 opened #258 "Debug data GYRO_SCALED displays normal gyro data instead"
When data is logged using `debug_mode = GYRO_SCALED` the data output is the raw scaled gyro data before any filtering. However when displayed in the log viewer the data presented is identical to the normal gyro data. Testing with an old version of the log viewer doesn't have this problem and the correct data is displayed. It looks like the `GYRO_SCALED` data might be being erroneously considered a

[2018-11-20 18:45] McGiverGim commented on #258
As far as I know, all the gyros datas are presented as is, without any kind of conversion and much less any filtering. The only conversion that the code does is to transform it from raw to degrees per second, but nothing more...
As you say, I see the data too "smooth" to be a raw gyro. Are you sure that an older version of log viewer showed the data different?

[2018-11-20 19:12] McGiverGim commented on #258
I have searched in my BB files, and something must be wrong with yours, in mine the gyro_scaled is shown correctly:
![image](https://user-images.githubusercontent.com/2673520/48796664-7eec5300-ed00-11e8-83c3-7bf44cf91d2b.png)

So it seems the problem is in the data of your file, not in the viewer.

[2018-11-20 19:32] etracer65 commented on #258
These parts of the code had me concerned:

https://github.com/betaflight/blackbox-log-viewer/blob/b38379618ae2104615bcfdc7f20a9db082893fdf/js/flightlog_fields_presenter.js#L59-L63

Referring to a "virtual field".

https://github.com/betaflight/blackbox-log-viewer/blob/b38379618ae2104615bcfdc7f20a9db082893fdf/js/flightlog.js#L14

"GYROADC_SCALED"

https://github.com/betaflight/blackbox-log-viewer/b

[2018-11-20 19:39] McGiverGim commented on #258
The GYROADC_SCALED is different from the GYRO_SCALED debug value. I'm not too sure what shows the first, but the second is the raw value as I show you in the capture. I will try to check both tomorrow, but maybe we are talking of different things.

[2018-11-20 19:43] etracer65 commented on #258
Here's the graph config used on the current version.  Note that the debug value is correctly recognized as "Gyro Scaled" so that's good.

![screen shot 2018-11-20 at 2 41 33 pm](https://user-images.githubusercontent.com/17088539/48798389-8d237a80-ecd2-11e8-86a0-52fbd828737a.png)

[2018-11-20 19:56] McGiverGim commented on #258
It can be the wrong gyro scaled, there are two:

The ADC is this:
![image](https://user-images.githubusercontent.com/2673520/48799146-b3630d80-ed06-11e8-838c-7d5425c97b08.png)

The good is the one under the debug:
![image](https://user-images.githubusercontent.com/2673520/48799117-9fb7a700-ed06-11e8-96ce-ff3e8eddc05b.png)

I think I need to rename the first adding the ADC to differentiate one from

[2018-11-20 20:03] etracer65 commented on #258
Yes, that's it! What is the "Gyro Scaled" ADC anyway? It doesn't seem to be any different from the normal gyro traces. Maybe it's no longer relevant?

[2018-11-20 20:04] McGiverGim commented on #258
Maybe. I didn't remove it because I don't understand what is. I will open a PR this week renaming it to discuss if better rename or remove it. Maybe someone knows what is for 😋

[2018-12-01 00:31] gvhlaw opened #260 "AirMode appears incorrectly as "Servo2" in the log viewer on the latest 4.0 hexes."
I've noticed on every log I have flown on the later builds of 4.0 and the variant branches that I am testing that when I switch from Angle/Horizon into Air Mode, what I see in the log viewer is not Air Mode but "Servo 2."
<img width="1080" alt="airmode - servo2 bug" src="https://user-images.githubusercontent.com/42120917/49321623-53662700-f4bd-11e8-8752-e9bc3a582054.png">

[2018-12-03 12:02] McGiverGim commented on #260
The only change in the "modes list" was made here if I'm not wrong:

https://github.com/betaflight/betaflight/commit/017bdca593cd6134665df1403d0c9963e677cbde#diff-c22338cc34442857de77b51a57b0297a

@mikeller looking at the code, it seems to me that the objective was to remove the mode, but let the same ID number for it, so in theory no blackbox change is needed. Am I right? If true, then something

[2018-12-03 12:53] mikeller commented on #260
Gah, does blackbox use the enum indices, and not `permanentId`? That's a bit unfortunate, but I think we should just handle this in the log viewer in this case, and change the mapping there based on the version in the log.

[2018-12-19 04:07] #260 closed

[2018-12-20 22:56] gvhlaw commented on #260
Thanks Mike!  I'll flash the newest Master to get the fix.

On Tue, Dec 18, 2018 at 8:07 PM Michael Keller <notifications@github.com>
wrote:

--

*Confidentiality Notice*:  This e-mail transmission and any accompanying
document(s), may contain confidential information which is legally
privileged under the attorney-client or attorney work product
privileges. Forwarding or sending attorney-client em

[2019-01-28 10:58] McGiverGim opened #270 "Header page scroll broken"
Since the update of NW to the latest version here: https://github.com/betaflight/blackbox-log-viewer/pull/264 the scroll of the Header page is broken.

I have tried to update it to the most newest version without luck.

I don't know if there will be a hack in code to fix it or we will need to go back until fixed in NW before the release.

[2019-01-28 11:04] McGiverGim commented on #270
Seems there is a similar open issue in NW: https://github.com/nwjs/nw.js/issues/6920

[2019-01-28 11:08] McGiverGim commented on #270
Tested versions 0.35.5 and 0.36.0-beta1 without luck. Resizing the Blackbox Viewer window makes the scroll work again.

[2019-01-29 11:33] mikeller commented on #270
Maybe we should just roll back, and keep watching the nwjs issue, and update if there is a new version with a fix long enough before the next release?

[2019-01-29 11:43] McGiverGim commented on #270
At least we must do it before the release of next version of the Blackbox Viewer. I'm out of the computer now, but I can do it this afternoon.

[2019-01-29 11:56] mikeller commented on #270
We can as well do it now - if the version we are rolling back to has bugs affecting us as well then I'd rather roll back now, and have a chance of discovering them, than rolling back 'last minute'.

[2019-01-29 15:57] McGiverGim opened #272 "Uninstaller list is wrong under Windows"
The installer creates a file with a list with all the files to uninstall if desired. But in the blackbox the name is wrong because we forgot one define in the nsis installer:

![image](https://user-images.githubusercontent.com/2673520/51920995-ca00a180-23e6-11e9-81e6-9bcb6aff6e78.png)

I don't know if we want fix it:
- If we define the correct name, it will throw an error when installing the next

[2019-01-31 10:01] mikeller commented on #272
Good find!

I think fixing this would be nice - not sure how complex it will be to add the differentiation to the installer, but I'd hope that it won't require much maintenance.

[2019-01-31 10:37] mikeller commented on #272
I haven't seen this because I am using linux. :stuck_out_tongue_winking_eye:

[2019-02-05 21:07] #272 closed

[2019-02-07 12:36] hsuq510 opened #274 "unable to export to CSV large files"
unable to export larger >= 10MB file to CSV

[2019-03-07 21:48] sa-mendez commented on #274
I have also run into this issue.  The Blackbox explorer just crashes.  In my case, I can export up to a 12MB file, but if I try with an 18MB file it crashes.  I can include my logs (both the one that works and the one that fails, if it helps to diagnose this.

[2019-03-07 21:50] McGiverGim commented on #274
Attach one that fails. Maybe we can see something.

[2019-03-07 21:56] sa-mendez commented on #274
Here you go.
[ESC_SENSOR_RPM.zip](https://github.com/betaflight/blackbox-log-viewer/files/2943529/ESC_SENSOR_RPM.zip)

[2019-03-14 22:49] jasenhowell opened #282 "Betaflight Blackbox Explorer crashes"
Betaflight Blackbox Explorer crashes after 2 seconds of playing  log or moving along the quick access bar. any ideas?

[2019-03-15 21:48] mikeller commented on #282
@jasenhowell: I have got an idea: How about you supply a bit more information, like what version of the Blackbox Log Viewer you are using, and the log file / video that you have opened when this is happening?

[2019-03-15 22:42] jasenhowell commented on #282
here is the link to the video
https://youtu.be/HartWlsjCys

[2019-03-15 22:45] jasenhowell commented on #282
[https://1drv.ms/u/s!AsgLZPDv54KstHR0zWtulDtIr65-](url)

[2019-03-15 22:53] jasenhowell commented on #282
version 3.2.0

[2019-03-16 10:08] mikeller commented on #282
I can reproduce the problem in 3.2.0, and it looks like it's the one that was fixed in #246. As a confirmation, the problem is fixed in the latest version from `master`, which will be released as 3.3.0 within a few weeks.

On a side note, your log has a lot of dropouts. You might want to look into reducing the logging rate.

[2019-03-28 22:56] watageek opened #292 "BlackBox log viewer v3.2.0+BF4.0RC4 wrong voltage match"
![voltage blackbox](https://user-images.githubusercontent.com/25552059/55198052-da38c100-518a-11e9-8620-eef11b9f83ec.png)

![voltage 3 5 7](https://user-images.githubusercontent.com/25552059/55198313-e709e480-518b-11e9-973d-79cb5f8ee116.png)

[log.zip](https://github.com/betaflight/blackbox-log-viewer/files/3020431/log.zip)
[diff.zip](https://github.com/betaflight/blackbox-log-viewer/files/3020433

[2019-03-28 23:59] mikeller commented on #292
This is due to a change in decimal places for how voltage is reported in the firmware, and the latest released blackbox log viewer not being aware of this change. Version 3.3.0 (to be released in a week or so) will fix this, or you can use the latest version built from the repository.

[2019-03-29 10:23] watageek commented on #292
Thank you very much for the swift reply. I should have thought of it.👌

[2019-03-29 10:23] #292 closed

[2019-03-30 21:28] meoso opened #293 "export workspaces fails / debian & ubuntu linux 64"
v 3.3.0 (& 3.2.0)

Export workspaces saves .json with all null values.

[code]

[2019-03-31 15:20] abimaputra78 opened #294 "Static Craft Display when disable accelerometer (Acro Mode - Active)"
Dear BF BB Team,

after activate the Acro mode and disable the accelerometer on my quad, i had my craft display was "static" when i was doing roll and flips.  this might be different when acro + accelerometer activated, the craft can be seen flips and rolls and crash also. would you please advice for this issue.

thanks.
Ditto.

[2019-03-31 15:23] abimaputra78 commented on #294
![image](https://user-images.githubusercontent.com/49124286/55290929-93a1cb80-5403-11e9-9013-fa3b35282559.png)

[2019-03-31 20:12] mikeller commented on #294
@abimaputra78: This is expected behaviour - without ACC there is no way for the craft to determine its exact attitude.

[2019-04-03 14:28] McGiverGim commented on #270
Tested the newest versions:
- Latest stable 0.37.2: The problem persists.
- Latest beta 0.38.0-beta1: The problem seems fixed. When the final version will be released we can update the version in our side too.

[2019-04-04 04:53] mikeller commented on #270
Thanks for testing, @McGiverGim. I guess we can update in time for 3.4.0.

[2019-04-09 18:58] mmakam2 opened #298 "Log header info showing SPEK1024 while set on CRSF"
I'm using CRSF crossfire, and the log header is showing SPEK1024..

![image](https://user-images.githubusercontent.com/25559970/55827303-7f2e9480-5acf-11e9-919b-24cec8046011.png)

[2019-04-09 19:20] McGiverGim commented on #298
Yes, it seems the protocol list is outdated. I will fix it tomorrow. Thanks for reporting!

[2019-04-10 04:36] Docteh commented on #293
Interestingly enough I get that on windows as well.

[2019-04-10 09:46] McGiverGim commented on #293
I have tested it right now with Ubuntu and is working for me.

What maybe has happened, is that I think you have not assigned the graphs to a favorite. You must assign it pressing `shift + number` (for example `shift + 1`) and then export the workspace. In this way you can recall the graphs pressing `1`.

Only favorites are assigned to the workspace.

[2019-04-10 14:36] McGiverGim commented on #274
I've looking at this. It seems a problem of memory, it generates different variables with all the content and maybe something overflows.

The strange is that sometimes it works, and sometimes not, so is difficult to fix something that not always crash :(

[2019-04-10 14:43] #294 closed

[2019-04-10 14:48] McGiverGim commented on #108
Now that the firmware writes in the Blackbox the real sepoint throttle, I think this problem can be fixed in the firmware part. I'm not too sure, but I suppose that now the firmware can write the exact value and we don't need to transform/interpret it.

[2019-04-10 15:07] sa-mendez commented on #274
That has been my experience as well.  It seems a function of both the length of flight, as well as what options are enabled.  For the log that I included here, I have a 32/16khz Gyro/PID loop, as well as the ESC RPM logging option turned on.

[2019-04-10 17:21] McGiverGim commented on #274
Yes, I used your log. With your log, sometimes I can export to CSV, sometimes not.

[2019-04-10 19:26] sa-mendez commented on #274
Ah ok.  Then this is more insidious that it appears.  I appreciate you looking into it.

[2019-04-10 20:21] meoso commented on #293
@McGiverGim you have saved me a thousand hours of undesired tinkering! THANK YOU!!!

[2019-04-10 20:22] #293 closed

[2019-04-11 02:44] NinjaSauce1 opened #300 "Log file selection list missing. (& typo)"
I haven't used the viewer in a while, and when I went to use it today, I can't seem to locate the log file list selection drop-down menu. There seems to be no way to access the different logs. I have looked everywhere and I cannot seem to find it. I definitely have multiple logs on this file. Is this a glitch or is it just hidden now? I will attach a screenshot.

Also, there is a typo on the pop-u

[2019-04-11 07:16] McGiverGim commented on #300
The different logs are in the combo, on the right, just under the Legend text. I will fix the typo, thanks!

[2019-04-11 16:29] NinjaSauce1 commented on #300
Slaps forehead. Thanks!

[2019-04-14 09:05] #300 closed

[2019-04-15 16:59] guillermo3r opened #307 "Gyro graphs are out of range"
Look at this log
![Anotación 2019-04-15 185640](https://user-images.githubusercontent.com/351059/56150961-6717b300-5fb0-11e9-97e6-a6125e44672d.jpg)

All graphs are out of range in BBL 3.3.0

[2019-04-15 17:22] McGiverGim commented on #307
I have no problems with it. Can you attach your log?

[2019-04-15 17:29] guillermo3r commented on #307
Sure
[BTFL_BLACKBOX_LOG_FeNix_20180724_142850.log](https://github.com/betaflight/blackbox-log-viewer/files/3081363/BTFL_BLACKBOX_LOG_FeNix_20180724_142850.log)

[2019-04-15 17:54] guillermo3r commented on #307
Sorry I closed the issue by mistake

[2019-04-15 18:27] McGiverGim commented on #307
I will look into it tomorrow, now I'm out of the computer 😉

[2019-04-16 20:37] kajsilander78 opened #309 "Mean pid error value"
Feature request:
Hi! Would like to have somekind of average PID error value in blackbox. Anybody willing to implement that? Or better suggestions with more advanced graphs? Thinking it would be nice for fine tuning PID:s...

[2019-04-18 14:27] MikeWhy opened #318 "Blackbox Explorer 3.3 shows incorrect gyro traces"
On updating Blackbox Explorer to 3.3 from 3.2, the displayed Gyro traces are all saturated at full scale, and not readable. The Gyro traces display correctly (or, just reasonably) in BB Explorer 3.2.

[2019-04-19 01:51] #307 closed

[2019-04-22 03:06] blackmennewstyle opened #310 "Blackbox log viewer 3.3.0 - Log files with firmware betaflight 3.5.x are displaying strange related gyro datas graphs"
Is it normal when i try to open log files on firmware 3.5.x with the Betaflight Blackbox Viewer 3.3.0 that i get strange graphs for most gyro datas?

- Log file with firmware Betaflight 3.5.5
![blackbox_viewer_3 3 0_betaflight_firmware_3 5 5](https://user-images.githubusercontent.com/4682874/56480757-b3e61700-64e5-11e9-8318-1c6dee11ed1b.jpg)

- Log file with firmware Betaflight 3.5.7
![blackbox_vi

[2019-04-22 08:40] McGiverGim commented on #310
This has been fixed in master: https://github.com/betaflight/blackbox-log-viewer/pull/308 until a new release, you can build yourself a version or go to your installed 3.3.0 directory, all the files are there in plain text, and make the same change of the PR.

[2019-04-22 12:05] #282 closed

[2019-04-23 02:30] blackmennewstyle commented on #310
Thank you so much for the answer :)

No worry i installed the 3.2.0 blackbox viewer in a virtual machine so i can deal with both. I won't be using them both for a long time anyway, currently moving everything to Betaflight 4.0.0 <3

Have a great week and keep on flying!

[2019-04-29 10:40] McGiverGim commented on #310
@blackmennewstyle a new release 3.3.1 has been published that must fix it. Can you test it please?

[2019-04-29 11:34] mikeller commented on #318
Duplicate of #307.

[2019-04-29 11:34] #318 closed

[2019-04-29 13:30] blackmennewstyle commented on #310
Hi :)

Thanks for the heads-up. I just tested it out and everything look to be fixed and working properly :D

- Log file with firmware Betaflight 3.5.5
![blackbox_2](https://user-images.githubusercontent.com/4682874/56899236-285c1f80-6abd-11e9-8606-9654d52e49d6.jpg)

- Log file with firmware Betaflight 3.5.7
![blackbox_1](https://user-images.githubusercontent.com/4682874/56899409-90126a80-6abd-11e

[2019-04-29 13:40] mikeller commented on #310
@blackmennewstyle: In this case can you close the issue please?

[2019-04-29 14:03] blackmennewstyle commented on #310
Oh sorry. Done :)

[2019-04-29 14:03] #310 closed

[2019-04-29 17:11] watageek opened #319 "Cannot download Windows Release 3.3.1.EXE"
![3 3 1](https://user-images.githubusercontent.com/25552059/56913665-3ccdf700-6a80-11e9-8182-13de0e639016.png)
every link works except
 win.exe

[2019-04-29 19:53] mikeller commented on #319
@watageek: Looks like GitHub / AWS had a temporary issue. I just downloaded / executed the 3.3.1 Windows installer successfully

[2019-04-29 21:00] watageek commented on #319
Yes.
Thank you for the swift answer.

[2019-04-29 21:00] #319 closed

[2019-04-30 12:23] #270 closed

[2019-04-30 12:42] JoveToo opened #320 "RPM install uses wrong path for .desktop file"
But installer installs in /opt/betaflight/blackbox-log-viewer not /opt/betaflight/betaflight-blackbox-explorer

[2019-04-30 13:04] mikeller commented on #320
@JoveToo: Can you try this to see if it is better:

https://drive.google.com/open?id=1koHB8_I1Zr7mfZ1kZSonIBUNGVA9gci5

[2019-04-30 15:30] JoveToo commented on #320
Hi,
yes now it installs in /opt/betaflight/betaflight-blackbox-explorer

But I didn't find the icon in my menu I had to execute:

[2019-04-30 22:08] mikeller commented on #320
@JoveToo: Try this: https://drive.google.com/open?id=1koHB8_I1Zr7mfZ1kZSonIBUNGVA9gci5

[2019-05-01 08:25] JoveToo commented on #320
@mikeller It seems to work and the icon is in my menu, thank you.

[2019-05-01 13:27] #320 closed

[2019-05-04 07:04] dabit20 opened #325 "When plotting RSSI, no numeric value is displayed"
When I plot RSSI, no numeric value is displayed.

BB Log explorer: 3.3.1
BF version: 4.1 (JoeLucid inverted DShot test)

[2btfl_001.zip](https://github.com/betaflight/blackbox-log-viewer/files/3144092/2btfl_001.zip)
![image](https://user-images.githubusercontent.com/24653037/57175361-52119f80-6e4b-11e9-9ac3-42f680d5ab0a.png)

[2019-05-04 12:12] McGiverGim commented on #325
I will look into it, thanks!

[2019-05-04 20:30] bizmar opened #326 "Add Setpoint to Gyro + PID preset view"
I find it very useful to have Setpoint on the same graph as pids and think it should be the default.

<img width="1452" alt="Screenshot 2019-05-04 at 22 23 59" src="https://user-images.githubusercontent.com/4053708/57184407-52e21a00-6ebb-11e9-9b5c-3f2d06ba2b86.png">

[2019-05-05 03:22] S-T-A opened #334 "Blackbox Log Viewer 3.3.1"
won't load on mac os file is corrupted

[2019-05-05 18:34] flatwound opened #329 "No lines in graph"
[btfl_002.zip](https://github.com/betaflight/blackbox-log-viewer/files/3145897/btfl_002.zip)

When opening the bbl from a bf 4.0 quad, I can see there's data, but the lines are not plotted.

using the linux64 bit archive.

![Screenshot from 2019-05-05 20-33-03](https://user-images.githubusercontent.com/16719580/57198612-1541c780-6f75-11e9-9a90-403275a060a9.png)
EDIT: attached log

[2019-05-05 18:45] McGiverGim commented on #329
Attach your log please.

[2019-05-05 18:47] flatwound commented on #329
Done

[2019-05-06 09:02] McGiverGim commented on #329
At least in windows, it works:
![image](https://user-images.githubusercontent.com/2673520/57215855-7194fd80-6fee-11e9-84c6-fe489af6adc5.png)

I will try to test it under Linux later.

[2019-05-06 09:15] McGiverGim commented on #329
Tested under linux:
- The first time I openend the BBL file, the same than you. No lines.
- Modified the graphs adding one, pressing the `Graph setup` button, and all ok.
- Now all is ok every time I open a BBL file.

Maybe some old data of older versions, that is refreshed in the Graph setup. Can you test to add some graphs?

[2019-05-06 09:19] flatwound commented on #329
Yep works when adding additional graph.. thx!

[2019-05-06 14:40] IvoFPV opened #333 "VTXPITMODE changes when disabling and enabling ANGLE mode"
I was just testing my build today hovering with angle mode and disabled and enabled it a couple of times and after that I checked blackbox logs and it shows that every time when I did that, VTXPITMODE was also disabled or enabled. Pit mode is not assigned in modes tab. Running BF 3.5.5 on this quad, using latest log viewer 3.3.1

![Capture](https://user-images.githubusercontent.com/50072760/572326

[2019-05-07 10:46] #325 closed

[2019-05-07 20:35] mikeller commented on #334
@S-T-A: Try downloading it again. I just tested, and the file works fine.

[2019-05-08 07:39] McGiverGim commented on #333
It seems that the info of mode changes is stored in a 32 bit variable, as flags. But the list of modes are bigger than 32, so it is overflowing and detecting modes that does not exist.
I think this first needs to be fixed in the firmware part, and then read it accordingly here.

[2019-05-09 05:03] mymultiverse commented on #274
I have .BBL file (~6MB). The export csv button is not working in chrome app of Blackbox explorer.

[2019-05-11 11:25] bizmar opened #339 "BB Log to GoPro video auto-sync"
_This is an idea that should work, and feel like magic. Syncing video in BB viewer is not common enough to justify development time. I'm putting it here because I think it's neat. May be a good student project, if you are really ambitious, and want a challenging Fourier Transfer based project._

GoPro cameras embed onboard gyro data into MP4s
~400 Hz 3-axis gyro readings
~200 Hz 3-axis acceleromet

[2019-05-11 11:59] McGiverGim commented on #339
It seems a good idea to me but I'm not able to implement it. I see it very difficult. Maybe others have enough knowledge to do it.

[2019-05-15 13:26] meoso opened #340 "compile issues"
I was able to compile 'release' in the past weeks, tried today with these issues:

[code]

[2019-05-15 13:30] meoso commented on #340
fixed: `npm install del` missed that one, sorry

[2019-05-15 13:30] #340 closed

[2019-05-17 15:58] TheFuuzer opened #343 "Betaflight Chip not found"
Hi, I have a matekf405-ctr and connecting it to betaflight I see all the data (gyroscope, accelerometer etc.) but it tells me chips not found for flashing, I have a sd card inserted and I can't flash and enter settings. How do I solve it?

[2019-05-17 16:01] McGiverGim commented on #343
You are at the wrong place. This is for software issues of the Blackbox Viewer. For user support go to rcgroups or the Betaflight Slack.
Your problem seems a problem with the dfu driver but installed, but as I say this is not the place.
Regards!

[2019-05-17 16:01] #343 closed

[2019-05-22 14:17] #326 closed

[2019-05-25 17:44] striker890 opened #344 "Error while loading the video. ERROR (4): DEMUXER_ERROR_COULD_NOT_OPEN: FFmpegDemuxer: open context failed"
I tried it on two devices and two os (Manjaro/Windows). On both I get this error when trying to open dvr footage of my fatshark hdo's:

Error while loading the video. ERROR (4): DEMUXER_ERROR_COULD_NOT_OPEN: FFmpegDemuxer: open context failed

I tried two recordings and none works. Opening in media players works without problems.
Isn't the video format supported?

[2019-05-25 19:12] McGiverGim commented on #344
That is what it says. Can you attach a little video to see if I can find some workaround?

[2019-05-26 20:13] IgnazNepumuk commented on #344
same here on linux64 with fatshark hd3 dvr footage

[2019-05-28 12:21] striker890 commented on #344
Thanks @McGiverGim
Here's a little demo file. It's just some noise recorded, but it shouldn't matter.
[PICT0003.AVI.tar.gz](https://github.com/betaflight/blackbox-log-viewer/files/3227564/PICT0003.AVI.tar.gz)

[2019-05-28 13:59] McGiverGim commented on #344
I have been playing with that without luck :( Updating the nw.js and ffmpeg libraries that we use to the latest version, did not fix the issue. It seems that they are not supported by Chromium, the source of nw.js.
I'm not an expert in codecs, but I think we can't do nothing against this.

[2019-05-29 12:19] mikeller commented on #344
@McGiverGim: I concur. The whole codec situation is reasonably shitty - with licensing issues and rights management concerns playing into this. Video overlay is not a main function of the blackbox explorer, so I think it is sufficient to support the limited number of formats that we do now with the limited effort we have to put into it.
If users are really intent on creating overlays for codecs th

[2019-06-13 21:09] #334 closed

[2019-06-26 09:02] farmingmachine opened #349 "decoded values into CSV file"
Hey,

it would be rlly if we could also export the decoded values (e.g. pitch angle) to the CSV-file instead of only the raw data. Could that be made possible?

Kind regards,

Malik

[2019-06-26 14:27] mikeller commented on #349
Not sure this makes sense and does not just add bloat - these can easily be calculated based on the raw data.

[2019-06-27 05:09] farmingmachine commented on #349
Yeah you're right , I just realized that as well. Sorry for the trouble ^^

Michael Keller <notifications@github.com> schrieb am Mi., 26. Juni 2019,
23:27:

[2019-06-27 05:42] farmingmachine commented on #349
Could you tell me the factors to calculate the raw pitch and roll into angles values? Since the values are rounded in the viewer, it's kinda tricky to get the real factors

[2019-06-30 08:25] filip-cz opened #351 "Possible incorrect motor ordering"
I have a suspicion that motor ordering in _Craft display_ does not respect the Betaflight _Configuration/Mixer_ setting.

I am currently using the Quad X 1234 setting in Betaflight but I believe that _Quad X_ settings is being used for _Craft display_ feature.

[2019-07-03 19:39] Mahdi-Hosseinali commented on #349
Is there any reference for decoding the raw values?
I'm specifically interested in motors. Not sure what are the units of the raw data and if the decoded values are percentages of the maximum RPM, duty cycle, etc?

[2019-07-05 10:56] McGiverGim commented on #351
The Blackbox log does not inform about the mixer/motor order settings. If you want to visualize it correct, I think remember that in the options menu you can select the motor ordering.

[2019-07-05 13:01] #344 closed

[2019-07-06 06:18] S-T-A opened #352 "beta flight black box 3.3.1"
blackbox 3.3.1 after install on OSX crash**Describe the bug**
after first install into applications folder and clicking on it this appears “Betaflight Blackbox Explorer” is damaged and can’t be opened. You should move it to the Trash.

delated and downloaded again same thing
repeated behaviour is the same

[2019-07-06 16:08] etracer65 commented on #352
Just tested and worked fine. Try a different browser or disable any antivirus software that might be interfering.

[2019-07-06 16:08] #352 closed

[2019-07-11 23:37] spatzengr opened #353 "Debug_Mode=DUAL_Gyro_Raw Reversed"
It appears like the Debug mode descriptions for Dual_Gyro_Raw are revered for Pitch vs. Roll.  It appears to me the Debug[0] and Debug[3] are roll in this case and Debug[1] and Debug[2] are pitch.

![image](https://user-images.githubusercontent.com/25570978/61092138-1549c200-a413-11e9-80d3-93710368e3a9.png)

[LOG00011.zip](https://github.com/betaflight/blackbox-log-viewer/files/3384350/LOG00011.zi

[2019-07-12 04:23] Docteh commented on #353
Isn't it a best practice to mount the second gyro 90 degrees different from the first?

Or is raw supposed to be after factoring that in?

[2019-07-28 15:39] etracer65 commented on #353
`RAW` data from the sensors is not translated based on mounting orientation. Roll is the gyro's X axis, pitch is Y axis and yaw is Z axis. So if the two gyros are mounted with a 90 degree offset then it will result in the data you're seeing.

Anyway you'd probably be better off using the `DUAL_GYRO_SCALED` debug mode as that has the roll/pitch values scaled to degrees/sec and aligned based on the

[2019-08-03 11:51] S-T-A commented on #352
still the same thing i get this pop up notice when i try and open blackbox after it installs.
 “Betaflight Blackbox Explorer” is damaged and can’t be opened. You should move it to the Trash."

[2019-08-03 12:05] S-T-A commented on #352
When i try to open the black box app a window pops up and i get the warning "        "  I click on the question mark in the lower left side of window. thanking me to this window "The app has been modified or damaged
Im on a Mac OSX 10.13.6 I would greatly appreciate any help the older version worked fine
The app has been modified, and its code does not match the original signed code. The app may b

[2019-08-03 12:33] etracer65 commented on #352
Just tested (again) on MacOS 10.13.6 and it worked perfectly.

1. Download the current release disk image: https://github.com/betaflight/blackbox-log-viewer/releases/download/3.3.1/betaflight-blackbox-explorer_3.3.1_macOS.dmg
2. Double-click on the .dmg file to open the archive.
3. Copy the Betaflight Blackbox Explorer app to your Applications folder - don't try to open the application directly fr

[2019-08-03 12:34] S-T-A opened #356 "doesn't open after install :("
When i try to open the black box app a window pops up and i get the warning "Betaflight Blackbox Explorer” is damaged and can’t be opened. You should move it to the Trash." I click on the question mark in the lower left side of window. taking me to this window.

"The app has been modified or damaged"
The app has been modified, and its code does not match the original signed code. The app may be br

[2019-08-03 12:55] mikeller commented on #356
@S-T-A: Why are you opening an issue that is for the same issue that you have opened in #352, considering that you were given an answer there? Please stop this.

Duplicate of #352, closing.

[2019-08-03 12:55] #356 closed

[2019-08-03 13:23] JimB40 opened #357 "Blackbox Log Viewer 3.3.1 MacOS : error opening log"
![Screen Shot 2019-08-03 at 14 51 08](https://user-images.githubusercontent.com/46420768/62412407-02857000-b602-11e9-91a9-0997f4e7dcde.png)

Got this message every time I want to open log from my R349.
BF firmware is 3.5.1
Tried different logging rates 500, 1000, 2000.
Installed 3.2 version -> same error
Log file in enclosure.

[BTFL_BLACKBOX_LOG_R349HD_20190803_143416.bbl.zip](https://github.com/

[2019-08-03 13:33] etracer65 commented on #357
The log file is valid - it just doesn't contain any data. Did you remember to set up the Blackbox mode and link it to an aux channel on the Modes tab? The mode must be active otherwise a log won't be captured.

[2019-08-03 14:22] JimB40 commented on #357
Yes I did. CH8 (AUX4) That's why I have this file.
If switch is off it wont produce any file on internal dataflash.
Tried to keep "recording" longer with BlackBox mode on. It produced slightly bigger file with  those question marks after "end of log". Don't know if this data format or just garbage.
Any other settings in CLI to set???

![Screen Shot 2019-08-03 at 16 12 33](https://user-images.githu

[2019-08-03 14:36] etracer65 commented on #357
Provide a `diff` of your settings. Without information about the flight controller we can't even tell if you're using on-board flash or SD card or if you have a misconfiguration. Make sure to erase the device before logging. Also if transferring from on-board flash then use mass storage mode rather than downloading from the configurator. Also you're running a very old version of the firmware (3.5.

[2019-08-04 19:18] S-T-A commented on #356
its not a duplicate its real it doesn't work do you honesly really think i'm doing this for fun perhaps you should wait and ask me before you deside to close it as for you black box i gave you the answer you where looking for the signed signature doesn't match and my MAC WON'T OPEN IT SO THERE STILL IS A PROBLEM AND WHAT HAVE YOU DONE??????

[2019-08-04 19:29] S-T-A commented on #352
like i said before
![Screen Shot 2019-08-04 at 3 28 00 PM](https://user-images.githubusercontent.com/19362591/62428173-97ed3680-b6cc-11e9-9a89-387658c6ae46.png)

[2019-08-04 19:34] S-T-A commented on #352
i know how to install the app its not my first time it's my first time running into this and non of what you guys said helps and i don't have a virus or a problem with anything else so thank you for nothing "MIKELLER" thanks for kicking me when i'm asking for help, you're a true gentleman and a scholar

[2019-08-04 19:53] S-T-A commented on #352
I'm tring to figure it out on my own thank you Etracer65 it doesn't matter what browser i use the issue is the same the signature that is signed doesn't match the what i downloaded its as simple as that i'm working on figurung it out i'll let you know what happens next

[2019-08-04 20:01] etracer65 commented on #352
You appear to be the only person with this problem. Every other MacOS user (including myself) have no problems. So the logical conclusion is that you have some problem with your computer or the process you're using to download/install the application. As already mentioned, opening duplicate issues for the same problem will just result in them being closed.

I suggest you seek technical support for

[2019-08-04 20:13] S-T-A commented on #352
it works fine on my tablet running windows 10 64bit no problem but on my mac its the same thing nothing has changed i just find it odd when everything else works on my MAC except this

[2019-08-04 21:08] mikeller commented on #352
@S-T-A: Let me clarify a few things here. The software you are using here is available to you for **free**, made by volunteers in their spare time. The support you are getting for **free** is also provided by volunteers in their spare time.

So if you think it is appropriate for you to act like you are entitled to have this problem solved (see 'non(sic) of what you guys said helps and i don't have

[2019-08-04 21:09] mikeller commented on #356
@S-T-A: See https://github.com/betaflight/blackbox-log-viewer/issues/352#issuecomment-518036354

[2019-08-05 07:07] McGiverGim opened #358 "Spectrum executing in the background when closed"
I have observed that sometimes, the change between workspaces with the numbers is slow. This happens because the Spectrum that is hidden at this moment is executing all the calculations of the new curve like if it was visible. If I made it visible, I minimize it and I hide it again usually the issue is fixed.

The problem is that I can't reproduce it in a programmatic manner, so I can't fix it. It

[2019-08-09 20:47] #349 closed

[2019-08-09 22:02] ian444 opened #360 "Feature request - display keyboard preset number for graph display"
Feature request - I would like to see what keyboard preset (1-9) I have currently selected beside the word "Legend" at the top RHS. Could this be implemented (if it's considered a worthwhile idea)? I often find myself wondering which preset I'm on and how to get back to it without cycling through all the numbers.

[2019-08-09 22:02] ian444 commented on #360
Feature request - I would like to see what keyboard preset (1-9) I have currently selected beside the word "Legend" at the top RHS. Could this be implemented (if it's considered a worthwhile idea)? I often find myself wondering which preset I'm on and how to get back to it without cycling through all the numbers.

[2019-08-11 11:37] #351 closed

[2019-09-03 16:49] #353 closed

[2019-09-04 22:40] Swinkid opened #363 "Release Blackbox Parser as NPM Module"
Hey,

Is their any plans to release just the javascript blackbox parser as a NPM Module? If not, are others allowed to? Wanted to implement my own parser, but the BFL files arn't easy to understand and little documentation to decode!

Thanks!

[2019-09-04 23:03] mikeller commented on #363
@Swinkid: There were no plans - until right now it appears. ;-)

I think this would be a great opportunity to make the parsing (and with it the awareness of differences in past and future versions) available for other developers and projects.
Happy to help with this, and I think it's probably best to keep this npm module inside the Betaflight project, to facilitate coordination of changes to the l

[2019-09-05 15:01] Swinkid commented on #363
Any ideas on where to start and suggest project structure? Obviously want to set it up in a way that the whole project isn't published to NPM. Also might be worth trying out the new packages feature in github too.

Cheers!

[2019-09-05 20:15] mikeller commented on #363
I'd probably cut as low down as possible - create a library that can read data out of a log file, and return it as data structures.

[2019-09-08 20:38] sanchosk opened #366 "Log GPS coordinates into blackbox"
**Is your feature request related to a problem? Please describe.**
I installed a GPS module on my quad and wanted to test the GPS rescue. I realized there is no way how to verify what was the perceived location during the GPS rescue - only way was to display the coordinates in the video feed.
It would be fantastic if one would be able to read the GPS coordinates (lat, lon, alt, spd) from the black

[2019-09-09 07:57] eried opened #364 "Export worskpaces does not work"
I get an empty looking configuration:
![image](https://user-images.githubusercontent.com/1091420/64513088-1484bd80-d2e8-11e9-8fdb-6aaab0aa3ea0.png)

Windows 10 x64, version 3.3.1

[2019-09-09 09:19] McGiverGim commented on #364
You must save before in a number, with shift+number. The save workspaces only save the stored ones.

[2019-09-09 11:11] mikeller commented on #366
@sanchosk: Not needed, I can just transfer this issue.

[2019-09-09 13:04] sanchosk commented on #366
Seems like the functionality is already implemented and works ok in blackbox-tools.

[2019-09-09 14:16] chupocro commented on #333
Similar here. When I switch from angle to horizon mode the log viewer shows: Flight Mode Change | ANGLE OFF | HORIZON ON | VTXPITMODE OFF | USER1 ON. When switching from horizon to acro mode it says: Glight Mode Change | HORIZON OFF | USER1 OFF. Going back to horizon mode it says: Flight Mode Change | HORIZON ON | USER1 ON and when returning back to angle mode it says: Flight Mode Change | ANGLE O

[2019-09-09 16:38] McGiverGim commented on #333
The flight modes over 32 give this strange behavior, they are not supported.

[2019-09-09 18:54] eried commented on #364
Oh, I see, thanks!

[2019-09-09 18:54] #364 closed

[2019-09-12 15:20] pierreh opened #367 "Selecting sub logs doesn't move the video timelime"
If I load a complete video of a flight and the flight has three sublogs due to landing, disarm, arm and fly again. Then when I select a sublog the video doesn't scroll to the correct timestamp and I have to offset the log everytime I select a different sublog.

[2019-09-15 03:22] jhillyerd commented on #329
I've never installed or run the black box explorer before today, and ran into this issue.  v3.3.1 win32 on Win 10

[2019-09-18 23:29] etracer65 commented on #367
The three logs are independent and not related. There's no way to know that they're part of the same video. Also we have no way of knowing the time interval between each log.

[2019-09-19 09:18] rinchen-clubhouse commented on #367
The log header have a `Log start datetime` which can be used to locate the position on the timeline, relative to the first header.

[2019-09-19 10:42] pierreh commented on #367
The log header have a Log start datetime which can be used to locate the position on the timeline, relative to the first header.

[2019-09-19 10:44] etracer65 commented on #367
Most of the time the log header timestamp will be 0. The flight controllers have no realtime clock and the time can only be set through a USB connection to the configurator, from GPS (if used and locked), or through using the Lua scripts over telemetry from the transmitter. The time is lost when the flight controller is power cycled.

[2019-09-19 10:49] pierreh commented on #367
Ah right, I have GPS, I was wondering how it got the time :-)
Perhaps we can have a separate offset per sublog and use the duration of the previous sublog as a default to add to the offset?
like `default offset (n) = offset(n-1) + duration(n-1)`

[2019-09-19 10:54] etracer65 commented on #367
That might be a possibility for the future, but that data is currently not written to the log. But still doesn't solve the case where the video continued to roll but the quad was power cycled or reboot (like going into the OSD menus and changing settings). The time or "time index" won't survive the reboot.

[2019-09-28 15:36] fremebondo opened #368 "Stuck while opening log"
![image](https://user-images.githubusercontent.com/9727498/65818898-57b2bc00-e216-11e9-9565-022e139a5051.png)

Stuck here.

While on Log 17 it says can't parse log.

Any ideas?
[LOG00017.TXT](https://github.com/betaflight/blackbox-log-viewer/files/3665660/LOG00017.TXT)
[LOG00018.TXT](https://github.com/betaflight/blackbox-log-viewer/files/3665661/LOG00018.TXT)