[2019-09-28 15:42] fremebondo opened #369 "Error opening log: No logs in this file could be parsed successfully"
[LOG00019.TXT](https://github.com/betaflight/blackbox-log-viewer/files/3665667/LOG00019.TXT)

Configurator: 10.5.1
Firmware: BTFL 4.0.5
Target: SPRACINGF3

# diff
# Betaflight / SPRACINGF3 (SRF3) 4.0.5 Aug  1 2019 / 12:24:55 (839661b20) MSP API: 1.41 / FEATURE CUT LEVEL 6
batch start
name FremeVTOL
resource MOTOR 8 NONE
resource SERIAL_TX 11 A03
mixer CUSTOMAIRPLANE
smix 0 0 0 100 0 0 100 0
smix 1

[2019-09-28 15:42] fremebondo commented on #368
Due to logging frequency not set on configurator blackbox page, please close

[2019-09-28 16:19] fremebondo commented on #369
Tried moving BB on harware serial, and removing OpenLog too. Attached file is recorder with USBFTDI and RealTerm. This file is not readable too in BBExplorer
[capture.txt](https://github.com/betaflight/blackbox-log-viewer/files/3665726/capture.txt)
....

[2019-09-28 16:29] fremebondo commented on #369
I tried moving the FC and the sticks while recording... Now I can open the log but it shows almost nothing.
[capture2.txt](https://github.com/betaflight/blackbox-log-viewer/files/3665742/capture2.txt)

[2019-09-28 16:56] fremebondo commented on #369
No explanation here...
Saved in ONBOARD FLASH (no serial com errors) ... BBExplorer still shows an not-existend flight

[2019-10-02 07:52] mrRobot62 opened #372 "Advances User Settings: Buttons not visible if Watermark is ON"
Behaviour:
MacOS Mojave 10.14.06, MacBook Pro, 13" Retina Display
BBE: 3.4.0

Advanced User Settings:

If slider "Watermark" is ON, windows size expand on Y-Size out of screen, with result, that buttons are not longer visible. Window is not movable.

<img width="953" alt="BBF_3 4 0_Issue01" src="https://user-images.githubusercontent.com/949032/66026971-43164280-e4fa-11e9-9ff2-ee9f6deb3a71.png">

<

[2019-10-02 08:07] mrRobot62 opened #373 "Feature: Give Workspaces "titles/names" and display this name as legend title"
It would be helpful, if user use different workspace favorites (like UAVTech.json). To give the user a better overview its helpful if a favorites contains a title and this title is displayed on the legend canvas.

<img width="879" alt="BBF_3 4 0_feature01" src="https://user-images.githubusercontent.com/949032/66027911-3561bc80-e4fc-11e9-8453-21666bdb1ba5.png">

[2019-10-02 10:18] mikeller commented on #372
@mrRobot62: BTW: I built a mac dmg file for 3.4.0 - is it possible to upload this file for other mac-users.

Sure, feel free to add it here - or add a link to version shared on Google Drive or dropbox if it is too large.

We currently do not have a CI set up that is capable of building and publishing a MacOS installer for all changes to `master` - this is due to the fact that it is only buildable

[2019-10-02 10:41] mrRobot62 commented on #372
I uploaded the dmg-file on my google-drive

[https://drive.google.com/open?id=1B5tEjiLgjrrAfoe9cAklr0UqW1_kekMt](url).

If needed, I can create dmg-files on my MacBookPro for you :-) - send me a notice -

[2019-10-05 21:09] Docteh commented on #363
@Swinkid Hacktoberfest!

[2019-10-05 23:16] Swinkid commented on #363
It's coming, i just had to finish my master's thesis. Now. Free!

[2019-10-05 23:33] Docteh commented on #363
I actually haven't given the blackbox viewer much consideration, based on file names I'd start with `js/flightlog_*`

[2019-10-06 07:38] TheIsotopes opened #377 "maximized window is not saved"
After closing the maximized window and reopening, the window is minimized again.

[2019-10-07 17:09] mrRobot62 opened #380 "Feature: enable/disable graphs on click on "Legend graph description""
It would be very helpful for analysis if it is possible to activate or deactivate a special graph if user click onto the graph name in the legen without to change every time the Graph-Setup

<img width="938" alt="BBE_Feature_GrapheActivate" src="https://user-images.githubusercontent.com/949032/66332801-d8b83480-e935-11e9-8106-3a8345eb0b50.png">

[2019-10-09 12:13] azixaka opened #383 "Blackbox 3.4 Shows DSHOT Bdir as OFF When It Is Enabled"
DSHOT is enabled which can be seen below, however header info shows is as being off.

![image](https://user-images.githubusercontent.com/19238857/66480290-39f71980-ea96-11e9-8082-05ed602aff31.png)

diff all

# version
# Betaflight / STM32F7X2 (S7X2) 4.1.0 Oct  8 2019 / 01:30:00 (0634b1d07) MSP API: 1.42
# manufacturer_id: MTKS   board_name: MATEKF722MINI   custom defaults: YES

# start the command

[2019-10-09 12:38] McGiverGim commented on #383
Oh, I will look into it ☹️

Can you attach you Blackbox file?

[2019-10-09 12:45] azixaka commented on #383
Sure, it's [here ](https://1drv.ms/u/s!AiGgeJ7isHv6kpQtNWLWXnO1Ojq3Zg?e=BUZmJC)

[2019-10-09 14:01] McGiverGim commented on #383
@azixaka your log is old. Your diff is from a firmware version of yesterday but your log is from last saturday. The bidir header value was added in the firmware here: https://github.com/betaflight/betaflight/pull/8992 maybe it was merged after you flashed your quad?

[2019-10-09 18:34] azixaka commented on #383
I confirm it works with the latest log file. There is however definitely a bug in the other section:

![image](https://user-images.githubusercontent.com/19238857/66509837-b22c0200-eacb-11e9-9fd1-d42128ae14d9.png)

That is definitely set to LOW in my settings that you can see above.

The new log file is at the same location in case you need it. It is the btfl_002.bbl

[2019-10-09 18:50] McGiverGim commented on #383
Ok, I will look into it tomorrow ☹️ now I'm out of the computer.

[2019-10-09 19:13] IvoFPV commented on #383
@McGiverGim It was just a range name order issue. Unfortunately 3.4.0 was released today.

[2019-10-09 19:14] McGiverGim commented on #383
Yes, that is was I was fearing... :-(

[2019-10-09 19:19] azixaka commented on #383
3.4.1 can be released tomorrow. ;)

[2019-10-09 21:22] mrRobot62 opened #385 "Bug: can't load video (MP4 or AVI) on MacOS Mojave: Error while loading the video. ERROR (4): DEMUXER_ERROR_NO_SUPPORTED_STREAMS: FFmpegDemuxer: no supported streams"
Hi, tried to load a video in Blackbox-log-viewer 3.4.0.

Even I use mp4 file or an avi file - I got the same error message.

Setup:
Modellname:	MacBook Pro
  Modell-Identifizierung:	MacBookPro12,1
  Prozessortyp:	Intel Core i7
  Prozessorgeschwindigkeit:	3,1 GHz
  Anzahl der Prozessoren:	1
  Gesamtanzahl der Kerne:	2
  L2-Cache (pro Kern):	256 KB
  L3-Cache:	4 MB
  Hyper-Threading Technologie:	Akt

[2019-10-09 21:53] mrRobot62 commented on #385
**UPDATE**
I found a solution for above error:
If I convert the AVI file into H.264/mpeg-4 AVEC mp4 format it's possible to load the movie file. Is it possible that the underlying video converter do not except other video formats as H.264?

[2019-10-09 22:00] IvoFPV commented on #385
@mrRobot62 Yeah, .avi from the Fatshark DVR never worked for me. I previously used to convert to .mp4 h.264 and then it worked. You can check out #344 for more info why it doesn't work.

[2019-10-09 23:28] mikeller commented on #385
Closing as duplicate of #344.

See also https://github.com/betaflight/blackbox-log-viewer/issues/344#issuecomment-496912290

[2019-10-09 23:28] #385 closed

[2019-10-10 08:55] mrRobot62 commented on #385
Accepted - but maybe it would be helpful for other users to give a clear statement inside wiki, that movie overlays only work with mp4 H.264 format. (of if already available - I never read it :-O ). Thanks for your support ! Good job men

[2019-10-10 09:08] McGiverGim commented on #385
We use the ffmpeg library ready for node.js from here: https://github.com/iteufel/nwjs-ffmpeg-prebuilt/

So we support the formats that this library support. Not more, not less. ;)

[2019-10-11 15:19] dischinator opened #387 "No audio played in viewer 3.4.0"
Since I upgraded to viewer 3.4.0 during playback of my videos no audio is played. The same files worked fine on version 3.3

Since this might be related to the audio codec used, this is the ffprobe info for one of my files:

[2019-10-11 23:40] wolkesson commented on #373
I'm working on this! The goal is to also make:
- the title editable by double-click
- a dropdown for selecting workspace, same as pressing [1-9]
- A save workspace button, same a pressing shift+[1-9]
- Make it backwards compatible...

Anyone; is it better to put it on the toolbar, next to time? Possibly a workspace could be more than only a graph config. It could for example be an analyser overlay

[2019-10-12 20:42] mikeller commented on #387
@dischinator: Blackbox Explorer is using the video codecs from https://github.com/iteufel/nwjs-ffmpeg-prebuilt. If the version used in Blackbox Explorer (0.31.5) does not support audio on your platform you'll have to report this as a bug against this project.

[2019-10-12 20:42] #387 closed

[2019-10-12 20:54] wolkesson commented on #373
Hacking around a bit and decided on a more elaborate solution:
![image](https://user-images.githubusercontent.com/5307773/66707543-47d0c700-ed42-11e9-8077-6aa894055773.png)

![image](https://user-images.githubusercontent.com/5307773/66707579-faa12500-ed42-11e9-93ac-fb723b31f617.png)

Still some work to do with backward compatibility and actually showing it in the title in the legend. Keyboard comm

[2019-10-12 21:58] #383 closed

[2019-10-14 07:47] mrRobot62 commented on #373
Hi @wolkesson - sorry for this late response :-( - I think your solution with a combobox is nice and give the user the possibility to change a workspace very easy. To edit names is perfect.

Good solution (for me ;-) )

[2019-10-15 10:20] mrRobot62 commented on #373
Update: if you enabling "editing workspace name" please write it back into workspace json file, that would be comfortable for users

[2019-10-15 13:33] mrRobot62 opened #389 "BUG: Moving frames with ALT+ARROW keys failed on OSX BBE 3.4.0"
Hi, maybe this is a bug under OSX (Mojave and Catalina) with BBE 3.4.0

MacBook Pro, 16GB Ram
Catalina 10.15 (to update was not my best decision :-( )

**Bug 1:**
If I use ALT + ARROW key I do not step only **one** frame forward, I step 66 frames forwards. Sometimes more, sometimes less.
See this little movie
https://drive.google.com/open?id=1IuOQ0IObHbhW8KCyNX2ZGfA16SXKgbLH

**Bug 2: (not visible

[2019-10-15 13:44] mrRobot62 commented on #389
Update: (without video)
ONLY Arrow key: step frequency per click (avg 396 frames)
1. click 392
2. click 398
3. click 396
4.click 398
5. click 394
avg: ~396

With ALT + Arrow right -> stable 2 frames per click

[2019-10-15 14:33] mrRobot62 commented on #389
Ahh - after thinking about this issue:
If I use a 1k blackbox the steps are 1ms = 1 StepFrame - If I use a 2k blackbox I step 2 frames.
(if I understand main.js logJumpForward/bakward correctly.

So, maybe a good solution is, to include a blackbox log frequency into moving forward/backwards.

[2019-10-15 20:39] wolkesson commented on #373
Have a look at the PR #390. :D
Workspace names are written to the json. Required a new format, but it's backwards compatible, meaning you will be able to open for example UAVTech.json. However new files will not open in older versions. A good way of testing this out is to give names to all the workspaces in UAVTech according to this description: https://drive.google.com/open?id=18a-YCHqF720qgsbw7X

[2019-10-16 05:56] mrRobot62 commented on #373
ui - seems to be very comfortable :-) - will download current branch and create a dmg-file. Unfortunately not today and maybe not tomorrow :-( - If done, I will give a feedback

[2019-10-16 09:45] azixaka opened #391 "Freq. vs Throttle Analyser Display Doesn't Work For Multi-Log Files"
BF 4.1 RC6 generated log.
3.4.0 BBE

Steps to reproduce:
* Open any log that has more than one log session in it.
* Bring on the spectrum analyser display window.
* Switch to Freq. vs Throttle mode and it will get ignored.

[Log](https://1drv.ms/u/s!AiGgeJ7isHv6kpQtjcEtV3a1o0G9gA?e=fofntJ) used to reproduce this issue.

[2019-10-16 10:14] mrRobot62 commented on #391
I tried to load your file into my 3.4.0 OSX version - and it works

<img width="1242" alt="btfl_#391_002" src="https://user-images.githubusercontent.com/949032/66910175-5b17b700-f00e-11e9-9ac0-963ea04c8b90.png">

Are you sure that u used the 2nd block and not the first block?
1st block do not contain enough data (very often if your armed/disarmed in a short period). 1st block is only 4sec - 2nd bl

[2019-10-16 10:55] azixaka commented on #391
Yes, I'm sure I used the second block and I'm on Windows if that matters.

[2019-10-16 11:22] mrRobot62 commented on #391
depending on performance of your PC and some "other" behaviors, it can take some seconds to create a heat-map (noise map).

But please check following:
1) activate spectrogram
2) change to FREQ vs Throttle (heat map)
3) click on your graph (e.g. ROLL) again and wait several seconds.
To create a heat map it taks more time because this kind of graphs include 3 dimensions (the color is the 3rd dimens

[2019-10-16 11:27] azixaka commented on #391
I tried all that. I open log for another session that doesn't have two sessions and it works perfectly.

[2019-10-16 11:28] mrRobot62 commented on #391
I assume this issue can be closed by admins - right?

[2019-10-16 12:03] azixaka commented on #391
I just tried it on my other laptop that didn't even have BlackBoxExplorer installed and it's the same issue. Can you try it on Windows?

[2019-10-16 12:09] azixaka commented on #391
And just tried on my mate's Windows laptop - Waited for 5 minutes. There is definitely a bug.

![image](https://user-images.githubusercontent.com/19238857/66917865-1c85fa80-f016-11e9-93f0-b30dce3f675f.png)

[2019-10-16 12:52] mrRobot62 commented on #391
I built up a virtual machine on my mac with Win 7. After installing BBE 3.4.0 and loading your file I can do the same as under MAC

<img width="1255" alt="btfl_#391_002d_windows" src="https://user-images.githubusercontent.com/949032/66920473-a8525380-f023-11e9-8197-3ef5feba48e2.png">

**BUT**
I found following things
a) first try after loading your file I saw NO graphs (uhh - not good) (like on yo

[2019-10-16 12:56] azixaka commented on #391
Have you tried on Windows 10?

[2019-10-16 13:00] mrRobot62 commented on #391
**no - I'm not able to do this** - I'm not a member of the dev-team. They have to decide this.
It was a quick analyse from my side - don't worry - my goal is to provide some tips and information to you.

Sorry I do not have a win10 VM available (I think so)

[2019-10-16 13:41] mrRobot62 commented on #391
Update: I had previously installed a Win10 VM :-)
Installed BBE 3.4.0
Load your file
made below screen shot

[2019-10-16 13:46] azixaka commented on #391
Wow, no it's weird. I have bigger files (I put some in that same shared folder) and they don't have that issue at all - they just load and they are bigger. I guess it doesn't matter then.

[2019-10-16 16:31] mrRobot62 commented on #274
I tried to load and export above file into BBE 3.4.0 - on my mac environment it works several times without problems

BUT
If user click Export - it seems nothing happens (no output on screen). Background a csv-export-worker create the export file and return.

I took a look into the csv_export - dump function and into the worker.js file.
I assume that the problem is that the export is completely du

[2019-10-16 16:43] McGiverGim commented on #391
I have reproduced it, but only sometimes... sometimes I have the error, sometimes I have the graph... I will try to search for the error when I have some more time.

[2019-10-16 18:06] McGiverGim commented on #391
I was wrong, I don't have a graph because I selected the first flight, that has no throttle.

When I select the second one, it works perfectly under Windows 10:
![image](https://user-images.githubusercontent.com/2673520/66946074-773c4800-f050-11e9-90f0-cf486d313a23.png)

[2019-10-16 19:32] McGiverGim commented on #391
I don't think it takes more time if it has more than one flight. If you have samples I can look into it, I don't have this kind of files (my FCs have SD, not flash).

If you start a debug version of the Configurator (yarn gulp debug) you can debug it, all the tools are at the right click.

[2019-10-17 04:42] mrRobot62 commented on #391
These are three files from @azixaka two with one block and one with two blocks.

Last night I tried it again under my MacBoo Catalina - mhm in some circumstances I have delays if I start BBE - and than load a one-block file - it take no long time (1-2sec).
If I load load as a second file the two block file - it loads faster - weird

If I start BBE and load at first the two-block file - sometimes i

[2019-10-17 06:45] McGiverGim commented on #391
No,I'm not available. But you can find me and a lot of other people willing to help in the official Slack chat of Betaflight.

About loading multiple block files, they take longer because it must read the ENTIRE file to get all the headers of all the blocks. So you must sum the size of all the blocks, not only the block that you have open.

Maybe the Spectrogram is open when you select a new file?

[2019-10-17 11:35] mikeller commented on #274
@mrRobot62: Good find! The use of workers, while efficient, is problematic in this sense, as it makes it hard to keep the user informed of what is going on (or even that something is going on).

[2019-10-17 20:00] mrRobot62 commented on #274
I know, that the reason I recommended to rewrite the export logic with an other lib to have the chance to setup a progress bar (or something else).

Like csv-writer

[2019-10-17 20:36] mikeller commented on #274
@mrRobot62: There is definitely potential in that. At the moment our choice of libraries is hampered by the fact that they have to be web-ready to be supported in the version we release as a Chrome web app. Feel free to open a pull request for this, happy to provide support.

[2019-10-19 11:34] mrRobot62 commented on #274
Hi @mikeller I spoke(wrote) with @McGiverGim : maybe an approach to solve it, is to implement in csv_export following logic:
Split the complete map into several baskets (e.g. 10). Loop around this baskets. Every loop populate a user message on GUI. Append every loop the result map at the end save map to csv file.

Advantage: we do not exchange lib and can populate during saving a user message
Disa

[2019-10-19 11:57] wolkesson commented on #274
I’ve looked into it yesterday and agree on the solution. One problem I think is that we cannot write to file in chunks since we are saving it with a web download and not with direkt file access. So the complete data will have to be in the browser. On my desktop with 64GB ram it takes 8 seconds to do the export of the file above so it’s memory related, but in anyway user feedback is required and pr

[2019-10-19 12:19] mrRobot62 commented on #274
mhm - good argument with browser - btw: 64GB ram is not "common" for must users ;-)
Is it possible to use the chrome file.system api?

Sorry I'm not an expert in web development

[2019-10-20 21:04] mrRobot62 opened #394 "3.5.0RC1 - OSX dmg file available"
Hi everybody, if someone need a 3.5.0RC1 dmg file for OSX follow this link:
https://drive.google.com/open?id=15X6bEZtYV21rNIyrekxCLPWBnIrIyx-v

Tested on 10.15 Catalina without problems

(do we have a better solution, if some create a file like this to publish it?)

[2019-10-23 14:48] mrRobot62 commented on #373
I testes 3.5.0RC1 with @wolkesson extension - works fine - but I found following "unsharpness" ;-)

- Workspace name length:
if to long ... dots are shown, but no chance to see (e.g. tooltip) the complete name:
Solution: max number of chars or tooltip or wider box

<img width="186" alt="image" src="https://user-images.githubusercontent.com/949032/67404817-31cdcc80-f5b4-11e9-8232-82945209edc3.png">

[2019-10-23 14:49] mrRobot62 commented on #372
Bug fixed in 3.5.0RC1

[2019-10-23 14:49] #372 closed

[2019-10-23 15:43] mrRobot62 commented on #377
On OSX BBE opens every time with full windows size (max).
Neither the windows size nor the position is saved

[2019-10-26 12:34] #367 closed

[2019-10-29 01:01] junwoo091400 commented on #329
Maybe this is a fixable issue? ;(

[2019-11-03 13:53] mrRobot62 commented on #373
made a small enhancement for this feature.
<img width="674" alt="BBE_Feature_373" src="https://user-images.githubusercontent.com/949032/68086229-9fe28100-fe49-11e9-82e1-f59c9ed1d76f.png">

[2019-11-04 16:29] #368 closed

[2019-11-04 17:29] #369 closed

[2019-11-05 20:56] mrRobot62 commented on #373
done with #400/#401

[2019-11-05 20:56] #373 closed

[2019-11-07 21:35] meoso opened #406 "remove gradients"
Is there a way to remove the graphical gradients? or can the source-code to produce them, be removed altogether?  it interferes with overlaying any exported video onto flights in other post-production software.

[![2019-11-07-15-29.png](https://i.postimg.cc/zGBvJ6nS/2019-11-07-15-29.png)](https://postimg.cc/jLptc83L)

my 3rd party software works great to overlay exported video and see the flight f

[2019-11-12 00:56] #363 closed

[2019-11-15 22:19] wolkesson commented on #406
Faily easy to fix. Just don't know where to put the setting?
![image](https://user-images.githubusercontent.com/5307773/68979235-48ef8b00-07fd-11ea-87a7-65a7f40e4bb4.png)
Or, should we remove them all together? Would anyone actually miss them? I know that it is for showing signal scale, but that's what grids are for.

[2019-11-15 22:25] mikeller commented on #406
In a perfect world (i.e. without customers :laughing: ) I'd say remove. But since there are sure some to be sad about it being gone, we already have it, and the cost for making it switchable isn't going to be huge, I'd say keep it, make it switchable, and default to off.
If nobody complains about it being gone after this we can remove it in the next version. :wink:
Position looks good to me.

[2019-11-15 22:44] wolkesson opened #407 "Grid feature is hard to use"
To display a grid you need to know that you should hold alt and click a field in the legend. Then you also need to turn "master grid switch" on (G key).

[2019-11-15 22:51] mikeller commented on #406
Update: On second thought, these settings could probably do with some reorganising - they are mostly single item groups now which is a bit daft.

How about:
- Craft
-- Use custom Mixer
-- Positions
- Display
-- Show units on legend
-- Show watermark
-- Show background gradient
-- Show Lap timer
(leave Stick Settings / Analyser Settings as they are)

@McGiverGim: Thoughts?

Also, this can be done i

[2019-11-15 22:52] mikeller commented on #407
Don't you need to poke you your tongue while you're doing it as well and pinch your nose? :stuck_out_tongue_closed_eyes:

[2019-11-15 23:45] wolkesson commented on #406
I was just going to suggest something similar. I have a pull request for this the gradient on/off feature ready. Also thinking that in Advanced Settings there are settings for show/hide lap timer and watermark, but not for show/hide of sticks and craft. These are instead controlled from the toolbar. Shouldn't we move lap timer and watermark to the toolbar too? Maybe making the overlay into a dropd

[2019-11-16 00:06] wolkesson opened #409 "Move Analyser into a separate view"
I don't see the use of having the Analyser (frequency plot) overlaying the graphs. This does not relate to the current time in the graph plot, only to the in and out markers. I makes more sense in my opinion to have a separate view button for this (like the table view) and always having it show in "full screen". More preset "Type of Spectrum" could be created like the "Freq vs Throttle"

[2019-11-16 00:07] mikeller commented on #406
@wolkesson: Yes re adding these show / hide settings to the menu - their discoverability at the moment is horrid.

[2019-11-16 01:31] wolkesson commented on #360
I would say this is fixed by #390 since the current "keyboard preset number" (now "workspace number") is shown on the dropdown. I admit it's not on the legend, but close enough.

[2019-11-16 06:53] McGiverGim commented on #406
To me is ok. I think a reorder is good.

[2019-11-16 07:07] McGiverGim commented on #409
I'm not too sure, if the graph refresh with the in and out maybe it is easier to show it in the same window to do it easily. Some Blackbox expert users required here, like @ctzsnooze to give his opinion or @spatzengr

[2019-11-16 21:19] meoso commented on #406
i could be wrong, but this never did anything that i could see.. maybe toggle it with this icon:
![2019-11-16_15-13](https://user-images.githubusercontent.com/1337447/68999249-bf36d080-0883-11ea-9d6c-0b4bc294f988.png)

in the meantime, i just changed  `rgba(255,255,255,0.1)');` to `axisGradient.addColorStop(0.0,   'rgba(0,0,0,0)');` in `js/grapher.js` lines 413,417 and compiled.

[2019-11-16 23:57] wolkesson commented on #406
For the grid button usage see #407
For the fix of gradient there is a pull request #408
🕹

[2019-11-17 01:39] #255 closed

[2019-11-17 10:20] #406 closed

[2019-11-17 22:00] mrRobot62 opened #412 "3.5.0RC2 - OSX dmg file available"
a new OS X file is available.

Tested on OSX-Catalina works fine

Download file here:
https://drive.google.com/file/d/15zzq5jl7QAjGt6u59au9ePahaJXqHYtr/view?usp=sharing

[2019-11-17 22:13] mrRobot62 commented on #394
3.5.0RC2 available - close issue #394

[2019-11-17 22:14] mrRobot62 commented on #394
3.5.0RC2 available - close issue #394

[2019-11-17 22:14] #394 closed

[2019-11-18 00:45] mikeller commented on #412
@mrRobot62: Can you please not call these `-RC<x>`? If we decide we are going to need release candidates for 3.5.0 this will be confusing. You could name them `-RC-mrRoboto62-2` or `-mrRoboto62-1` or similar.

Also, we now have CI generated nightly builds for all platforms available at https://github.com/betaflight/blackbox-log-viewer-nightlies/releases, so this is probably not needed any more.

[2019-11-18 06:48] mrRobot62 commented on #412
Hi @mikeller  - oh that was unknown for me - sorry - if will close this issue.

[2019-11-18 06:48] #412 closed

[2019-11-19 19:30] etracer65 opened #413 "Add option to disable auto range scaling for each graph"
Some elements (notably the debug graphs) seem to auto-scale the display after analyzing the data during parsing to maximize the visible portion of the graph. While this is generally helpful, there are times would it would be useful to manually set and "lock" the scale to allow comparisons between different data sets. For example the user might be trying to examine noise in a debug trace. The trace

[2019-11-19 20:45] etracer65 opened #415 "Graph setup dialog heading alignment"
Noticed that the column headings are misaligned in the graph setup window.

![Screen Shot 2019-11-19 at 3 37 37 PM](https://user-images.githubusercontent.com/17088539/69184716-62d1ec00-0ae3-11ea-84d5-6f80c1e98dbb.png)

Also a another minor thing, the color box is slightly misaligned vertically.

![color box alignment](https://user-images.githubusercontent.com/17088539/69184756-75e4bc00-0ae3-11ea-8

[2019-11-21 20:53] #389 closed

[2019-11-22 19:56] AlopexXx opened #417 "Add Data Cursor for Analyzer window"
I think a 1D data cursor for Frequency and 2D data cursor for Frequency vs Throttle would be very usefull to make precise readings. Also incremental buttons for scaling like they are on most scroll bars could be usefull.

[2019-11-23 08:19] #391 closed

[2019-11-26 22:56] jacobbloy opened #418 "Export gyro data to GoPro GPMF file for reelsteady"
Export gyro data to GoPro GPMF file for reelsteady, this would allow us to use our turtle or runcam split camera or DJI FPV system HD recording and input them into the reelsteady go software and get supper smooth camera footage with out the need for a GoPro. Reelsteady said the emu flight guys are looking into making a tool.

[2019-11-27 06:51] mikeller commented on #418
I think this can be done already with existing tools: Use https://github.com/betaflight/blackbox-tools to convert the Betaflight log into CSV, then use a tool to create the GPMF file.

[2019-11-29 00:41] wolkesson commented on #407
I'll add a column with checkboxes to the Graph Setup for review for turning Grid On/Off for that field.

[2019-11-29 00:44] wolkesson commented on #409
The log-seek-bar will still be visible, so setting in and out will still be possible. It will be like the Analyzer in full screen, but without the semi-transparent background. What will be lost is the possibility to have the Analyzer as a picture-in-picture overlay when rendering to video.

[2019-11-29 07:43] McGiverGim commented on #360
I close this then. Thanks @wolkesson !!

[2019-11-29 07:43] #360 closed

[2019-11-29 09:46] McGiverGim commented on #409
It seems @mikeller is ok with this (thumb up emoji), so if you are ok with the change, go for it.
I like to have the analyzer with the graph because sometimes I see some noise in the graph, with the mark (M) I look what frequency is, and I try to look for it in the spectrum to see if it is a noticeable point or not.
Nobody has commented so I let this as you convenience... maybe we have complains a

[2019-11-29 21:37] #415 closed

[2019-12-01 20:57] #407 closed

[2019-12-18 16:49] meekaah commented on #418
i've thought about this alors in the past few months, this would be so amazing to be able to get reelsteady results with the dji fpv or any other non gopro cameras

[2019-12-26 12:25] mikeller opened #423 "Add legend to the analyser display"
Currently, when the analyser display is opened, there is no indication of what data stream was used as input for the analyser. This can be confusing, especially when dealing with screenshots:

![image (7)](https://user-images.githubusercontent.com/4742747/71475951-953fd900-2847-11ea-9ea7-abd85c01fe74.png)

vs.

![image (6)](https://user-images.githubusercontent.com/4742747/71475952-953fd900-2847-1

[2019-12-26 19:41] McGiverGim commented on #423
This has been broken recently. The name must appear at the bottom right of the analyser. This only happens at full screen?

[2019-12-26 22:53] mikeller commented on #423
@McGiverGim: You are right, the title is there:

![image](https://user-images.githubusercontent.com/4742747/71492855-5fc6da00-289f-11ea-8995-f15a0e4663c2.png)

It is just very hard to spot behind the green plot - maybe it should go somewhare else like up top centered where it is less likely to be overlaid?

@hydra: Fyi.

[2019-12-27 11:35] McGiverGim commented on #423
Usually the noise is almost zero there, so it is more visible. Maybe adding a black border to the letters will make them clearer. I will play a little with it when I have some time.

[2019-12-27 18:32] nerdCopter opened #425 "bug: export video stuck calculating if craft:size or stick:size set to 0%"
Export Video fails to start if the `Craft Settings`:`Size`=`0` or if `Stick Settings`:`Size`=`0`.

Tested v20191223.80
Tested v20191202.76

`Linux 5.0.0-37-generic #40-Ubuntu SMP Thu Nov 14 00:14:01 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`

[2019-12-30 10:40] exocode opened #426 "Having workspace issues on Apple / Mac"
I use this workspace file https://drive.google.com/drive/folders/1hWgcADCI3Aa4XLUiGsGQbPHxdkE94taP taken from UAV-Tech).
* loaded via "open log file/video)
* get "workspace loaded" modal
* pressing 1-9
* nothing happens
* tried to export workspaces
* exported workspace.json matches exactly to that what I imported

I am using a Mac (Mojave 10.14.6 (18G103)). My logs are recorded from Rev : Betaflig

[2020-01-05 06:40] boscomonkey commented on #426
I have the exact same setup on a 2015 Macbook Pro 13" Retina - Mojave 10.14.6, BF 4.1.2, BBE 3.4.0 - with the same issue: shortcut keys 1-9 do not work.

[2020-01-05 10:38] exocode commented on #426
After some trial and error I could get it working by using an old template:
It seems to be a bug!

1. remove all old preferences (not sure if nessessary)
`rm ~/Library/Preferences/com.nw-builder.betaflight-blackbox-explorer.plist`
2. Open most recent version (3.4.0)
3. Open a valid BBL file
4. Remove all graphs and hit save
5. Open this file  [UAVtech BetaFlight Blackbox explorer template settings

[2020-01-05 10:52] #409 closed

[2020-01-05 19:08] boscomonkey commented on #426
Nice sleuthing! I was able to repeat your results.

Removing the preferences was not necessary. The [UAVtech BetaFlight Blackbox explorer template settings.json.zip](https://github.com/betaflight/blackbox-log-viewer/files/4023280/UAVtech.BetaFlight.Blackbox.explorer.template.settings.json.zip) to which you linked in Step #5 works fine (after unzipping).

There must be a bug in UAVTech's settings J

[2020-01-05 22:01] Aaronprat commented on #369
@fremebondo did you find the root cause? I'm experiencing a similar issue.

[2020-01-06 03:52] boscomonkey commented on #426
UAVTech's settings JSON doesn't work in Windows 10 either. I did a side-by-side comparison of the older settings file you found with what's on his Google Drive, and discovered that his JSON file is slightly "inverted".

Instead of being a hash key "graphConfig" mapped to an array of shortcut definitions, his file is an array of hashes, each of which has a "graphConfig" mapped to shortcut definitio

[2020-01-06 09:55] wolkesson commented on #426
I could be my fault! When I did the new workspace feature, the format was changed. It was supposed to be able to open the old format, but I sure could have missed something... Unfortunately, I don't have time to look closer into it at the moment. Maybe next weekend. Sorry!

[2020-01-07 05:22] fremebondo commented on #369
No, still no luck, I tried with blackbox ratio set to 1 up to 2048, I tried
lowering pid loop frequqncy, and disabling features as well. No way to get
a single readable log.

Still waiting for help...

Il lun 6 gen 2020, 06:01 Aaron Prat <notifications@github.com> ha scritto:

[2020-01-12 21:27] nerdCopter opened #427 "bug: pressing H quickly & repeatedly will fade the background completely to black"
Pressing H, waiting for the header display, then pressing H again work fine; however, pressing H quickly multiple times will gradually (or not-so gradually) darken the main interface completely without recovering to normal opacity.

`v20191223.80`

`Linux 5.0.0-37-generic #40-Ubuntu SMP Thu Nov 14 00:14:01 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`

[2020-01-13 12:51] NeuerUser commented on #426
Yes, the problem is that the format has apparently changed. BBE 3.4 is not able to read the old format.

[2020-01-13 12:57] exocode commented on #426
Are you using mac? Try to load this one:
(it's just a fresh exported simple,default settings snippet)
[code]

[2020-01-13 13:02] NeuerUser commented on #426
I'm on Linux. The above posted fixed file works for me.
Thanks!

[2020-01-13 13:03] exocode commented on #426
It'n NOT WORKING FOR ME :-(

[2020-01-13 13:45] NeuerUser commented on #426
This one worked for me:
https://github.com/betaflight/blackbox-log-viewer/files/4023280/UAVtech.BetaFlight.Blackbox.explorer.template.settings.json.zip

[2020-01-13 15:14] exocode commented on #426
Yes, that is one that I created and posted. **But it is not working on a MAC** (this is the reason for this open issue :-)

[2020-01-19 00:51] meekaah commented on #418
nobody willing to give this a shot? i'll try and do a proof of concept see if it can work..

[2020-01-21 03:46] boscomonkey commented on #426
For your convenience, I made a new commit to https://github.com/boscomonkey/fix_uavtech_json that adds:
* UAV Tech's original file that doesn't import properly (dated 2019/12/27).
* The fixed version of the above.

Have fun.

[2020-01-30 20:37] SantiCO19 commented on #329
Same issue here on Win10, BBLV version 3.4.0 win32

[2020-02-25 01:49] #418 closed

[2020-02-27 04:51] #426 closed

[2020-02-27 22:34] Mahdi-Hosseinali commented on #274
I'm having the same issue with 50Mb files. Usually, when the log file is large, the user doesn't need all the time span at once. So, a quick fix would be to let the user choose what time chunk to be exported.

[2020-03-21 15:04] vmerckle opened #434 "suggestion : auto-debug : detect unrealistic gyro output"
I had to investigate a jitter issue. In the end it was caused by gyro jitter. I did not have extensive knowledge and it took time. What gave away that the gyro was the culprit was big spike in gyro, for example having a delta of 300deg/s in 4ms, as can also be demonstrated in this video : https://www.youtube.com/watch?v=9EN14PjcK0c&lc=z231hhty5m3wipyrs04t1aokgjnbcpytgzdqddkghapzrk0h00410.158480192

[2020-03-25 11:15] McGiverGim commented on #427
It seems that this is a bug produced by the `bootstrap.js` library. Is used to show and hide the modal dialogs.

When we press the `H` very fast, the event that "shows/hides" the dialog does not remove the fade div that is in the background, but adds another one in top of it:

![image](https://user-images.githubusercontent.com/2673520/77530792-2bf55380-6e92-11ea-8c11-da00d0742dec.png)

I have trie

[2020-03-25 11:44] mikeller commented on #427
Good find, @McGiverGim!

[2020-03-25 11:58] McGiverGim commented on #427
I have found a workaround... I will push a PR in some minutes... let's see if it does not produce other glitches...

[2020-03-25 15:38] jbstand commented on #418
@meekaah did you do the proof of concept? Can I help?

[2020-03-26 10:36] #427 closed

[2020-03-26 14:16] McGiverGim commented on #425
I've been looking at this... can be fixed when it fails (when it creates a canvas with size 0) but I think is better to fix it in the settings window

There are two icons in the main bar that let hide the elements. So it has no sense to have a size 0 for this two elements. So I think we need to limit it to 1% in the settings windows and validate it before saving. Now it admits any value that you p

[2020-03-27 17:17] meekaah commented on #418
no I havent had the time off work to get this done, it would be amazing though

[2020-04-12 13:35] Justicefpv opened #438 "Actual rates gyro and setpoint scales incorrect"
When using Actual Rates blackbox viewer gyro lines look stepped and full stick deflection looks like a dashed line

ctzsnooze commented in slack that to fix this Gyro and setpoint scales need to be set to 20%

![image](https://user-images.githubusercontent.com/45165930/79070039-cba44580-7cca-11ea-9830-23701f753c82.png)

[2020-04-12 18:59] McGiverGim commented on #438
This is because it calculates the scale using the max rate of the old rate system. It needs to take into account the new system. Is this info (the system that is being used) in the blackbox header? Can you attach your log file as sample?

[2020-04-12 21:57] ctzsnooze commented on #438
I had a quick look at the code, it calculates setpoint from the Betaflight rates maths, and isn't aware of any other Rates types.
Setpoint will be incorrect for all the others.
Unfortunately support for other rates types hasn't been implemented in BBE previously so it would require changes to logging that included the rates type, and then to the maths that calculated the rates.
Quite a lot of work

[2020-04-12 21:59] ctzsnooze commented on #438
Here is a dropbox link to a log with Actual rates being used.

[2020-04-13 19:58] 0crap commented on #438
Yep, noticed this as well with "Quick Rates".

[2020-04-14 20:00] fgiudice98 commented on #438
Actually from BF 4.0 the setpoint values are in the log itself, so they are always correct. The only problem here is the gyro scaling. It's not a big deal to make it works with newer rates, but i think is better to fix the gyro scaling at 2000dps, as it's always the max rate supported by BF itself (mostly for the gyro capabilities) and most of the users have their max rates around 1000dps

[2020-05-09 18:40] sansha commented on #418
GoPro actually open-sourced the code to write these files: https://github.com/gopro/gpmf-write
So it would probably be possible to convert the blackbox files to gpmf. The questions is, however, how one could sync the video & telemetry.

[2020-05-10 11:19] mikeller commented on #418
@sansha: Synchronisation with the blackbox log could probably be done through the arming beeps recorded on the video's audio track.

[2020-05-13 18:14] sansha commented on #418
That's true. I don't have a beeper but the motor noise itself is probably sufficient. Unfortunately I don't have time to look into it right now but I guess it would be a standalone script and not implemented into betaflight, right?

[2020-05-13 19:24] Christian-Seematter commented on #329
Same issue here on Win 10, version 3.5.0 from betaflight-blackbox-explorer-installer_3.5.0_win32.exe

[2020-05-14 01:59] mikeller commented on #418
@sansha: It should probably be a standalone project, potentially using the data access library that we have in the blackbox tools.

[2020-05-27 06:50] 0crap commented on #438
I don't think it's a good idea to let the bot close this one.
This issue needs to be fixed.
@McGiverGim @mikeller can you please reopen and make sure the stale bot can't close it again?
Thx!

[2020-05-27 07:07] McGiverGim commented on #438
@0crap in theory, it was fixed here: https://github.com/betaflight/blackbox-log-viewer/pull/440

Did you test the latest 3.5.0 version of the Blackbox Viewer?

[2020-05-27 07:21] 0crap commented on #438
Hmmm, I run into this yesterday on the 3.5.0 stable release.
I'll try to find the logfile that gives me issues.

[2020-05-27 08:58] 0crap commented on #438
OK, seems I'm wrong on this, sorry for the confusion.

It seems I have a corrupt BBL file.
The header shows a red box with Rates type Betaflight, while I use QuickRates.

![Header info](https://user-images.githubusercontent.com/31951195/82998817-761cc180-a008-11ea-9719-2cff1a1814a9.jpg)
![4 2RC2-BBL](https://user-images.githubusercontent.com/31951195/82998829-7ae17580-a008-11ea-9fe0-92b0c8622d89.j

[2020-05-27 09:06] McGiverGim commented on #438
Your log is from 13 May, the Betaflight firmware need this PR to add the info to the headers:
https://github.com/betaflight/blackbox-log-viewer/pull/439 and it was merged the 19 Apr.

So I close it. If you find a problem with some recent firmware you can reopen it again.

[2020-05-27 09:18] 0crap commented on #438
@McGiverGim 13 May is the firmware date, which is the date BF 4.2.0 RC2 is released.
The logfile was created yesterday. (26 May)

So all recent stuff!

[2020-05-27 09:30] McGiverGim commented on #438
True, I don't know what I was thinking...

The log does not contain the `rates_type` header. If you open it with Notepad++ (or any editor) you will see it is missing. I open this again until we find the culprit...

[2020-05-27 09:31] McGiverGim commented on #438
@0crap it is a corrupted blackbox file:

![image](https://user-images.githubusercontent.com/2673520/83002581-85ead480-a00d-11ea-9c81-bd97809616d3.png)

The headers did not end, in theory @etracer65 fixed this in the firmware some time ago...

[2020-05-27 09:34] McGiverGim commented on #438
This is the PR: https://github.com/betaflight/betaflight/pull/8284

Maybe we have more than 3K of dat now? @mikeller @etracer65 what do you think?

But this is a new issue for the firmware, not a problem in the Blackbox Viewer. @0crap Can you open an issue there with the info? Thanks!

[2020-05-27 09:36] 0crap commented on #438
Yep, that seems it.
From a different logfile I see that a small part is missing.

H airmode_activate_throttle:25
H serialrx_provider:9
H use_unsynced_pwm:0
H motor_pwm_protocol:6
H motor_pwm_rate:480
H dshot_idle_value:550
H debug_mode:6
H features:268764296
H rc_smoothing_type:1
H rc_smoothing_debug_axis:0
H rc_smoothing_cutoffs:0, 0
H rc_smoothing_auto_factor:10
H rc_smoothing_filter_type:1, 1
H

[2020-05-27 09:38] McGiverGim commented on #438
The size of this header file is more than 3.5Kb, so it seems we are going to start to get this kind of reports...

[2020-05-28 14:01] 0crap commented on #438
@McGiverGim Can you have a look at the attached BBL logfile please?
The header seems fine and is not truncated, the BB logviewer is detecting QuickRates which is correct.
However I still got dotted lines on full stick deflection. Weid...
![LOG00112](https://user-images.githubusercontent.com/31951195/83151077-64b4e180-a0fc-11ea-9371-87dedb6c5cf6.jpg)
![LOG00112_QuickRates](https://user-images.githu

[2020-05-28 14:24] 0crap commented on #438
https://github.com/betaflight/betaflight/issues/9856

[2020-05-28 14:27] 0crap commented on #438
Done.
https://github.com/betaflight/betaflight/issues/9856

[2020-05-29 06:44] McGiverGim commented on #438
@0crap I'm looking at it. Can you confirm what is your max rate configured in Betaflight?

In the Configurator/Blackbox if I'm not wrong, you have configured quick rates and a max degrees per second of 600/610/450 (roll, pitch, yaw).
Is this correct?
If it is, then the firmware part is different because you are making rolls at 800 deg/sec.
So one of both is not right.
Can you confirm your data in

[2020-05-29 06:52] McGiverGim commented on #438
Looking at the firmware code, it seems that the max rate is the MAX of RC RATE and SUPER RATE, but in the Configurator and Viewer is taken only from SUPER RATE.
https://github.com/IllusionFpv/betaflight/blob/fbcdeb5be6c09547c76f9177d9c0f5f856d5eacc/src/main/fc/rc.c#L210-L211
At least the Blackbox part was done for @IllusionFpv that is the developer who did the firmware part.
@IllusionFpv can you c

[2020-05-29 07:08] 0crap commented on #438
[code]

I usually fly the whole flight in # rateprofile 2 and land using # rateprofile 0.
Sometimes my Taranis switch is in the position of # rateprofile 0 during take off, I then quickly switch to # rateprofile 2. (I have my Modes switch combined with a Rate Profile Selection.)
If that happened in this flight I can't remember.

So in other words 99% of the flight is done with 800/810/450 for R/P/

[2020-05-29 07:14] McGiverGim commented on #438
Problem found, you have changed the rate system in flight but all the values are calculated from the data when starting the Blackbox (usually when arming)

[2020-05-29 07:19] 0crap commented on #438
Nice work troubleshooting!

[2020-05-29 07:25] McGiverGim commented on #438
There is nothing we can do about this. The header gives the data to the Blackbox and we use it to prepare all the Blackbox "configuration". If something changes in flight we don't know until we arrive to this part, so there is nothing to fix here.

[2020-05-29 08:51] 0crap commented on #438
Hmmm, that is a bit sad.
What do you mean exactly with "...until we arrive to this part,"?

[2020-05-29 09:09] McGiverGim commented on #438
We do not process "all the log" when loading it. We only process the part needed. When the user goes forward in the timeline we read and process the next part. So we don't know nothing about rate changes until the user goes to this part in the graph. And the scale of the graph is loaded (and not changed) when the log file is loaded.
Plus, the profile rate change event writes the new profile number

[2020-05-29 09:20] fgiudice98 commented on #438
As i said earlier in this issue, a solution can be to fix the scale to 2000dps. There is always the expo and the raw values, so i don't think it's a problem the fixed scale

[2020-05-29 09:23] McGiverGim commented on #438
As an option maybe, but I don't like it by default at least for my use. I prefer maximum resolution and I use about 700-800 dps, so it is far from the 2000 dps suggested.

[2020-05-29 10:59] 0crap commented on #438
Why not scan the rate profiles during startup and pick the highest numbers to set the scale for the BBL?
Exclude the default rate profiles so you only take the user settings into account.

[2020-05-29 11:11] McGiverGim commented on #438
Again, as an option maybe. But this will need a change in the firmware side too because only the selected rate profile information is write in the log file.

[2020-05-29 11:44] etracer65 commented on #438
Not really possible without a huge amount of work.

[2020-06-04 20:27] dngrlux commented on #418
I've dreamt of this since early 2015, long before ReelSteady GO and GoPro telemetry. Would be a great addition! https://github.com/cleanflight/blackbox-log-viewer/issues/9

[2020-06-05 09:46] nablabla opened #446 "I see no graphs"
am i doing it wrong?
every info you need shoud be in the log and the screenshot

[2020-06-05 09:47] nablabla commented on #446
[btfl_001.zip](https://github.com/betaflight/blackbox-log-viewer/files/4735230/btfl_001.zip)

[2020-06-05 09:48] nablabla commented on #446
![noGraphs](https://user-images.githubusercontent.com/5704918/83862556-685eee80-a722-11ea-86e6-513e38b593e7.png)

[2020-06-05 09:48] nablabla commented on #446
what are you talking about, i was not done creating the issue, you have been to fast, sorry

[2020-06-05 10:59] spatzengr commented on #446
Looks fine to me.

![image](https://user-images.githubusercontent.com/25570978/83869044-e8bd2980-a6f9-11ea-9e6d-4b429853c90d.png)

Is this a build version of BF BBE or an official release you are using?

[2020-06-05 11:04] nablabla commented on #446
code > releases > Blackbox Log Viewer 3.5.0 on windows 10 (i am an expert uc;)

[2020-06-05 11:05] nablabla commented on #446
all the guys in tutorial videos just open the file with this application and they hav graphs as you have

[2020-06-05 11:10] Asizon commented on #446
O yes, i think it is happens the first time that you open bb explorer after install, just remove current graphs and reads it

[2020-06-05 11:11] nablabla commented on #446
i open and closed it several time, problem stays.
"just remove current graphs and re-add it" what is that?

[2020-06-05 11:15] Asizon commented on #446
![83862556-685eee80-a722-11ea-86e6-513e38b593e7](https://user-images.githubusercontent.com/43983086/83870445-921e1280-a72e-11ea-8ae1-b86c9c05bf01.png)
Enter in graph setup, remove existing graphs types, and re add

[2020-06-05 11:21] nablabla commented on #446
okay, that fixed it. so it is a bug i guess,
thanks for ya help :)

[2020-06-05 12:27] spatzengr commented on #446
@nablabla , you can get trace setup Templates from tiny.cc/uavtech --> BBE Trace Templates folder too if you like.  https://www.youtube.com/watch?v=fCs51RQmxqU

[2020-06-05 13:11] nablabla commented on #446
i have watched that already, and i love it, thanks :)

[2020-06-10 08:44] 0crap opened #447 "More useful default settings"
By default the BB log viewer uses Expo ON, Smoothing ON. (Also Grid ON, but I never seen a difference on that setting.)
This gives a unusual/unrealistic view of what happens and is the first thing I always switch off after loading a logfile.
![Default](https://user-images.githubusercontent.com/31951195/84246511-04b03900-ab07-11ea-8866-4e83aff70f4d.jpg)
When setting Expo and Smoothing to OFF it loo

[2020-06-10 09:37] ctzsnooze commented on #447
Agree!  It would be great if by default they were off.

[2020-06-11 11:33] access3424 commented on #369
I have the same problem. What is going on!

[2020-06-12 06:57] 0crap commented on #447
@McGiverGim Can you please make the PR? Then we'll see how it goes from there.

[2020-06-12 17:02] McGiverGim commented on #447
This weekend I'm out of the computer. If I get some time I will do it next week.

[2020-06-14 02:07] mikeller commented on #447
@McGiverGim: No objections from my side. I think the objections were around the fact that the current display mode for this was not visible from screenshots in earlier versions, resulting in misleading screenshots being posted.

[2020-06-21 01:31] #447 closed

[2020-06-21 09:50] 0crap commented on #447
@McGiverGim I just installed the latest Configurator nightly build on top of my existing Windows installation. Guess what.... I see now Expo/Smoothing/Grid is automagically switched to Off.

Awesome!

[2020-06-23 06:26] dkijkuit commented on #329
Same issue here on a fresh Win10 system. After pressing 'Graph setup' and 'Save changes' the graph suddenly appeared.

[2020-06-23 07:24] McGiverGim commented on #329
We usually associated this to an update of the blackbox. Your windows 10 never had blackbox installed before?

[2020-06-23 07:26] dkijkuit commented on #329
No I actually used the blackbox for the first time ever ;)

[2020-06-29 12:59] #423 closed

[2020-07-03 13:25] sn0opy commented on #329
I can confirm @dkijkuit's issues. Same here. First time opening on Windows and had to follow the steps described above to get my graphs going.

[2020-07-03 13:32] McGiverGim commented on #329
I reopen this issue. Needs to be investigated.

[2020-07-06 14:55] TheIsotopes commented on #377
tested now with current master and now it is worse than before.

@McGiverGim pls can you fix this

![blackbox_explorer](https://user-images.githubusercontent.com/29702171/86607387-787c1f00-bfa9-11ea-99a9-d090137bd65b.jpg)

[2020-07-06 16:13] McGiverGim commented on #377
I will look into it this week if I have some time, I don't promise ;)

[2020-07-12 01:57] #377 closed

[2020-07-12 15:31] #446 closed

[2020-07-22 05:57] sweebee opened #458 "graphs not working on Mac OS (10.15.5)"
If I run the explorer on my Mac, I cant see any graphs. On windows it works fine. I see the following:

<img width="1678" alt="Schermafbeelding 2020-07-22 om 07 55 42" src="https://user-images.githubusercontent.com/10496485/88139895-ed2d9b00-cbf0-11ea-9734-3ab5ac029085.png">

[2020-07-25 06:27] #438 closed

[2020-07-27 23:11] kingfisher09 commented on #418
Hi, have you guys made any progress on this? I'd be happy to help if I can although my abilities are largely limited to python.

[2020-08-07 15:58] SamSpiri commented on #458
same here on linux. I tried to downgrade to 3.4.0 and to 3.3.1 with no luck.
then being on 3.3.1 I tried to touch "Graph setup" button. Then in a window just after Axis Label there is a dropbox with the number "1". I changed that to "2" and since then I can see the graphs. So then I launched the latest version and graphs were already there I didn't touch settings.

[2020-08-08 01:59] Nullstr1ng opened #466 "Should there be a graph? It's not showing in 3.5.0"
![image](https://user-images.githubusercontent.com/260633/89699967-7ec13a80-d95d-11ea-8ee4-3b222cc937e8.png)

Should there be a graph? It's not showing in 3.5.0.

I am using Windows 10,16GB, 1050Ti, 4GB, SSD 256GB

[2020-08-08 02:10] haslinghuis commented on #466
Try https://github.com/betaflight/blackbox-log-viewer/issues/458#issuecomment-670587211

[2020-08-10 12:29] ElvinC commented on #418
I've been working on a project for stabilizing footage using gyro data. The goal is to make something that works with data from the Betaflight Blackbox log and non-GoPro cameras. While stabilization itself is still work in progress, you can check out the current code [here](https://github.com/ElvinC/gyroflow). My plan is to focus on GoPro footage with embedded gyro data first, and then move over t

[2020-08-12 16:34] MiniGod commented on #344
What is it saying? He obviously asked because he didn't understand the error, and neither do I. What does `open context failed` mean?

I managed to get the video loading by first converting it to an `mp4` file. I used `ffmpeg -i PICT0003.AVI PICT0003.mp4`.

I didn't dig into what it is with the original file that causes this error, whether it's the codec, color-space or something else. The origina

[2020-08-17 02:58] ctzsnooze opened #467 "Motor display doesn't indicate motor_output limit or idle values"
I noticed that the motors traces all go to 100% at full throttle, even if motor_output limit is configured to 50% and the motors are actually spinning slower.

I also noticed that the motor trace shows 0% at the DShot idle value.  This doesn't provide a visual indicator of the idle value.  With dynamic idle, the actual DShot value being sent might transiently go lower than the DShot idle value.

I

[2020-08-17 02:59] ctzsnooze commented on #467
This image shows a log with motor_output_limit at 100% on left and 50% on right.

Note that the motors are shown as being driven to 100% in both cases, even though RPM is lower on right, and battery sage much worse on left, confirming that the output limit is really working..![Screen Shot 2020-08-17 at 12 08 52](https://user-images.githubusercontent.com/11737748/90353365-5639ee80-e089-11ea-9c30-75

[2020-08-17 03:01] ctzsnooze commented on #467
This image shows VBat sag compensation changes being reflected in the motor traces; with successive full throttle bursts, the battery voltage gets lower, and the actual motor drive percent goes higher, as it should.
![Uploading Screen Shot 2020-08-17 at 11.57.56.jpg…]()

[2020-08-17 03:11] ctzsnooze commented on #467
I note that DShot min and max values are sent to the log header and shown in the 'info' tab of BBE.

It seems that the only way the betaflight user can modify DShot max (other than by customising the code) is with motor_output_limit.

It seems (not sure) that DShot min is `47 + (DShot idle percent * 2000)` or something like that, and `DShot max is 47 + (motor_output_limit * 20)` or something like

[2020-08-17 07:37] McGiverGim commented on #467
I'm not too sure about this. If I'm not wrong, the motors shown at the blackbox are a percentage of the range configured, that I think is what most users want to see, not the "real" value of the motor. To me is indifferent if maximum is 70% or 100%, I only want to know that the motor is at maximum or minimum, the number that goes with it is indifferent, but usually what a user expects is the range

[2020-08-18 18:10] etracer65 commented on #467
The motor traces show the commanded output from the PID/mixer. They do not show the output of the motor relative to its physical capabilities. The PID/mixer commands 0 to 100% from the motor regardless of what the final thrust output is. Motor output limit should not be represented in the motor traces.

[2020-08-19 02:30] ctzsnooze commented on #467
I think this question depends on what the 'purpose' of the motors display is - what we use the logging for, or

https://github.com/betaflight/betaflight/issues/10012 is an example where the user wants to confirm whether or not motor_output_limit is active during turtle mode.  If the motor traces in BBE showed the actual effective DShot commands being sent, his question would be easily answered.

I

[2020-08-24 01:14] ctzsnooze commented on #467
See https://github.com/betaflight/betaflight/pull/10106

[2020-08-24 01:23] ctzsnooze commented on #467
The value of seeing the actual drive values to the motors, scaled from DSHOT_MIN_THROTTLE to DSHOT_MAX_THROTTLE, when the motor protocol is DShot, is of benefit in these situations:
- when the user enables dynamic idle, we will see motor drive dropping to zero (below the DShot idle value), and be able to see exactly what happens when the Dshot idle value is configured too high
- while the FC is no

[2020-08-24 14:28] HowToMeetLadies opened #468 "PNR"
1. The app can only be closed using the "Close window" button. Menu and shortcut have no function.
2. - Command+Q
    - "Quit betaflight-blackbox-explorer"
3. MacOs Catalina 10.15.6, Betaflight Blackbox Explorer 3.5.0

[2020-09-02 08:04] SgtDimes opened #470 "Feature Request: Send MSP motor updates when replaying a log - Bounty attached"
**Is your feature request related to a problem?**

I have built a static test stand to qualify new craft before flight. I would like to be able to replay motor output through an armed quad secured to the stand for testing.

**Describe the solution you'd like**

It was suggested that sending MSP motor updates while replaying a log file using Black Box Viewer could work.

Open to suggestions and oth

[2020-09-11 13:21] James-T1 opened #471 "Loading as unpacked extension in Chrome no longer works properly"
Loading Blackbox log viewer as an unpacked extension in Chrome per the Readme no longer works properly.  I did a git bisect to find the commit where it broke, and the commit where it quit working was this one: https://github.com/betaflight/blackbox-log-viewer/commit/ec4a79995f3ee91ad8f0ef5c2612d5be942c4c74

Screenshot of working commit previous to that:
![Working 3 5 0 on commit 91eeea34cc23a8ea6d

[2020-09-14 00:41] #458 closed

[2020-09-14 03:41] #466 closed

[2020-09-17 12:10] ouinouin commented on #329
same issue here under linux and V3.5

[2020-09-22 13:05] McGiverGim commented on #471
The theory is that the Chrome extension will get removed soon (Google is removing the support for Chrome apps).

Are you executing a `yarn install` to download the dependencies before loading it as extension?

[2020-09-22 13:18] mikeller commented on #471
@McGiverGim: Yeah, my thoughts too - Google will be retiring support for Chrome Web apps soon, so in this case I think the 'fix' is to move forward and remove support for building the Chrome Web app altogether (applies to configurator as well).

[2020-09-30 21:20] SinnedFpv opened #473 "Not able to open black box log"
Hello everyone,

I am having some hard times opening my logs for the black box. Every single time i try to open it i have the following error message:

Error opening log: No log in this file could be parsed successfully

I am running
clracing f7 v2.1 with mpu6000 gyro
BF 4.2
Blackbox is set to gyro_scaled 1khz serial port
Serial port is Set on uart1 under peripherals
Black box viewer is on 3.5

I

[2020-09-30 22:10] McGiverGim commented on #473
If you attach a log maybe we can help you.

[2020-09-30 23:51] SinnedFpv commented on #473
https://drive.google.com/drive/folders/1PlnpaXKuhoz6ZhbGR2IcR6t9O3yBvk3d?usp=sharing

This is the link to the log on my FC
I will paste my dump file if it it can help. I have all the log file for each flight I have done but when I try to open it I have the error message.

# dump

# version
# Betaflight / STM32F7X2 (S7X2) 4.2.0 Jun 14 2020 / 03:05:26 (8f2d21460) MSP API: 1.43
# config: manufacturer

[2020-10-01 07:03] McGiverGim commented on #473
The logs don't record the data. They contain the header of the Blackbox, but not the data. For this reason the blackbox can't open it.

So the problem is not a the Blackbox app, is more a firmware/configuration problem.

- If you think is a Configuration problem, use rcgroups or the official Betaflight Slack chat/facebook group asking for help.
- If you think is a firmware bug, open an issue in th

[2020-10-01 19:22] SinnedFpv commented on #473
ok, perfect thank you I will open a new ticket in the appropriate git hub

[2020-10-04 06:46] McGiverGim commented on #468
I mark this as a bug, but I don't have a mac to try to fix it.

[2020-10-11 23:21] #470 closed

[2020-10-12 14:40] wolkesson commented on #470
The Black Box Viewer is never connected to the aircraft. The log files are downloaded in other software (for example Betaflight Configurator) and just viewed here, hence the name. To replay motor control data one would have to have a connection to the autopilot and replay data at a very high and consistent speed.

I would say that this is technically not possible on a non-realtime operating system

[2020-10-25 12:15] ctzsnooze opened #477 "Suggestion : min and max values instead of % in the 'Graph setup' dialog box"
At the moment, if we wish to change the 'vertical scaling' of a waveform box, we use the 'Zoom' value, which is a percentage.

If the data is a value either side of centre value, like gyro, a zoom of 200% will let us see a zoomed in 'centre' range, ie the data that would normally occupy the middle 50% will be stretched vertically to fill the entire space.

Unfortunately, if the value has a hard 'z

[2020-10-29 11:17] #339 closed

[2020-10-29 11:32] bizmar opened #479 "Display selected gyro in log header viewer"
When doing comparisons between logs on FCs that have two gyros it would be useful to have the gyro selected gyro (first, second, both) saved in the log header.

This goes with https://github.com/betaflight/betaflight/issues/10314 requesting saving selected gyro in blackbox logs

[2020-10-29 11:46] mikeller commented on #479
Will need a change in the firmware to add this value to the log header in the first place.

[2020-10-30 14:20] #467 closed

[2020-10-31 23:26] #479 closed

[2020-11-07 22:09] mikeller commented on #471
Superseded by #474.

[2020-11-07 22:09] #471 closed

[2020-12-14 06:41] butterSnake opened #486 "android versiOn of blackbox"
Have got an android tablet so I don't have to Haul the full laptop to the field
An android version of this would be super rad as the paid racedrone version won't run logs from flash chips so it's totally useless

[2020-12-19 08:36] #473 closed

[2020-12-29 08:27] Ladislawv opened #489 "Dynamic notch filters on pitch axis are not limited by dynFiltNotchMaxHz"
### Describe the bug
There is a problem with dynamic notch filter or in the code that packs data for blackbox logging.

Dynamic notch filters on pitch axis are not limited by dynFiltNotchMaxHz. They are up to 800hz most of the time. On the roll axis everything seems OK.

There's no difference between the latest dev build from yesterday and BF 4.2.5. Tried it on two different quads.

### To Reprodu

[2020-12-29 15:30] druckgott opened #490 "Idea Map on Viewer"
Hallo, is it posbile to implement a map to the viewer. So maybe on the left top cornver that you can see a map where you actually flight if you have a gps signal. And then you can have a zoom by speed or a fixed zoom. Maybe with google maps.

[2021-01-09 23:10] meoso opened #492 "BBE 3.6.0 video export double-dialog"
* When exporting video, the expected save-as dialog appears. Video export processes, but file is not populated during this time, then upon export-completion, a second dialog appears and the file successfully saves from this second dialog.
* Unknown if this is limited to Linux or exists in all OS's.
* Ran this on Ubuntu 20.04
* Both BBE v20210105.1590 & BBE v20201226.1471 fail.
* v20201208.1320 wor

[2021-01-09 23:50] mikeller commented on #492
Tested with Ubuntu 20.04, the double dialog reproduces.

[2021-01-19 22:12] mooiweertje commented on #418
It would be nice if the log would only contain gyro data so the log file uses less space. My internal flash is only 16MB.

[2021-01-20 07:38] McGiverGim commented on #418
I think that what you want was done here: https://github.com/betaflight/betaflight/pull/9726

[2021-01-20 08:51] mooiweertje commented on #418
Ah yes, but not part of 4.2.6 but 4.3

[2021-02-08 20:28] N4V1G4T0R opened #497 "GPS speed missing in the dropdown list of available fields"
It seems, the GPS Speed is in the log, but it is not shown as a choosable field in the dropdown menu. It's also not there in the CSV export.

According to @mikeller it's written into the blackbox file by Betaflight: https://github.com/betaflight/betaflight/blob/2467b32f91fbaa1cfb13d95db246a3116cb33b68/src/main/blackbox/blackbox.c#L1022-L1047

Line 1041 "blackboxWriteUnsignedVB(gpsSol.groundSpeed);

[2021-02-09 10:14] mikeller commented on #497
@N4V1G4T0R: Have you tried the blackbox-tools (https://github.com/betaflight/blackbox-tools)? I think they can export the GPS speed.

[2021-02-15 17:25] granolaFPV opened #498 "MacOS Big Sur Crashes (Blackbox Explorer)"
1. Describe your problem:
Blackbox Explorer 3.5.0 crashes frequently on a MacBook Pro M1 running Big Sur 11.1. Often, but not always, the application crashes immediately after opening. Other times the application runs as expected for some time, but then crashes after an interaction. Also, other weird behavior is observed — e.g. the timeline at the bottom of the viewer window sometimes won't render

[2021-02-16 18:35] mikeller commented on #498
@granolaFPV: Can you please test with the latest build from https://github.com/betaflight/blackbox-log-viewer-nightlies/rele to see if this problem is fixed? If so the fix (an update of the NW.js framework) will be included in the next release, use a development build on the affected machine for now.

[2021-02-18 00:55] granolaFPV commented on #498
Thanks @mikeller for the nightly link. So far it's working great, as is the 10.8 nightly I've been running. I'll close the issue as I assume the NW.js fix is the root cause.

[2021-02-18 00:55] #498 closed

[2021-02-27 20:53] ghost opened #499 "CMD(⌘) + H(Hidding) on macOS bug"
Command-H: Hide the windows of the front app. Doing this on Betaflight Blackbox Explorer (and also Betaflight configurator) makes the app inoperable. After you click CMD+H you will be unable to open the app and you would need to quit it and redo whatever you where doing.

[2021-03-03 19:16] SebastianKumor opened #500 "No video only sound"
Opening gopro MPEG-4 file shows black screen and when I play the video only sound is working

I used gopro hero 7 with latest software to record this video  in 4k 4:3 30 fps

I am running mac OS Big Sur

I tried both latest release 3.5.0 and also pulled and built the master branch and same problem

I tried .mov file from my fatshark googles and that works fine.

I am thinking if I am missing some

[2021-03-04 07:47] McGiverGim commented on #500
It does not use the codecs of your system, it uses the ffmpeg library from here: https://github.com/iteufel/nwjs-ffmpeg-prebuilt

Maybe it does not support the gopro video codec?

[2021-03-04 11:01] SebastianKumor commented on #500
@McGiverGim could be, i tried both videos from hero 6 and 7 and same issue. I will also try to run it on windows if there is any difference

[2021-03-05 14:38] N4V1G4T0R commented on #497
So, it appears to be a matter for the bb explorer, the data is there.

[2021-03-05 14:38] #497 closed

[2021-03-05 14:38] N4V1G4T0R commented on #497
So it appears to be a matter for the explorer, the data is there.

[2021-03-09 02:29] hyperion11 opened #501 "Program crashed while export to csv log file"
link to log file
https://1drv.ms/u/s!AuFPVI_eDaZbhY1C00z8whcSC4KQIQ?e=BjV6gV
try stable 3.5.0 and latest nightly. Same problem - program crash.
FC Omnibus F4, fw Betaflight 4.2.5

[2021-03-11 10:01] McGiverGim commented on #501
I have tested a 3.5 version and it has worked. I've tested latest master and it has crashed.

Maybe some memory problem, your file generates a 244Mb CSV file that we keep in memory to download.

I will test if I can find something that makes it less stable.

[2021-03-11 11:31] McGiverGim commented on #501
I can confirm... my 3.5 version worked because it was a custom 64 bit version build.

Export to CSV your file takes more than 3Gb of memory. I optimized a little the code some time ago, but is clear that it needs more work on it. The 64bit of the Blackbox can work with it, the 32bit not and crashes.

On the other side, @mikeller maybe is time to publish a x64 version. I doubt there is too much peo

[2021-03-12 02:50] hyperion11 commented on #501
64bit windows version will be good solution i think.

[2021-03-22 02:18] mikeller commented on #501
@McGiverGim:

Yeah, I think we can switch to publishing the 64 bit version for Windows.

[2021-03-22 14:39] McGiverGim commented on #501
@hyperion11 I have pushed a PR to migrate to win64. Once merged the nightlies versions of the Blackbox Log Viewer will be 64bit versions.

Until then, if you want to test it I think you can download it from [here](https://dev.azure.com/Betaflight/Betaflight%20Nightlies/_build/results?buildId=2266&view=artifacts&pathAsName=false&type=publishedArtifacts) is where Azure has published the artifact, bu

[2021-03-28 05:30] #501 closed

[2021-04-12 04:42] #500 closed

[2021-04-20 06:50] bexamous opened #507 "Error vs Setpoint zoom/range wierd"
When viewing Error vs Setpoint, the horizontal zoom/range slider seems wonky.  It might work for a few ticks but then you start seeing some missing bars or no bars, eg:

![BlackboxPIDError-bad](https://user-images.githubusercontent.com/2084920/115349674-fb511d80-a168-11eb-859a-66445e70b405.png)

And while doesn't seem right, one move slider one tick further and suddenly all bars show up again:

![

[2021-04-20 09:12] McGiverGim commented on #507
This seems some round error at some calculation. Marked as bug.

[2021-04-25 05:24] expipiplus1 commented on #500
I have also encountered this on Linux, with several file encodings.

There are some repeated lines in the log along the lines of

[code]

However these do also appear on program load, before a video file has been selected.

I'm running `nw ./dist` after running `gulp dist`

[2021-05-14 23:15] haslinghuis commented on #501
For those still using `32bit` Windows use this instruction to build it yourself:

1. Install the `Nodejs` from here: https://nodejs.org/dist/latest-v10.x/node-v10.24.1-x86.msi
2. Clone the betaflight configurator (see the project for instructions, can also copy and expand the `zip` if not using `git`)
3. Step into the project directory and use

[code]
Output will speak for itself.

[2021-05-28 05:24] tn2009 opened #513 "Does not show 1080p video only sound and black screen"
In the blackbox explorer, only 2.7 k, 4k videos are displayed. I add 1080p video at any fps, the video does not appear only sound. I checked on the video from the GoPro Hero 7 Black, Runcam Hybrid.

[2021-06-02 13:22] McGiverGim commented on #513
Are you sure all your videos use the same codecs? I've several 1080p videos, from a Runcam Split, and they work perfectly.

We use the ffmpeg library from here: https://github.com/iteufel/nwjs-ffmpeg-prebuilt so we only support the codecs that this library support.

[2021-06-02 15:54] tn2009 commented on #513
Over the weekend I recorded a lot of videos via Rucam Hybrid. 1080p 60fps no video is displayed (black screen), only audio.

https://disk.yandex.ru/d/IurHH2ldSSbt1Q - information about the video file

[2021-06-03 09:51] McGiverGim commented on #492
I've made a PR as temporary fix for that. I will let this open because the underline bug remains, to see if we can fix it in a future maintaining the FileWriter support.

[2021-06-16 08:58] akonokhov opened #519 "Gyro debug lines don't overlap with with other lines of similar values"
When I'm putting gyro debug on the same graph with another fields that have the same or similar values, their lines do not overlap but have quite a big distance.
On the attached screenshot, according to the legend, all 5 lines should be somewhere close, at least those that show gyro values (723, 722, 722). But instead non-debug values are shown as expected and there is a distance between them and

[2021-06-16 09:05] akonokhov commented on #519
Forgot to mention that the behaviour is the same in v3.5.0 and in the nightly build (v3.6.0).

[2021-06-16 14:15] McGiverGim commented on #519
It seems that the debug mode `DUAL_GYRO_SCALED` that you are using has not been added to the Blackbox. I will add it.

[2021-06-16 14:36] McGiverGim commented on #519
@akonokhov you can test the change it if you want here: https://dev.azure.com/Betaflight/Betaflight%20Nightlies/_build/results?buildId=3056&view=artifacts&pathAsName=false&type=publishedArtifacts

[2021-06-30 12:38] akonokhov commented on #519
@McGiverGim , thanks!
I've tried that link but it doesn't show any artifacts. Also, tried to search Azure pipelines for that build, but didn't find anything.

[2021-06-30 13:29] McGiverGim commented on #519
The PR builds only last for some days... If you didn't catch it in time you will need to wait until this is merged or build it yourself.

[2021-07-10 04:39] #513 closed

[2021-08-08 20:39] LekeFly opened #524 "Analyzer zoom/scaling small screen cutoff"
<img width="1552" alt="Screenshot 2021-08-08 at 22 37 52" src="https://user-images.githubusercontent.com/219316/128645027-1799fea3-94da-4a12-98f4-fcf70aeff7f3.png">

I think the screenshot speaks for it self. Most of the information needed is here, but i would like see more to the right.

[2021-08-10 11:52] mikeller commented on #524
@LekeFly: No, it does not. Can you describe a bit better what change you would like to see?

[2021-08-10 12:03] LekeFly commented on #524
@mikeller My bad. Was supposed to write **to the right** my bad. And maybe the screenshot isn't the best either.

<img width="1065" alt="Screenshot 2021-08-10 at 13 58 26" src="https://user-images.githubusercontent.com/219316/128863002-7d65292f-df15-4558-8a1f-f73cd6ad2f85.png">

There's more going on up in the right corner here, but i can't zoom/scale/scroll. I see on YouTube videos etc where they

[2021-08-10 12:10] mikeller commented on #524
@LekeFly: So if I understand you right you'd like a way to zoom into the right side of the graph, instead of into the left side?

[2021-08-12 22:06] LekeFly commented on #524
![38D14D91-7BA8-486E-910C-504B7AC5E98F](https://user-images.githubusercontent.com/219316/129270750-52563a93-d36c-4383-a0cf-026c8f9134b7.png)

Finally found an example. Yes like this @mikeller. I’m sorry for the unclear explanation

[2021-08-24 15:20] LekeFly commented on #524
Not sure why this says i closed the issue.

[2021-09-03 06:56] #507 closed

[2021-09-03 07:05] #519 closed

[2021-09-12 13:56] compacq opened #531 "could you please give me some records?"
I want test this program, could you please give me some records to test. thanks.

[2021-09-17 07:11] JoeriCapens commented on #524
It just looks like you need to log at a higher rate. To get results up to 1 kHz, you need to log at 2 kHz because of the Nyquist theorem.

[2021-09-21 02:34] VerneZoe opened #533 "Export CSV file"
Hello developer
I found a problem: when the blackbox data exceeds 32 MB, the CSV file cannot be exported properly.
Can you fix it? Thank you.

[2021-09-21 06:28] McGiverGim commented on #533
What version are you using? The latest nightly in theory must fix this problems. If not please report again.

[2021-09-21 10:55] VerneZoe commented on #533
I'm using 3.6.0. I noticed this problem with version 3.5.0, and then I switch to the latest nightly version, and the problem persists.
The blackbox data source is OpenLager

[2021-09-21 11:17] McGiverGim commented on #533
Attach your log file to let others test it, to see if something can be fixed...

[2021-09-21 11:42] VerneZoe commented on #533
This blackbox data is used for gyroflow.Because it's a long range, the data is big.

https://1drv.ms/t/s!AvxPoj9XbsltnGRxC5Qhe4WhxGR7?e=T9cLMz

[2021-09-25 11:13] ClydeFPV opened #534 "Empty NW.JS Window"
Hello Betalflight Devs,

I'm having problems with install of Betaflight Blackbox Explorer and it's now beginning to drive me nuts.  I downloaded the latest version of the Blackbox Log Viewer .exe file from GitHub (betaflight-blackbox-explorer-installer_3.5.0_win32.exe) to my PC (Windows 10 - 64bit). The install seems to run as normal, however when the app is run an empty NW.JS window appears and t

[2021-10-15 02:58] johnleone0 opened #536 "FEATURE REQUEST: Donate your Blackbox data for science"
# Create a large open dataset of Blackbox logs for community experiments.

Data is a significant hurdle to overcome in order to improve current design and potentially create new types of control loops. It would be greatly beneficial to create an open dataset for the community. Developers and data scientists could consume this data for improving current implementations (regression tests?) and creat

[2021-10-16 15:50] AdrY89 opened #537 "Problem spike on roll"
Problem spike on roll
Hi friends.
Now with the new version of emuflight i have spike on roll …
So, when I make a rapid roll, sometime I lost the control of drone
I attached some photo of emuflight and bb.
ESC 16.9 48KHZ
Version # EmuFlight / FLYWOOF405 (FWF4) 0.4.0 Aug 23 2021
![bb0](https://user-images.githubusercontent.com/32439602/137593897-07a90d1a-e22c-4f0d-a813-9cf2dbc19d04.png)
![bb1](https

[2021-10-16 16:20] McGiverGim commented on #537
This is not the support channel for emuflight.

[2021-10-16 16:20] #537 closed, assigned to nobody

[2021-10-22 12:34] patkszen opened #538 "video not visible"
1. Audio present but no video is being replayed in blackbox
3. Provide as much information as possible about your hardware and software, including:
 - Win10, Blackbox
- footage from gorpo6, 2.7K 60fps, no stabilization, mp4

[2021-10-29 21:49] haslinghuis commented on #534
Sorry for late reply. Runs fine here. Maybe you could check: https://github.com/betaflight/blackbox-log-viewer-nightlies/releases

[2021-10-30 08:24] TheIsotopes opened #541 "logviewer from latest master not starting"
@haslinghuis using latest master on windows 10 will not start
after replacing ffmpeg v0.55.0 with v0.54.0 and logviewer is starting again

pls can you check this.

@haslinghuis your uploaded the ia32 version in the x64 drawer ... #542 will fixed this

[2021-11-12 02:07] #541 closed

[2021-11-12 19:49] lormandrw opened #544 "Can not run 64 bit version of blackbox-log-viewer"
I have a Windows 10 64 bit PC. I have several apps that run on this PC which are 64 bit including Betaflight Configurator. I noticed starting with build v20210328.2336 the nightly builds went to 64 bit. For some reason, I have not been able to run the 64 bit versions. I have checked windows logs, but have not seen any errors. Sorry if this is not the correct place to put this.  Any help would be g

[2021-11-21 04:39] #536 closed

[2021-11-24 21:04] haslinghuis commented on #538
Maybe also upload the BBL file so we can test this on our side

[2021-12-06 04:40] #534 closed

[2021-12-14 20:08] patkszen commented on #538
I am able to read BBL's. It is when I try to open video with open logfile/video option no video overlay is showing.

[2021-12-20 04:40] #544 closed

[2021-12-22 20:08] BrandonsBakedBeans opened #548 "Newer builds of 3.6 Not Win7 Compatible"
Win7 and ChromeOS on ARM is all I work with currently. I can't see the updated headers from 4.3 logs easily and the FFT charts don't display filters properly on the old build of 3.6 BBE I'm using. New nightly doesn't install on Win7.

[2021-12-22 20:16] haslinghuis commented on #548
Windows 7 is EOL for almost 2 years now. Please see: https://www.microsoft.com/en-us/windows/windows-7-end-of-life-support-information.

We now only offer 64 bit builds for Windows.

Please also see: https://github.com/betaflight/betaflight-configurator#windows-users

[2021-12-28 03:45] pcfranco05 commented on #538
I am also having the same issue. I can upload some video and a black box log to a google drive if that would be helpful.

[2022-01-06 06:43] lawrence766 opened #556 "la"
### Describe the bug

### To Reproduce

### Expected behavior

### Setup

- Blackbox Explorer version:

[2022-01-06 12:43] #556 closed

[2022-01-12 13:34] meoso commented on #492
honestly, the best solution for me was revert NW.js to 0.48.4 which was the last version that worked as expected.

[2022-01-13 00:40] haslinghuis commented on #492
@meoso Yes we have a lot of work to do. Chrome API's are deprecated and we need to adapt. See https://github.com/betaflight/betaflight-configurator/pull/2636

[2022-01-23 02:43] haslinghuis commented on #548
Does this install: https://github.com/betaflight/blackbox-log-viewer-nightlies/releases/tag/v20211029.4376

[2022-01-24 16:57] bakwc opened #561 "Crash on MacOS 11"
### Describe the bug
Blackbox explorer crashes on MacOS

### To Reproduce
1) Run blackbox explorer
2) (not always necessary, sometimes crashes on start) Load log file
3) Load log file and scroll or make some actions

### Expected behavior
No crash

### Setup

- Blackbox Explorer version: 3.5.0
- MacOS 11.6.1

Core dump:

[code]

After 3 or 5 launches it stops crashing automatically. If don't launc

[2022-01-24 18:54] BrandonsBakedBeans commented on #548
No it does not. I get an error with the description "This program does not support the version of Windows your computer is running"

If I have it installed on a win10 machine and copy the install directory it runs fine on win7-64bit

[2022-01-24 19:49] haslinghuis commented on #548
And this one: https://github.com/betaflight/blackbox-log-viewer-nightlies/releases/tag/v20210811.3500
(reverts NW.js 0.54.0 to 0.50.2, previous version was reverting to NW.js 0.54.0 from 0.54.1).

[2022-01-24 22:12] haslinghuis commented on #561
Please try: https://github.com/betaflight/blackbox-log-viewer-nightlies/releases/latest

[2022-01-25 08:11] bakwc commented on #561
This one works fine, no crashes. Thank you.

[2022-01-25 08:11] #561 closed

[2022-01-28 09:25] McGiverGim commented on #548
It is not a problem of the NW version, is a restriction we add to the installer.

https://github.com/betaflight/blackbox-log-viewer/blob/5eed5dacfee687a1da5a9a7fa9bd94c0836f86f0/assets/windows/installer.iss#L65

This was done to be in line with the Configurator, because the NW version that we use is not compatible with Win7 and some features that the Configurator need, more info here: https://gith

[2022-01-28 09:26] McGiverGim commented on #492
This was totally fixed in https://github.com/betaflight/blackbox-log-viewer/pull/553 so I close this.

[2022-01-28 09:26] #492 closed

[2022-01-30 14:02] #548 closed

[2022-02-09 04:38] #538 closed

[2022-02-27 09:14] McGiverGim opened #568 "Log header does not adapt to the minimum resolution"
### Describe the bug

The log header window now has a lot of "horizontal" fields. In older version it was calculated to be usable with the minimum size allowed, but now, it simply cuts the right part:

![image](https://user-images.githubusercontent.com/2673520/155876087-d9a3cd61-9fe1-4691-9807-6326f998f07e.png)

I don't know if we want to "adapt" it to fit (maybe some flex to move the fields from

[2022-03-01 11:56] #568 closed

[2022-04-16 10:40] mituritsyn opened #570 "Add ability to download logs from FC"
### Is your feature request related to a problem? Please describe

You always need to open BF Configurator first

### Describe the solution you'd like

Port from BF Configurator "activate mass storage device mode" and "save to file" options so one doesn't need to open configurator first to get log files

### Describe alternatives you've considered

-//-

### Other information

_No response_

[2022-04-18 14:45] jasonbrewer opened #571 "Error opening log: No logs in this file could be parsed successfully"
### Describe the bug

Error opening log: No logs in this file could be parsed successfully

Using a MAC.
Betaflight blackbox 3.5.0

The file name is : LOG00237.BFL (454kb)
Using Beatflight 10.7.2
Recorded on an SD card onto the FC

### To Reproduce

Open Betaflight blackbox explorer. Click open log. Find log. Open. receive error code Error opening log: No logs in this file could be parsed successf

[2022-04-20 13:14] McGiverGim commented on #571
Without more info, for example the log file with the problem, we can't say too much.

[2022-05-17 05:55] mituritsyn commented on #570
still here

[2022-05-28 04:40] #571 closed

[2022-06-08 09:48] musdom opened #576 "Window unresponsive after loading workspace or log file in Ubuntu 22.04"
### Describe the bug

I can open a bbl file and it appears, but I can't scroll through the log or press any other button. I can only close and reopen BBL viewer.

### To Reproduce

Install and run BBL viewer in Ubuntu 22.04, then load a bbl file.

### Expected behavior

Can use BBL viewer normally

### Betaflight Blackbox Explorer version

3.5.0

### Add any other context about the problem that yo

[2022-06-08 09:50] haslinghuis commented on #576
@musdom please try https://github.com/betaflight/blackbox-log-viewer-nightlies/releases/tag/v20220521.1

[2022-06-08 09:56] musdom commented on #576
This works! Thanks!

[2022-06-08 09:56] #576 closed

[2022-06-15 19:11] b00zled commented on #486
Is there still a possibility of getting BBLV apk for Android use? That would be huge as it would completely remove the need of a computer from the equation for everything BetaFlight for all but the most troublesome and/or involved configuration/analysis. I’m no dev, but from the outside, seems like it wouldn’t be terribly difficult, but I could easily be very wrong. Just trying to keep the hope al

[2022-06-24 16:07] meoso opened #587 "`master` (Linux) does not see filenames with capital filename extensions"
### Describe the bug

* `master`'s open-file dialog does not see files with capital letter extensions
* e.g. `BBL`, `AVI`, etc do not list; However `bbl`, `avi` do list.
* `Linux 5.10.0-15-amd64 SMP Debian 5.10.120-1 (2022-06-09) x86_64 GNU/Linux` (did not test other OS's)
* PR #574 does not solve.
* the code is correctly using the `/i` ignore case parameter, therefore i suspect `NWjs` as the prob

[2022-06-24 19:15] meoso opened #588 "release `3.6.0` (Linux) export-video does nothing."
### Describe the bug

* Export video does not (Linux).
* suspect NWjs
* other references #492 , #516
* tried multiple .BBL
* `Linux 5.10.0-15-amd64 SMP Debian 5.10.120-1 (2022-06-09) x86_64 GNU/Linux`
* https://youtu.be/8P3df754LTA

### To Reproduce

* Run released v3.6.0 or `master` as of 2202-06-24
* export video

### Expected behavior

process and save video

### Betaflight Blackbox Explorer ve

[2022-06-24 21:52] #425 closed

[2022-06-24 22:21] haslinghuis commented on #587
Works on Ubuntu 20.04 LTS

Try
[code]

[2022-06-25 02:49] haslinghuis commented on #588
Works on Ubuntu 20.04LTS

[2022-06-25 17:07] meoso commented on #588
confirmed `Ubuntu 20.04.4 LTS` works; may be a gtk2 vs gtk3 thing :(

[2022-06-25 17:07] #588 closed

[2022-06-25 17:11] meoso commented on #587
Also confirmed `Ubuntu 20.04.4 LTS` working.  My Debian 11 obviously different :(  both are XFCE4, fwiw.

[2022-06-25 17:11] #587 closed

[2022-07-15 05:40] jasc76 opened #589 "Display BF4.3 log, gyro data not displayed correctly"
### Describe the bug

I have a build with BF4.3 and the only thing that might be special is, that the fc is flipped upside down.
Gyro traces (here debug gyro scaled) but also the other gyro stuff is displayed totally wrong.
I randomly chose BBE 3.4 and it shows the data correctly
[btfl_all.zip](https://github.com/betaflight/blackbox-log-viewer/files/9118133/btfl_all.zip) - Quad without props, arme

[2022-07-19 12:52] meoso commented on #587
findings:
* NWjs 0.50.0 and prior, works
* NWjs 0.51.0 though 0.65.1 fails
* NWjs 0.66.0 and .1 works

Caveat, all the above only tested with node v16.15.1

[2022-07-19 13:55] meoso commented on #588
findings:
* NWjs 0.55.0 and prior, works
* NWjs 0.56.0 and later, even latest fails.

Caveat, tested with node v16.15.1 on Debian 11 only.

[2022-07-19 22:30] #499 closed

[2022-09-01 00:09] Hawxxer opened #594 "Craft visualization jumps? Maybe gimbal lock?"
### Describe the bug

When viewing the log the crafts orientation randomly spins. See around 5.5 seconds in. No pitch or roll is added the craft just jumps, not seen inflight. Coming from robotic but not looking into the code, I guess it has something to do how the gyro data is processed and maybe getting confused by negative gyro data? Maybe it has something to do with a Gimbal lock? Just guessin

[2022-09-01 14:36] Hawxxer commented on #417
Yes especially the last part, it's very hard to compare the 2d graphs with the frequency and amplitude sliders, just add a numerical value so I can set two plots to the same scale to compare.

[2022-09-09 12:41] ApolloBian opened #595 "Cannot set pidsum through cli"
### Describe the bug

I have set pidsum_limit & pidsum_limit_yaw both to 1000 through cli:
![image](https://user-images.githubusercontent.com/13659369/189351539-ccc43cb6-78c3-41db-b2d6-b33b774f352d.png)

However, in blackbox explorer, the traces show that pidsum is only at 500(50%):
![image](https://user-images.githubusercontent.com/13659369/189351709-3779c03d-6876-45da-9409-a11e375ba716.png)
the

[2022-09-13 06:38] ApolloBian commented on #595
@haslinghuis yes, but in the logs the pidsum_limit seems to be 500

[2022-09-13 06:40] ApolloBian commented on #595
@haslinghuis I set the pidsum_limit to 1000, confirm it to be 1000 in the cli. After that I take a test flight, but the log shows that pidsum_limit is at 500 during the test flight.

[2022-09-13 08:10] McGiverGim commented on #595
Can you attach the log file? I think the pidsum is taken from the header. We can see what values contain in the header.

[2022-09-14 13:32] ApolloBian commented on #595
@McGiverGim also, take a look at this screenshot, in the red box the pidsum is limited to 50%

[2022-09-17 13:04] ApolloBian commented on #595
@McGiverGim Wow that explains the problem! I set the cell count of this profile to 4, and I run it on a 3s battery.

[2022-09-17 13:04] #595 closed

[2022-10-15 00:19] ctzsnooze opened #602 "Allow user to display logged GPS Data"
Currently, `blackbox_disable_gps` is set to `OFF` by default, so we should expect GPS data to be saved to the log when GPS data is available, and to be able to review that data in Blackbox Log Viewer.

In [blackbox/blackbox.c](https://github.com/betaflight/betaflight/blob/master/src/main/blackbox/blackbox.c) there are [many references to logging GPS data](https://github.com/betaflight/betaflight/b

[2022-11-15 07:43] atlaware commented on #602
https://github.com/betaflight/betaflight/discussions/11990
Hi, very good if can be implemented gps data export/show on blackbox-log-viewer.
But with https://github.com/cleanflight/blackbox-tools you can already get gps data into a gpx file or into csv file. from At least with bf <=4.2.
Try simply with: blackbox_decode --merge-gps [LOG FILE]
But as described there: https://github.com/betaflight/bet

[2022-11-15 23:24] ctzsnooze commented on #602
More info, in case someone with JavaScript brains can help....

Thanks to @nerdCopter we have some [code that will log the values identified in the header](https://github.com/nerdCopter/blackbox-log-viewer/commit/8f42a13d87bbde8c68eed13cceb6a4252ba9c077).

A sample of one block of fields from that logging shows that the values are in the log; I annotated the interpretation
[code]

In the firmware

[2022-11-16 14:07] nerdCopter commented on #602
i don't think my code is worthy of PR, but someone could easily pull the code in this fashion:
[code]

[2022-11-16 23:21] haslinghuis commented on #602
Please provide a BBL with GPS data.

[2022-11-16 23:55] bonchan commented on #602
[here]([https://wetransfer.com/downloads/51f6ff1317f3f619e6d1ed1cbce27e4b20221116235336/cfcd1e6474a3cde48d2aaf3173fcaa9a20221116235349/26f39a](https://wetransfer.com/downloads/51f6ff1317f3f619e6d1ed1cbce27e4b20221116235336/cfcd1e6474a3cde48d2aaf3173fcaa9a20221116235349/26f39a?trk=TRN_TDL_01&utm_campaign=TRN_TDL_01&utm_medium=email&utm_source=sendgrid))

[2022-11-16 23:57] bonchan commented on #602
[here](https://wetransfer.com/downloads/51f6ff1317f3f619e6d1ed1cbce27e4b20221116235336/cfcd1e6474a3cde48d2aaf3173fcaa9a20221116235349/26f39a?trk=TRN_TDL_01&utm_campaign=TRN_TDL_01&utm_medium=email&utm_source=sendgrid)

[2022-11-17 13:34] nerdCopter commented on #602
another, provided by @ctzsnooze
[GpsBaroIntegration1.BBL.zip](https://github.com/betaflight/blackbox-log-viewer/files/10031993/GpsBaroIntegration1.BBL.zip)

[2022-11-19 18:21] LinusThorsell commented on #602
What is the status of this feature?
Any PR's incoming or work done?

Personally looking to contribute if needed.

[2022-11-19 20:03] haslinghuis commented on #602
Didn't get further as:

[diff.txt](https://github.com/betaflight/blackbox-log-viewer/files/10047861/diff.txt)

[2022-11-21 05:49] bonchan commented on #602
I continued with @haslinghuis code and I got stuck trying to get the data to the chunk.

this is the [commit](https://github.com/bonchan/blackbox-log-viewer/commit/e48ef6f4d9c80377f286d2455cf5472c164d3a8e),
it has some comments to explain my problem.

could anyone add the gps values to the chunk?

[2022-11-24 01:06] haslinghuis commented on #602
Fixed in #606

[2022-11-24 01:06] #602 closed

[2022-11-28 04:49] aowi7280 opened #611 "BBE 3.7.0 Nightly does not decode BaroAlt"
### Describe the bug

BB Nightly 3.7.0 (v20221126.30) does not decode the baro altitude in the View Log Header. Released version 3.6.0 works OK.

![BBE Altitude decode](https://user-images.githubusercontent.com/25130267/204195497-c352ddfe-dd1f-48b8-9a33-9bf3cdc81448.JPG)

### To Reproduce

Install 3.7.0, open blackbox log, click the view log header icon on top row.

### Expected behavior

It shoul

[2022-11-28 22:59] haslinghuis commented on #589
Please post a screenshot of your rates settings as it works fine with defaults settings.

The graph from your log would show up as before using the default case instead:

https://github.com/betaflight/blackbox-log-viewer/blob/25e39c631188ed380f205592e56fd20f438668d1/js/graph_config.js#L192-L208